<app-currentpage [currentPage]="currentPage"></app-currentpage>

<div class="mat-typography app-container">
    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            Herausgeber
        </mat-expansion-panel-header>

        <p> Edecy UG (haftungsbeschränkt) <br>
            <br>
            Adresse: <br>
            Edecy UG <br>
            Chausseestr. 88 <br>
            10115 Berlin <br>
            <br>
            Telefon: 030 8632151 80 <br>
            <br>
            E-Mail: <br>
            info@edecy.de <br>
            <br>
            Geschäftsführer: <br>
            Florian Otto, Fabian Schmidt-Skipiol <br>
            <br>
            Handelsregister: <br>
            AG Charlottenburg, HRB 200278 B <br>
            <br>
            Umsatzsteuer-Identifikationsnummer: <br>
            DE320400916 <br>
            <br>
            Die Europäische Kommission hat eine Plattform zur Online-Streitbeilegung bereitgestellt. Die
            OS-Plattform finden Sie unter diesem Link: <br>
            <a target="_blank" href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a>
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            Technische Informationen
        </mat-expansion-panel-header>
        <p> Wir weisen Sie darauf hin, dass die Vertraulichkeit im Internet nicht gewährleistet ist. Jeder Benutzer
            ist daher allein verantwortlich, seine Daten und/oder Softwares vor eventuellen im Internet
            zirkulierenden Viren angemessen zu schützen.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            Hyperlinks
        </mat-expansion-panel-header>
        <p> Die Einrichtung eines Hyperlinks auf die Website portal.edecy.de unterliegt der Genehmigung des
            publizistischen Leiters.
            Der publizistische Leiter übernimmt keinerlei Haftung für auf der Website portal.edecy.de eingerichtete
            Hyperlinks zu anderen Websites.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            Urheberrechte
        </mat-expansion-panel-header>
        <p> Die durch die Seitenbetreiber erstellten Inhalte auf diesen Seiten unterliegen dem deutschen
            Urheberrecht.
            Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des
            Urheberrechtes bedürfen der schriftlichen Zustimmung des Rechtsinhabers bzw. des Erstellers.
            Jede vollständige oder teilweise Reproduktion oder Darstellung der Webseiten, Daten oder eines
            Bestandteils der Website portal.edecy.de,
            in welchem Verfahren und auf welchem Datenträger auch immer, ist ohne Zustimmung des Herausgebers
            untersagt und bedeutet eine Fälschung.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            Haftungsausschluss
        </mat-expansion-panel-header>
        <p> Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt.
            Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann keine Gewähr übernommen werden.
            Als Diensteanbieter bzw. Herausgeber dieser Website sind wir gemäß § 7 Abs. 1 TMG für eigene Inhalte auf
            diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
            Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter bzw. Herausgeber jedoch nicht verpflichtet, übermittelte
            oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine
            rechtswidrige Tätigkeit hinweisen.
            Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
            bleiben hiervon unberührt.
            Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung
            möglich.
            Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
        </p>
    </mat-expansion-panel>
</div>