<div class="current-page mat-typography" fxLayout fxLayoutAlign="space-between center">
    <div fxFlex="20" fxLayoutAlign="center">
        <button mat-icon-button color="primary" (click)="returnToProfileView()" fxHide.gt-sm>
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
    </div>
    <h1 fxFlex="60" fxLayoutAlign="center">Profil bearbeiten</h1>
    <div fxFlex="20">
    </div>
</div>
<div class="mat-typography" id="content-container" fxLayout="row">
    <div id="content-start" fxHide.lt-md>
        <app-blog></app-blog>
    </div>
    <div fxLayout="column" id="content-center">
        <div class="progress-bar" *ngIf="currentStep !== 4 && !userHasProfile">
            <div class="progress-inner" [style.width.%]="progress"></div>
        </div>
        <div class="form-container shadowed-short" *ngIf="currentStep !== 4">
            <div *ngIf="currentStep === 1 || userHasProfile">
                <p class="info-heading" fxHide.gt-sm *ngIf="!userHasProfile">
                    1/3 Allgemeine Informationen
                </p>
                <h1>
                    Herzlich Willkommen {{ (currentUser$ | async).attributes.firstName }}
                    {{ (currentUser$ | async).attributes.lastName }}!
                </h1>
                <p>
                    Helfen Sie uns, Ihre Organisation besser kennenzulernen:
                </p>
                <form [formGroup]="step1">
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" class="public-type-container">
                        <div class="public-buttons" fxLayout="row" fxLayoutGap="15px">
                            <div [ngClass]="{'active': step1.value.public === false}" fxLayout="column"
                                fxLayoutAlign="start center" fxLayoutGap="15px" (click)="changePublic(false)">
                                <mat-icon svgIcon="domain" class="public-icon"></mat-icon>
                                <p>
                                    Privat
                                </p>
                            </div>
                            <div [ngClass]="{'active': step1.value.public === true}" fxLayout="column"
                                fxLayoutAlign="start center" fxLayoutGap="15px" (click)="changePublic(true)">
                                <mat-icon svgIcon="school" class="public-icon"></mat-icon>
                                <p>
                                    Öffentlich
                                </p>
                            </div>
                        </div>

                        <div class="type-buttons" *ngIf="step1.value.public === false" fxLayout="row">
                            <div *ngFor="let type of companyTypes"
                                [ngClass]="{'active': step1.value.companyType === type}"
                                (click)="changeCompanyType(type)" fxLayout="column" fxLayoutAlign="center center">
                                <p>{{ type }}</p>
                            </div>
                        </div>

                        <div class="type-buttons" *ngIf="step1.value.public === true" fxLayout="row">
                            <div *ngFor="let type of instituteTypes"
                                [ngClass]="{'active': step1.value.instituteType === type}"
                                (click)="changeInstituteType(type)" fxLayout="column" fxLayoutAlign="center center">
                                <p>{{ type }}</p>
                            </div>
                        </div>
                    </div>




                    <mat-form-field>
                        <input matInput placeholder="Einrichtungsname (bspw. Lehrstuhl, Institut, Bereich)"
                            formControlName="title">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                            placeholder="Organisationsname (bspw. Hochschule, Universität, Unternehmensname)"
                            formControlName="organisation">
                    </mat-form-field>

                    <p style="margin-top: 15px">Wo finden wir Sie?</p>

                    <mat-form-field>
                        <input matInput placeholder="Straße & Hausnummer" formControlName="streetNo">
                    </mat-form-field>


                    <div fxLayout="row" fxLayoutGap="12px">
                        <mat-form-field fxFlex="70">
                            <input matInput placeholder="PLZ" formControlName="plz">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Ort" formControlName="city">
                        </mat-form-field>
                    </div>

                    <mat-slide-toggle formControlName="loginRequired" style="margin-bottom: 35px; width: 100%">Profil
                        nur registrierten Nutzern anzeigen</mat-slide-toggle>

                    <button mat-raised-button color="primary" (click)="nextStep()" [disabled]="step1.invalid"
                        class="firstButton submit-button" *ngIf="!userHasProfile">
                        weiter
                    </button>
                </form>
            </div>

            <div *ngIf="currentStep === 2 || userHasProfile">
                <p class="info-heading" fxHide.gt-sm *ngIf="!userHasProfile">
                    2/3 Detailinformationen
                </p>
                <div class="edit-separator" *ngIf="userHasProfile"></div>
                <h1 [ngClass]="{'higher-margin': userHasProfile === true}">
                    Gefunden werden
                </h1>
                <p>
                    Für eine höhere Sichtbarkeit Ihres Profils benötigen wir weitere Informationen:
                </p>

                <form [formGroup]="step2">
                    <div fxLayout="row" class="image-input">
                        <input type="file" name="picture" id="pictureInput" class="inputfile"
                            (change)="fileChangeEvent($event)" accept="image/x-png,image/jpeg" />
                        <label for="pictureInput" fxLayout="column" fxLayoutAlign="center center" *ngIf="!showCropper"
                            [ngClass]="{'imageUploaded': pictureUrl !== ''}">
                            <div *ngIf="pictureUrl === ''; else previewPicture">
                                <mat-icon svgIcon="add-photo"></mat-icon>
                                <p>Logo hochladen</p>
                            </div>
                            <ng-template #previewPicture>
                                <img src="{{pictureUrl}}" />
                            </ng-template>
                        </label>

                        <p *ngIf="!showCropper">
                            verwendbare Formate: <br>
                            .jpg, .png<br>
                            <br>
                            max. 10 MB<br>
                        </p>
                        
                        <image-cropper *ngIf="showCropper" [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true" [aspectRatio]="1 / 1" [resizeToWidth]="375" format="png"
                            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                        </image-cropper>
                    </div>

                    <div *ngIf="showCropper" class="create-profile-view" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
                        <button mat-raised-button (click)="cancelPictureUpload()" color="accent"
                            class="image-save-button">
                            Abbrechen
                        </button>

                        <button mat-raised-button (click)="uploadPicture()" color="primary" type="submit"
                            class="image-save-button">
                            Annehmen
                        </button>
                    </div>

                    <p class="descriptionParagraph">
                        Stellen Sie sich kurz vor:
                    </p>

                    <div class="froala-description">
                        <textarea [froalaEditor]="froalaOptions" formControlName="description"></textarea>
                    </div>

                    <p class="descriptionParagraph">
                        Wie viele Personen sind in Ihrer Organisation beschäftigt?
                    </p>

                    <div class="org-sizes" fxLayout="row">
                        <div *ngFor="let size of orgSizes" (click)="selectSize(size)"
                            [ngClass]="{'active': step2.value.orgSize === size}" fxLayout="column"
                            fxLayoutAlign="center center">
                            <p>{{ size }}</p>
                        </div>
                    </div>

                    <p class="descriptionParagraph">
                        In welchem Fachgebiet sind Sie tätig?
                    </p>

                </form>

                <mat-select [(ngModel)]="selectedSubject" (selectionChange)="showDisciplines()"
                    placeholder="Wählen Sie Ihre Fachrichtung">
                    <mat-option *ngFor="let subject of specialties;" [value]="subject.title">
                        {{ subject.title }}
                    </mat-option>
                </mat-select>
                <br>
                <mat-select [(ngModel)]="selectedDiscipline" (selectionChange)="showSpecialties()"
                    placeholder="Wählen Sie Ihre Disziplin">
                    <mat-option *ngFor="let discipline of disciplineToShow;" [value]="discipline.index">
                        {{ discipline.disciplineTitle }}
                    </mat-option>
                </mat-select>
                <br>
                <mat-select [(ngModel)]="selectedSpecialty" (selectionChange)="selectSpecialty()"
                    placeholder="Wählen Sie Ihre Spezialisierung" multiple>
                    <mat-option *ngFor="let specialty of specialtiesToShow;" [value]="specialty">
                        {{ specialty }}
                    </mat-option>
                </mat-select>

                <form [formGroup]="tagForm">
                    <mat-form-field>
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let tag of tags; let i = index;" [selectable]="selectable"
                                [removable]="removable" (removed)="removeTag(tag)">
                                {{tag}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Schlagworte" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="addTag($event)">
                        </mat-chip-list>
                    </mat-form-field>
                    <p class="tag-info" *ngIf="tags.length > 2">
                        Die ersten drei Schlagworte erhalten bei unserem Matching-System eine höhere Gewichtung.
                    </p>

                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <button mat-raised-button color="primary" (click)="lastStep()" *ngIf="!userHasProfile">
                            zurück
                        </button> <button mat-raised-button color="primary" (click)="nextStep()"
                            [disabled]="step2.invalid" *ngIf="!userHasProfile" class="submit-button">
                            weiter
                        </button>
                    </div>
                </form>
            </div>

            <div *ngIf="currentStep === 3 || userHasProfile">
                <p class="info-heading" fxHide.gt-sm *ngIf="!userHasProfile">
                    3/3 Matching
                </p>
                <div class="edit-separator" *ngIf="userHasProfile"></div>
                <h1 [ngClass]="{'higher-margin': userHasProfile === true}">
                    Partner finden
                </h1>
                <p>
                    Für ein optimales Matching empfehlen wir folgende Informationen zu ergänzen:
                </p>

                <form [formGroup]="step3">
                    <p class="descriptionParagraph">
                        Wofür interessieren Sie sich?
                    </p>

                    <div class="interest-buttons" fxLayout="row">
                        <div *ngFor="let interest of interests" (click)="selectInterest(interest)"
                            [ngClass]="{'active': step3.value.interest.indexOf(interest) > -1}" fxLayout="column"
                            fxLayoutAlign="center center">
                            <p>{{ interest }}</p>
                        </div>
                    </div>

                    <mat-slide-toggle formControlName="projectLeadershipPossible" style="margin-top: 25px; width: 100%">
                        Würden
                        Sie die Leitung von <br fxHide.gt-sm>Projekten übernehmen?</mat-slide-toggle>


                    <p class="descriptionParagraph">
                        Zeigen Sie potentiellen Partnern Ihre Forschungskompetenzen:
                    </p>

                    <div class="researches" fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="space-between start" (click)="addResearch('focus')"
                            [ngClass]="{'filled': focuses.length > 0}">
                            <p>Forschungsschwerpunkte</p>
                            <p class="add-icon"><span fxHide.lt-md>hinzufügen</span> +</p>
                        </div>
                        <div *ngFor="let focus of focuses; let i = index" fxLayout="row"
                            fxLayoutAlign="space-between start" class="single-research-item">
                            <p>{{ focus.title }}</p>
                            <div fxLayout="row">
                                <mat-icon (click)="editFocus(i)">edit</mat-icon>
                                <mat-icon (click)="deleteFocus(i)">delete</mat-icon>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between start" (click)="addResearch('project')"
                            [ngClass]="{'filled': projects.length > 0}">
                            <p>Projektreferenzen</p>
                            <p class="add-icon"><span fxHide.lt-md>hinzufügen</span> +</p>
                        </div>
                        <div *ngFor="let project of projects; let i = index" fxLayout="row"
                            fxLayoutAlign="space-between start" class="single-research-item">
                            <p>{{ project.title }}</p>
                            <div fxLayout="row">
                                <mat-icon (click)="editProject(i)">edit</mat-icon>
                                <mat-icon (click)="deleteProject(i)">delete</mat-icon>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between start" (click)="addResearch('publication')"
                            [ngClass]="{'filled': publications.length > 0}">
                            <p>Publikationen</p>
                            <p class="add-icon"><span fxHide.lt-md>hinzufügen</span> +</p>
                        </div>
                        <div *ngFor="let publication of publications; let i = index" fxLayout="row"
                            fxLayoutAlign="space-between start" class="single-research-item">
                            <p>{{ publication.title }}</p>
                            <div fxLayout="row">
                                <mat-icon (click)="editPublication(i)">edit</mat-icon>
                                <mat-icon (click)="deletePublication(i)">delete</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <button mat-raised-button color="primary" (click)="lastStep()" *ngIf="!userHasProfile" style="margin-top: 40px">
                            zurück
                        </button>
                        <button mat-raised-button class="finish-button" (click)="saveProfile()" style="margin-top: 40px"
                            [disabled]="step3.invalid" class="submit-button">
                            weiter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="research-popup shadowed-short" *ngIf="elementToAdd !== ''" fxLayout="column">
        <mat-icon (click)="closePopUp()">close</mat-icon>
        <h1>
            {{ popUpTitle }}
        </h1>
        <p>Beschreiben Sie hier Ihre konkreten Forschungsschwerpunkte</p>
        <form [formGroup]="researchForm">
            <mat-form-field>
                <input matInput placeholder="Titel*" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Beschreibung*" formControlName="description" rows="10"></textarea>
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="saveResearchItem()">
            speichern
        </button>
    </div>

    <div class="research-popup" *ngIf="elementToEdit !== null" fxLayout="column">
        <mat-icon (click)="closeEditPopUp()">close</mat-icon>
        <h1>
            {{ popUpTitle }}
        </h1>
        <p>Beschreiben Sie hier Ihre konkreten Forschungsschwerpunkte</p>
        <form [formGroup]="editResearchForm">
            <mat-form-field>
                <input matInput placeholder="Titel*" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Beschreibung*" formControlName="description" rows="10"></textarea>
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="saveEditResearchItem()">
            speichern
        </button>
    </div>
    <div id="content-end" fxHide.lt-md>
    </div>
</div>