.dummy-image {
  background-image: url("../../../assets/images/card_nopicture.jpg");
}

.card-full-view {
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35) !important;
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35) !important;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35) !important;
}

.single-card {
  background-color: white;
  width: calc(100% - 20px);
  min-width: calc(100% - 20px);
  position: relative;
  border-left: 20px solid var(--edecy-darkblue);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

  &:hover {
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
    cursor: default;
  }

  .fullview-button {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background-color: var(--edecy-blue);
    color: white;
    position: absolute;
    bottom: -17.5px;
    left: calc(50% - 17.5px);
    width: 35px;
    height: 35px;

    &:hover {
      cursor: pointer;
    }

    mat-icon {
      width: 30px;
      height: 30px;
      font-size: 30px;
    }
  }

  .card-infos {
    .card-image {
      width: 100%;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 100%;
        border-radius: 0 10px 0 0;
        -moz-border-radius: 0 10px 0 0;
        -webkit-border-radius: 0 10px 0 0;
      }
    }

    .card-container {
      padding: 30px 20px 30px 30px;
      width: 100%;

      .text-infos {
        width: calc(100% - 116px);
        margin-right: 16px;

        .searching-for {
          margin-bottom: 15px;
          height: fit-content;
          min-height: 120px;
        }

        h2 {
          margin-bottom: 20px !important;
          padding-bottom: 20px;
          border-bottom: 1px solid #b3b3b3;
          height: 32px;
          max-height: 32px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;

          &.full-view {
            max-height: 80px;
            height: 80px;
            padding-bottom: 20px;
            -webkit-line-clamp: 4;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      .icon-container {
        width: 100px;
        height: 100px;
        background-color: var(--edecy-darkblue);
        z-index: 999;
        left: -10px;
        top: 30px;

        mat-icon {
          fill: white;
          width: 60px;
          height: 60px;
        }
      }
    }

    .lower-padding {
      padding-bottom: 20px;
    }

    .fullview-infos {
      padding: 0px 30px 30px 30px;

      h3 {
        &:nth-of-type(2), &:nth-of-type(4) {
          margin-bottom: 0px !important;
        }

        &:nth-of-type(3), &:nth-of-type(5) {
          font-weight: 500 !important;
        }
      }

      button {
        font-size: 16px !important;
        height: 38px !important;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        margin-top: 20px;
      }
    }

    h3 {
      margin-bottom: 5px !important;
    }

    mat-chip {
      color: white !important;
      background-color: var(--edecy-darkblue);
      border-radius: 5px 5px 5px 5px !important;
      -moz-border-radius: 5px 5px 5px 5px !important;
      -webkit-border-radius: 5px 5px 5px 5px !important;
      border: 0px solid #000000;
      font-size: 14px;
      padding: 5px;
      margin: 2px !important;
    }

    mat-chip-list.full-view {
      margin-bottom: 20px;

      mat-chip {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .lightblue {
      background-color: var(--edecy-blue) !important;
    }

    .mat-standard-chip {
      min-height: 25px !important;
      height: unset !important;
    }
  }

  .action-buttons {
    right: 0;
    bottom: 0px;
    padding: 15px;
    position: absolute;
    z-index: 999;

    @media screen and (max-width: 959px) {
      top: 0px;
    }

    button {
      border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      background-color: var(--edecy-blue);
      color: white;
      width: 35px;
      height: 35px;
      border: none;

      &:hover {
        cursor: pointer;
      }

      mat-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 959px) {
  .single-card {
    .card-infos {
      .card-container {
        .text-infos {
          .searching-for {
            height: fit-content;
          }
          h2 {
            height: 34px;
            max-height: 34;
          }
        }
      }
    }
  }
}
