<app-currentpage [currentPage]="currentPage" fxHide.gt-sm></app-currentpage>
<div class.lt-sm="mat-typography cardDetailsContainer" id="desktopDetailsContainer"
    *ngIf="(selectedCard$ | async)">

    <app-details [cardToDisplay]="(selectedCard$ | async)"></app-details>

    <div class="overlay-container" *ngIf="(currentUser$ | async) === null">
        <div class="overlay">
        </div>
        <app-auth-overlay [overlayPlacedAt]="currentPage"></app-auth-overlay>
    </div>
</div>


<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>