<div class="mat-typography">
  <div class="searchBar">
    <div *ngIf="(showFilter$ | async) === false || desktopAccess">
      <div>
        <app-new-card [cardType]="(tabShown$ | async)"></app-new-card>
        <div *ngIf="(tabShown$ | async) === 'request'">
          <div fxLayout.gt-sm="row wrap" fxLayout.lt-md="column">
            <ng-container *ngFor="let item of (requests$ | async); let i = index">
              <ng-container *ngIf="(currentUser$ | async); else lessRequests">
                <app-single-card (cardSelected)="selectionView($event)" (chosenCard)="loadCard($event)"
                  [cardToDisplay]="item" [userCard]="userCard" class="singleCardContainer"
                  *ngIf="(item.loginRequired && (currentUser$ | async)) || item.loginRequired === false">
                </app-single-card>
              </ng-container>
              <ng-template #lessRequests>
                <app-single-card (cardSelected)="selectionView($event)" (chosenCard)="loadCard($event)"
                  [cardToDisplay]="item" [userCard]="userCard" class="singleCardContainer"
                  *ngIf="i < 6">
                </app-single-card>
              </ng-template>
            </ng-container>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="(showFilter$ | async)" id="filters" fxHide.gt-sm>
      <h3 class="filterHeading">Spezialisierung</h3>
      <mat-select [(ngModel)]="selectedSubject" (selectionChange)="showDisciplines()"
        placeholder="Wählen Sie Ihre Fachrichtung">
        <mat-option *ngFor="let subject of specialties;" [value]="subject.title">
          {{ subject.title }}
        </mat-option>
      </mat-select>
      <mat-select *ngIf="showDisciplineOptions" [(ngModel)]="selectedDiscipline" (selectionChange)="showSpecialties()"
        placeholder="Wählen Sie Ihre Disziplin">
        <mat-option *ngFor="let discipline of disciplineToShow;" [value]="discipline.index">
          {{ discipline.disciplineTitle }}
        </mat-option>
      </mat-select>
      <mat-select *ngIf="showSpecialtyOptions" [(ngModel)]="selectedSpecialty" (selectionChange)="selectSpecialty()"
        placeholder="Wählen Sie Ihre Spezialisierung">
        <mat-option *ngFor="let specialty of specialtiesToShow;" [value]="specialty">
          {{ specialty }}
        </mat-option>
      </mat-select>

      <button mat-stroked-button color="primary" class="authButton" (click)="resetFilter()" style="margin-top: 50px">
        Zurücksetzen
      </button>

      <button mat-stroked-button color="primary" class="authButton" (click)="applyFilter()" style="margin-top: 12px"
        id="search-button">
        Suchen
      </button>
    </div>

  </div>
</div>