<div class="faqs" fxLayout="row" *ngFor="let faq of selectedFAQs.faqs; let i = index">
    <div class="singleFAQ" fxLayout="column">
        <div fxLayout="row" class="headline" (click)="openQuestion(i)">
            <div class="number" fxLayout="column" fxLayoutAlign="center center"  *ngIf="noSelected !== i">
                <h3>{{ i + 1 }}</h3>
            </div>
            <div class="number numberselected" fxLayout="column" fxLayoutAlign="center center" *ngIf="noSelected === i">
                <h3>{{ i + 1 }}</h3>
            </div>
            <div class="question" fxLayout="column" fxLayoutAlign="center start">
                <h3>{{ faq.question }}</h3>
            </div>
        </div>
        <div class="answer" fxLayout="column" fxLayoutAlign="center center" *ngIf="noSelected === i">
            <p>{{ faq.answer }}</p>
        </div>
    </div>
</div>