.authButton {
  margin-bottom: 10px !important;
}

#close-button {
  float: right;
}

#settings-container {
    width: 400px;
    height: 600px;
}

h2 {
  margin-bottom: 20px !important;
}

.authButton {
  margin-bottom: 30px !important;
}