<app-currentpage *ngIf="!desktopAccess" [currentPage]="currentPage"></app-currentpage>

<mat-dialog-content>
    <div class="mat-typography app-container" id.gt-md="settings-container">
        <button mat-mini-fab class="mat-elevation-z0" color="white" id="close-button" [mat-dialog-close]="true"
            *ngIf="desktopAccess">
            <mat-icon>close</mat-icon>
        </button>
        <div>
            <h2>E-Mail für ungelesene Chat-Nachrichten</h2>
            <p>
                Wenn Sie diesen Service aktivieren, erhalten Sie jeden Vormittag eine E-Mail, welche Sie über ungelesene
                Chat-Nachrichten informiert:
            </p>
            <button mat-stroked-button color="primary" class="authButton" (click)="enableMailService()"
                *ngIf="chatNewsletteractive === false">Mail-Service
                aktivieren</button>
            <button mat-stroked-button color="primary" class="authButton" (click)="disableMailService()"
                *ngIf="chatNewsletteractive === true">Mail-Service
                deaktivieren</button>
        </div>

        <h2>Push-Benachrichtigungen</h2>
        <p>
            Wenn Sie hier Benachrichtigungen für Ihren Edecy-Account aktivieren, erhalten Sie auf Ihr aktuelles Gerät
            Push-Benachrichtigungen.
            Zum jetzigen Zeitpunkt passiert das in diesen Fällen:
        </p>
        <ul>
            <li>Sie erhalten eine neue Chat-Nachricht</li>
            <li>Es gibt eine neue Version des Edecy-Portals</li>
        </ul>
        <p>
            Zukünftig könnten noch mehr Benachrichtigungs-Ereignisse hinzukommen. In diesem Fall werden wir Sie darüber
            in
            Kenntnis setzen.
        </p>
        <button mat-stroked-button color="primary" class="authButton" (click)="enableNotifications()"
            *ngIf="(userSubscription$ | async) === null || (userSubscription$ | async).platform !== currentPlattform">Benachrichtigungen
            aktivieren</button>
        <button mat-stroked-button color="primary" class="authButton" (click)="reEnableNotifications()"
            *ngIf="(userSubscription$ | async) && (userSubscription$ | async).active === false">Benachrichtigungen
            aktivieren</button>
        <button mat-stroked-button color="primary" class="authButton" (click)="disableNotifications()"
            *ngIf="(userSubscription$ | async) && (userSubscription$ | async).platform === currentPlattform && (userSubscription$ | async).active">Benachrichtigungen
            deaktivieren</button>

    </div>
</mat-dialog-content>