<div class="current-page mat-typography" fxLayout fxLayoutAlign="space-between center" *ngIf="!desktopDialog">

    <div fxFlex="20" fxLayoutAlign="center">
        <button mat-icon-button color="primary" (click)="goBack()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
    </div>

    <h1 fxFlex="60" fxLayoutAlign="center">Publikation</h1>
    <div fxFlex="20">
    </div>
</div>
<mat-dialog-actions id="close-button" *ngIf="desktopDialog">
    <button mat-mini-fab class="mat-elevation-z0" color="white" id="close-button" [mat-dialog-close]="true"
        matTooltip="Schließen">
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>
<div class="mat-typography editPage">
    <form [formGroup]="publicationForm" (ngSubmit)="savePublication()" class="editForm">
        <mat-form-field>
            <input matInput placeholder="Titel der Publikation" formControlName="title">
        </mat-form-field>
        <textarea [froalaEditor]="froalaOptions" formControlName="description" class="froalaEditor"></textarea>

        <button mat-stroked-button (click)="savePublication()" color="primary" type="submit" class="authButton"
            matTooltip="Speichern" id="save-data-button">
            speichern
        </button>
    </form>
</div>