<div class="mat-typography list-card" fxLayout="row" fxLayoutAlign="start center" (click)="openCard()">
    <div fxFlex="60" fxLayout="column">
        <p><strong>{{ cardToDisplay.title }}</strong></p>
    </div>

    <div fxLayout="row" class="actionButtons" fxLayoutGap="10px" fxFlex="30">
        <button mat-icon-button (click)="editCard()" matTooltip="Bearbeiten" class="shadowed-short">
            <mat-icon color="secondary">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="publishCard()" *ngIf="cardToDisplay.status === 'saved'" matTooltip="Veröffentlichen" class="shadowed-short">
            <mat-icon color="secondary">publish</mat-icon>
        </button>
        <button mat-icon-button (click)="dePublishCard()" *ngIf="cardToDisplay.status === 'published'" matTooltip="Veröffentlichung zurücknehmen" class="shadowed-short">
            <mat-icon color="secondary">stop_screen_share</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteCard()" matTooltip="Löschen" class="shadowed-short">
            <mat-icon color="secondary">delete</mat-icon>
        </button>
        <button mat-icon-button (click)="openEdecyInfoDialog()" matTooltip="Info" class="shadowed-short">
            <mat-icon color="secondary">emoji_people</mat-icon>
        </button>
    </div>
</div>