.tab-nav {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
}

.overlay-container {
    width: 50%;
    margin: auto;
    height: calc(100% - 600px);
    position: absolute;
    top: 300px;
    left: 25%;

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 900;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), white);
    }
}

a:hover {
    cursor: pointer;
}

.contact-container {
    margin-bottom: 15px;
    margin-top: 15px;

    button {
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
}

#content-start {
    width: 23%;
    min-width: 23%;

    .business-card {
        width: auto;
        text-align: center;
        background-color: white;
        -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
        padding: 20px 14px;
        position: relative;
        margin-bottom: 50px;

        .rate-flag {
            position: absolute;
            top: 55px;
            right: 0px;
            padding: 5px;
            width: 80px;
            height: fit-content;
            border-radius: 0px 0px 5px 5px;
            -moz-border-radius: 0px 0px 5px 5px;
            -webkit-border-radius: 0px 0px 5px 5px;
            transform-origin: top left;
            transform: translate(100%) rotate(90deg);

            &.blue {
                background-color: var(--edecy-blue);
            }

            &.red {
                background-color: var(--edecy-red);
            }

            &.gold {
                background-color: var(--edecy-gold);
            }

            p {
                font-size: 10px !important;
                margin: 0px !important;
                margin-block-start: 0 !important;
                margin-block-end: 0 !important;
                text-align: center;
                color: white;
            }
        }

        .profilePic {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;

            img {
                height: 200px;
            }
        }

        h3 {
            font-weight: 500 !important;
            margin-bottom: 9px !important;
            height: 48px;
            max-height: 48px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        .organization {
            font-weight: 300 !important;
            margin-bottom: 25px !important;
        }

        .specialtyImage {
            height: 85px;
            width: 100%;
            text-align: center;

            mat-icon {
                height: 100%;
                width: 85px;
            }
        }

        .specialtyTitle {
            height: 48px;
            max-height: 48px;
            margin-bottom: 20px;

            h3 {
                font-weight: 500 !important;
                height: 100%;
                max-height: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }

        .profileTagList {
            max-width: 100%;
            height: 94px;

            ::ng-deep .mat-chip-list-wrapper {
                flex-direction: column;
                max-width: 100%;
            }

            mat-chip {
                color: white !important;
                background-color: var(--edecy-darkblue) !important;
                border-radius: 5px 5px 5px 5px !important;
                -moz-border-radius: 5px 5px 5px 5px !important;
                -webkit-border-radius: 5px 5px 5px 5px !important;
                border: 0px solid #000000;
                font-size: 14px;
                padding: 0px 7px;
                margin: 2px !important;
                white-space: nowrap !important;
                max-width: 100%;
                overflow-x: hidden;
                height: 30px;
            }
        }

        .metaInfos {
            padding: 0px 43px;
            margin-top: 20px;
            height: 75px;
            width: 100%;
            margin-bottom: 5px;

            > div {
                border-radius: 10px 10px 10px 10px;
                -moz-border-radius: 10px 10px 10px 10px;
                -webkit-border-radius: 10px 10px 10px 10px;
                padding: 7.5px;
                width: 60px;
                height: 60px;
                background-color: var(--edecy-darkblue);

                &:not(:first-of-type) {
                    width: 75px !important;
                    height: 75px !important;
                }

                h3 {
                    margin: 0 !important;
                    color: white;
                    height: unset !important;
                }

                mat-icon {
                    width: 60px;
                    height: 60px;
                    fill: white;
                }
            }
        }

        .profileType {
            height: 50px;
            margin-bottom: 20px;
            width: fit-content;
            margin: auto;

            > div {
                border-radius: 10px 10px 10px 10px;
                -moz-border-radius: 10px 10px 10px 10px;
                -webkit-border-radius: 10px 10px 10px 10px;
                padding: 5px 7.5px;
                min-width: 155px;
                height: 100%;
                background-color: var(--edecy-darkblue);

                h3 {
                    margin: 0 !important;
                    color: white;
                    height: unset !important;
                }
            }
        }

        .cardCounter {
            height: 75px;

            mat-icon {
                width: 50px;
                height: 50px;
                margin-right: 10px;
            }

            h3 {
                margin-bottom: 0px !important;
                padding-top: 24px;
            }
        }

        .profileCity {
            height: 20px;

            h3 {
                font-weight: 300 !important;
                height: 24px;
                margin: 0 !important;
            }
        }
    }
}

#content-center {
    width: 50%;
    min-width: 50%;

    .profile-container {
        background-color: white;
        padding: 25px 20px;

        #profile-navigation {
            border-bottom: 1px solid #b3b3b3;
            margin-top: 30px;
            margin-bottom: 40px;
            flex-flow: row wrap;

            a {
                min-width: 15%;
                margin-right: 10px;

                h3 {
                    color: #b3b3b3;
                    padding-bottom: 10px;
                    margin-bottom: 0px !important;
                }
            }

            .requests {
                h3 {
                    color: var(--edecy-blue);
                    border-bottom: 4px solid var(--edecy-blue) !important;
                    width: fit-content;
                }
            }

            .requests.active {
                h3 {
                    color: var(--edecy-blue) !important;
                }
            }

            .active {
                h3 {
                    font-weight: 500 !important;
                    color: black;
                    border-bottom: 4px solid var(--edecy-darkblue);
                    width: fit-content;
                }
            }
        }

        .profile-content {
            .content-card {
                width: auto;
                padding: 30px 65px 30px 180px;
                position: relative;
                margin-bottom: 20px;
                background-color: white;
            }

            h2 {
                margin-bottom: 10px !important;
            }
        }

        .main-content {
            .basics-container {
                max-width: calc(100% - 250px);
                width: calc(100% - 250px);
                margin-bottom: 20px;
                min-height: 200px;

                .description {
                    .profile-description-short {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    .showMoreButton {
                        color: var(--edecy-blue);
                        text-decoration: underline;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .logo-container {
                width: 200px;

                img {
                    width: 100%;
                    height: 200px;
                }
            }

            .content-card {
                border-left: 20px solid var(--edecy-blue);

                h3 {
                    margin-bottom: 0px !important;
                }

                .wrapped {
                    flex-flow: row wrap;
                }

                .single-property {
                    width: 200px;

                    &.full-space {
                        width: unset;
                    }

                    h3 {
                        &:nth-of-type(2) {
                            font-weight: 500 !important;
                            margin-bottom: 15px !important;
                        }

                        &.list-heading {
                            margin-bottom: 0px !important;
                        }
                    }
                }

                .icon-container {
                    width: 120px;
                    height: 120px;
                    background-color: var(--edecy-darkblue);
                    position: absolute;
                    z-index: 999;
                    left: -10px;
                    top: 30px;

                    mat-icon {
                        fill: white;
                        width: 60px;
                        height: 60px;
                    }

                    h3 {
                        color: white;
                        font-size: 12px !important;
                        margin-bottom: 0px !important;
                        max-width: 90%;
                        word-break: break-all;
                    }
                }

                h2 {
                    margin-bottom: 20px;
                }

                .specialties {
                    margin-top: 15px;
                }

                .subject-areas {
                    div {
                        flex-flow: row wrap;
                        h3 {
                            font-weight: 500 !important;
                            margin-bottom: 0px !important;
                            margin-right: 5px;
                        }
                    }
                }

                .interests {
                    flex-flow: row wrap;
                    h3 {
                        font-weight: 500 !important;
                        margin-bottom: 0px !important;
                    }
                }

                .tags {
                    margin-top: 15px;
                    h3 {
                        margin-bottom: 10px !important;
                    }

                    mat-chip {
                        color: white !important;
                        background-color: var(--edecy-blue);
                        border-radius: 5px 5px 5px 5px !important;
                        -moz-border-radius: 5px 5px 5px 5px !important;
                        -webkit-border-radius: 5px 5px 5px 5px !important;
                        border: 0px solid #000000;
                        font-size: 14px;
                        padding: 5px;
                        margin: 2px !important;
                    }

                    .darkblue {
                        background-color: var(--edecy-darkblue) !important;
                    }

                    .mat-standard-chip {
                        min-height: 25px !important;
                        height: unset !important;
                    }
                }
            }

            .big-icon {
                mat-icon {
                    width: 77%;
                    height: 77%;
                    fill: white;
                }
            }

            .projects-card {
                .project-items {
                    width: 29%;

                    &:first-of-type {
                        border-right: 1px solid #b3b3b3;
                        width: 32%;
                        margin-right: 10%;

                        p {
                            font-weight: 500 !important;
                        }
                    }

                    h2 {
                        margin-bottom: 0px !important;
                    }

                    p {
                        font-size: 72px !important;
                        margin: 0 !important;
                        font-weight: 300 !important;
                    }

                    a {
                        color: var(--edecy-blue);
                        text-decoration: underline;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .publications-card {
                a {
                    color: var(--edecy-blue);
                    text-decoration: underline;
                    position: absolute;
                    top: 30px;
                    right: 65px;
                    text-align: right;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .single-publication {
                    mat-icon {
                        fill: var(--edecy-blue);
                        vertical-align: bottom;

                        &:hover {
                            cursor: pointer;
                        }

                        svg {
                            width: 20px !important;
                            height: 20px !important;
                            margin-top: 2px !important;
                        }
                    }
                }
            }
        }

        .research-content {
            .content-card {
                border-left: 20px solid var(--edecy-darkblue);
                padding-left: 30px;
                padding-right: 70px;

                .open-button {
                    border-radius: 100%;
                    -moz-border-radius: 100%;
                    -webkit-border-radius: 100%;
                    background-color: var(--edecy-blue);
                    color: white;
                    position: absolute;
                    top: 30px;
                    right: 20px;
                    width: 35px;
                    height: 35px;

                    &:hover {
                        cursor: pointer;
                    }

                    mat-icon {
                        width: 30px;
                        height: 30px;
                        font-size: 30px;
                    }
                }

                h2 {
                    margin-bottom: 0px !important;
                }

                .border-bottom {
                    border-bottom: 1px solid #b3b3b3;
                    padding-bottom: 15px;
                    margin-bottom: 15px !important;
                }
            }
        }
    }

    .feedback-button {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
}

@media screen and (max-width: 959px) {
    .tab-nav {
        margin-bottom: 0px !important;
    }

    .overlay-container {
        width: 100%;
        left: 0;
        top: 500px !important;

        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 900;
            background-image: linear-gradient(rgba(255, 255, 255, 0.1), white);
        }
    }

    #content-center {
        margin-bottom: 50px;

        .business-card-mobile {
            margin-top: 50px;
            background-color: white;
            margin-bottom: 5px;
            padding: 20px 14px;

            .profilePic {
                width: 150px;
                height: 150px;

                img {
                    width: 100%;
                    height: 100;
                }
            }

            h3 {
                font-weight: 500 !important;
                margin-bottom: 9px !important;
                height: 48px;
                max-height: 48px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-align: center;
            }

            .organization {
                font-weight: 300 !important;
            }
        }

        .profile-container {
            padding: 0;

            #profile-navigation {
                padding: 0px 20px;
                overflow-x: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;
                flex-flow: row nowrap;

                &::-webkit-scrollbar {
                    display: none;
                }

                a {
                    min-width: unset !important;
                    margin-right: 20px !important;

                    &:last-of-type {
                        h3 {
                            margin-right: 20px;
                        }
                    }
                }
            }

            .main-content {
                padding: 0px 20px;
                .basics-container {
                    width: 100%;
                    max-width: 100%;
                    min-height: unset;

                    .description {
                        width: 100%;
                    }
                }

                .content-card {
                    .icon-container {
                        position: relative;
                        top: unset;
                        left: unset;
                        z-index: unset;
                        margin-bottom: 15px;
                    }
                }

                .projects-card {
                    .project-items {
                        width: fit-content;
                        margin-bottom: 30px;

                        &:first-of-type {
                            border-right: none;
                            border-bottom: 1px solid #b3b3b3;
                        }

                        &:last-of-type {
                            margin-bottom: 0 !important;
                        }
                    }
                }
            }

            .profile-content {
                .content-card {
                    margin-left: -15px;
                    width: calc(100% + 30px);
                    padding: 20px;
                }
            }

            .research-content {
                padding: 0 5px;

                .content-card {
                    width: 100%;
                    margin-left: 0px;
                    padding-right: 65px !important;

                    .open-button {
                        top: 20px;
                    }
                }
            }
        }
    }
}
