mat-sidenav-container {
  position: absolute;
  top: 55px;
  background-color: #f7f7f7;
}

@media screen and (min-width: 960px) {
  mat-sidenav-container {
    top: 110px;
  }

  mat-sidenav {
    width: 300px !important;
    top: 70px !important;

    .button-list {
      padding-top: 0px !important;
    }
  }
}

mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: white;

  .button-list {
    padding-top: 50px;
  }
}


.current-page {
  button:focus {
    background: none;
  }
}

::ng-deep .mat-button-focus-overlay {
  display: none !important;
}


app-chat-bar {
  position: fixed;
  bottom: 0px;
  right: 1%;
  z-index: 999;
}

#allChats {
  position: fixed;
  bottom: 0px;
  right: calc(1% + 355px);
  z-index: 999;
}

#changeChatButton {
  background-color: var(--edecy-darkblue);
  height: 48px;
  width: 48px;
  color: white;
  position: absolute;
  bottom: 0px;
  left: -53px;

  mat-icon {
    font-size: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  mat-icon:hover {
    cursor: pointer;
  }
}

#changeChatButton:hover {
  cursor: pointer;
}

.siteDivider {
  width: 100%;
  height: 30px;
  background-color: #f7f7f7;
}