<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" [(opened)]="opened" [fixedInViewport]="true" [fixedTopGap]="55">

    <div class="current-page mat-typography" fxLayout fxLayoutAlign="space-between center" fxHide.gt-sm>

      <div fxFlex="20" fxLayoutAlign="center">
        <button mat-icon-button color="primary" (click)="onToggleSideNav()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </div>

      <h1 fxFlex="60" fxLayoutAlign="center">Menü</h1>

      <div fxFlex="20"></div>
    </div>


    <div class="button-list">
      <app-button-list [text]="'Anzeigenübersicht'" (click)="openCards()">
      </app-button-list>
      <app-button-list [text]="'Nutzerfunktionen'" (click)="openUserMenu()" [opened]="userMenuOpen"
        *ngIf="isLoggedIn$ | async">
      </app-button-list>
      <div class="subMenu" *ngIf="userMenuOpen">
        <app-button-list [text]="'Meine Anzeigen'" (click)="openMyCards()" [subButton]="true">
        </app-button-list>
        <app-button-list [text]="'Benachrichtigungen'" (click)="goToSettings()" [subButton]="true">
        </app-button-list>
        <app-button-list [text]="'Nutzerdaten bearbeiten'" (click)="goToProfile()" [subButton]="true">
        </app-button-list>
        <app-button-list [text]="'Passwort ändern'" (click)="goToChangePassword()" [subButton]="true">
        </app-button-list>
        <mat-divider></mat-divider>
      </div>
      <app-button-list [text]="'Gesuch aufgeben'" (click)="createRequest()">
      </app-button-list>
      <app-button-list [text]="'Über uns'" (click)="goToAboutUs()">
      </app-button-list>
      <app-button-list [text]="'Feedback'" (click)="goToFeedback()">
      </app-button-list>
      <app-button-list [text]="'Preise'" (click)="goToPrices()">
      </app-button-list>
      <app-button-list [text]="'Hilfe'" (click)="goToSupportMenu()">
      </app-button-list>
      <app-button-list [text]="'FAQ'" (click)="goToFAQ()">
      </app-button-list>
      <app-button-list [text]="'Rechtliches'" (click)="openLegalMenu()" [opened]="legalMenuOpen">
      </app-button-list>
      <div class="subMenu" *ngIf="legalMenuOpen">
        <app-button-list [text]="'Datenschutz'" (click)="goToPrivacyPolicy()" [subButton]="true">
        </app-button-list>
        <app-button-list [text]="'Nutzungsbedingungen'" (click)="goToTOS()" [subButton]="true">
        </app-button-list>
        <app-button-list [text]="'Impressum'" (click)="goToImprint()" [subButton]="true">
        </app-button-list>
        <mat-divider></mat-divider>
      </div>
      <app-button-list [text]="'Abmelden'" (click)="logout()" *ngIf="isLoggedIn$ | async">
      </app-button-list>
      <app-button-list [text]="'Anmelden'" (click)="goToLogin()" *ngIf="(isLoggedIn$ | async) === false">
      </app-button-list>
      <app-button-list [text]="'Kostenlos registrieren'" (click)="goToRegister()" *ngIf="(isLoggedIn$ | async) === false">
      </app-button-list>
    </div>

  </mat-sidenav>

  <mat-sidenav-content (scroll)="onScroll($event)" class="mat-typography">

    <app-chat-bar fxHide.lt-md *ngIf="(isLoggedIn$ | async) && (userChats$ | async).length > 0"></app-chat-bar>
    <div id="allChats" fxLayout="row" fxLayoutGap="5px" fxHide.lt-md *ngIf="(openedChats$ | async)">
      <div id="changeChatButton" (click)="changeChat()" *ngIf="(openedChats$ | async).length > maxNumberOfBars"
        fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>flip_to_front</mat-icon>
      </div>
      <div *ngFor="let chat of (openedChats$ | async); let i = index" class="singleChatBar">
        <app-single-bar [openedChat]="chat" *ngIf="i < maxNumberOfBars"></app-single-bar>
      </div>
    </div>

    <div class="siteDivider" fxHide.lt-md></div>
    <ng-content></ng-content>

    <app-footer></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>