<div fxLayout="column" class="mat-typography chatsList" *ngIf="router.url.indexOf('chat') < 0">
    <h2>Wählen Sie einen Chat:</h2>
    <div *ngFor="let chat of (openedChats$ | async); let i = index">
        <div class="chatLine" (click)="openChat(chat, i)" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" *ngIf="i > data.bars - 1">
            <div class="partnerLogo">
                <div *ngFor="let logo of (chatLogos$ | async)">
                    <img *ngIf="logo.projectId === chat.projectId && logo.logoURL !== ''" class="chatLogo shadowed-short" width="45px"
                        height="45px" src="{{ logo.logoURL }}" alt="Profilbild" />
                    <img *ngIf="logo.projectId === chat.projectId && logo.logoURL === ''" class="chatLogo shadowed-short" width="45px"
                        height="45px" src="../../../../../assets/icons/chatLogo.png" alt="Profilbild" />

                </div>
            </div>
            <h2>{{ chat.subject }}</h2>
        </div>

    </div>
</div>