.chatsList {
    padding: 10px;

    .chatLine {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 0.2px solid rgba(151,151,151,0.2);
        border-bottom: 0.2px solid rgba(151,151,151,0.2);

        h3 {
            margin-top: 16px;
        }
    }

    .chatLogo {
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius:  100%;
      }
}
