<div id="tabButtons" class="shadowed-short" fxLayout="row">
    <div class="tabButton" (click)="showTab('profile')" *ngIf="(tabShown$ | async) !== 'profile'" fxLayout="row"
        fxLayoutAlign="center center">
        <h1>Profile</h1>
    </div>

    <div class="tabButton tabActive" (click)="showTab('profile')"  *ngIf="(tabShown$ | async) === 'profile'" fxLayout="row"
        fxLayoutAlign="center center">
        <h1>Profile</h1>
    </div>

    <div class="tabButton" (click)="showTab('request')" *ngIf="(tabShown$ | async) !== 'request'" fxLayout="row"
        fxLayoutAlign="center center">
        <h1>Gesuche</h1>
    </div>

    <div class="tabButton tabActive" (click)="showTab('request')" *ngIf="(tabShown$ | async) === 'request'" fxLayout="row"
        fxLayoutAlign="center center">
        <h1>Gesuche</h1>
    </div>
</div>

<div *ngIf="(profileKeywords$ | async)">
    <div class="filterOptions edecy-card shadowed-short"
        *ngIf="(tabShown$ | async) === 'profile' && (profileKeywords$ | async).length > 0 && showFilterOptions" fxLayout="column"
        >
        <div *ngIf="(profilesES$ | async).length > 0; else noResults" class="results">
            <p><strong>{{ sumOfResults }}<span *ngIf="showPlus">+</span></strong> Ergebnisse für Ihre Suche:</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row">
                <mat-chip-list>
                    <mat-chip *ngFor="let keyword of (profileKeywords$ | async); let i = index;" [removable]="removable"
                        (removed)="removeProfileKeyword(i)">
                        {{keyword}}
                        <mat-icon matChipRemove *ngIf="removable">close</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div class="remove-filter">
                <p (click)="resetProfileFilter()">Alle Filter entfernen</p>
            </div>
        </div>
    </div>
</div>


<div *ngIf="(cardKeywords$ | async)">
    <div class="filterOptions edecy-card shadowed-short"
        *ngIf="(tabShown$ | async) === 'request' && (cardKeywords$ | async).length > 0 && showFilterOptions" fxLayout="column">
        <div *ngIf="(requests$ | async).length > 0; else noResults" class="results">
            <p><strong>{{ (requests$ | async).length }}</strong> Ergebnisse für Ihre Suche:</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row">
                <mat-chip-list>
                    <mat-chip *ngFor="let keyword of (cardKeywords$ | async); let i = index;" [removable]="removable"
                        (removed)="removeCardKeyword(i)">
                        {{keyword}}
                        <mat-icon matChipRemove *ngIf="removable">close</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div class="remove-filter">
                <p (click)="resetCardFilter()">Alle Filter entfernen</p>
            </div>
        </div>
    </div>
</div>

<ng-template #noResults>
    <i>Ihre Suche ergab leider keine Treffer.</i>
</ng-template>