<mat-dialog-content class="mat-typography exclusiveOffer">
    <button class="mat-elevation-z0 dialog-close-button" mat-mini-fab color="Disabled" [mat-dialog-close]="true"
        (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>

    <div fxLayout="column" fxLayoutAlign="center center">
        <h2>Edecy Corona Angebot</h2>
        <p>
            Um in Zeiten von Corona den Sprung zu digitaler Forschungsvernetzung zu erleichtern, möchten wir Sie
            unterstützen Ihr Forschungsgesuch online zu stellen: <br>
            Mit dem Rabattcode #Corona erhalten Sie bei der
            Registrierung für EDECY Premium & EDECY Premium Plus
            <span class="red">
                die Einrichtung Ihres gesamten Forschungsprofils (Ramp-Up) im Wert von 249 €.
            </span>
            <br><br>

            Alternativ ist auch eine
            <span class="blue">
                Rabattierung von 20% auf Ihre Buchung
            </span>
            möglich (bei Buchung von Edecy Premium ohne Ramp Up oder Buchung von Edecy Premium Plus).

            <br><br>Forschen Sie
            gemeinsam und finden Sie Ihren Kooperationspartner auf Edecy
            <span class="blue">
                #Corona
            </span>
            !
        </p>
    </div>

</mat-dialog-content>