.exclusiveOffer {
    padding: 35px;
    position: relative;

    h2,
    p {
        text-align: center;
    }

    p {
        font-weight: 300 !important;
    }

    span {
        font-weight: 400 !important;
    }

    .red {
        color: var(--edecy-red);
    }

    .blue {
        color: var(--edecy-blue);
    }
}

.dialog-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
}
