<div class="navbar" fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="{'staging': staging === true}" fxHide.gt-sm>
  <div id="menuButton">
    <button (click)="onOpenSideNav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>


  <div id="edecyLogo">
    <a (click)="openAllCards()"><img class="edecy-logo__img" src="../../../../assets/logo/edecy_logo.png" height="45px"
        alt="Edecy Logo" /></a>
  </div>

  <div fxLayout="row" id="personalButtons" fxLayoutGap="10px" fxLayoutAlign="end start">
    <button mat-icon-button (click)="openChats()">
      <mat-icon matBadge="{{(unreadMessages$ | async)}}" [matBadgeHidden]="(unreadMessages$ | async) < 1">mail_outline
      </mat-icon>
    </button>

    <button mat-icon-button (click)="openCards()">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</div>

<div class="navbar-desktop mat-typography" fxHide.lt-md>
  <div id="top-bar" fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="{'staging': staging === true}">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="25">
      <div id="menuButton">
        <button (click)="onOpenSideNav()" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div id="edecyLogo">
        <a (click)="openAllCards()"><img class="edecy-logo__img" src="../../../../assets/logo/edecy_logo.png"
            height="45px" alt="Edecy Logo" /></a>
      </div>
    </div>

    <div id="searchbar-desktop" fxFlex="50">
      <form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
        <div fxLayout="row">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Los geht's!" formControlName="keyword">
            <mat-label>Suche</mat-label>
            <mat-icon matSuffix *ngIf="!searchForm.value.keyword" (click)="submitSearch()">search</mat-icon>
            <mat-icon *ngIf="searchForm.value.keyword" matSuffix (click)="clearSearch()">cancel</mat-icon>
          </mat-form-field>
          <!-- <mat-icon class="tuneIcon" (click)="toggleFilter()">tune</mat-icon> -->

        </div>
      </form>
    </div>

    <div fxLayout="row" id="personalButtons" fxLayoutGap="10px" fxLayoutAlign="end start">
      <button mat-icon-button (click)="openChats()">
        <mat-icon matBadge="{{(unreadMessages$ | async)}}" [matBadgeHidden]="(unreadMessages$ | async) < 1">
          mail_outline
        </mat-icon>
      </button>

      <button mat-icon-button (click)="openCards()">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </div>

  <div id="bottom-bar" fxLayout="row" fxLayoutAlign="space-between center">
    <div id="edecyLinks" fxFlex="50" fxLayout="row" fxLayoutAlign="space-between center">
      <a [routerLink]="['/cards/list']">
        <h2>Startseite</h2>
      </a>
      <a [routerLink]="['/prices']">
        <h2>Preise</h2>
      </a>
      <a href="https://www.edecy.de/blog" target="_blank">
        <h2>Blog</h2>
      </a>
      <a href="https://www.edecy.de/kooperationsvorteile" target="_blank">
        <h2>Kooperationsvorteile</h2>
      </a>
    </div>


  </div>
  <div id="siteDivider">

  </div>
</div>