#expansionPanel {
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

#navigation-containr {
  position: relative !important;
  z-index: 100 !important;
}

#expansionPanel h2 {
  font-size: 18px;
  color: var(--edecy-blue);
}

#footer {
  height: 50px;
  width: 100%;
}

#feedback-button {
  padding: 10px;
  height: 50px;
  width: 100% !important;
}

#footer div {
  cursor: pointer;
  width: 50%;
  height: 100%;
  text-align: center;
  background-color: var(--edecy-darkblue);
  color: white;
  font-size: 12px;
  padding-top: 16px;
}

#card-list-container {
  position: relative;
  z-index: 1 !important;
}

.tabActive {
  color: var(--edecy-blue);
  border-bottom: 2px solid var(--edecy-blue);
}

::ng-deep .mat-tab-label {
  font-size: 15px !important;
}

/* form ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px !important;
} */

#resetFilterButton {
  margin-left: calc(50% - 76px);
  margin-bottom: 20px;
}

.mat-form-field {
  margin-bottom: 0;
}

.search-bar {
  position: -webkit-sticky;
  position: sticky;
  background: white;
  top: 0;
  z-index: 10;
}

#filter-container {
  margin-bottom: 20px;
}

#categoryButtons {
  padding-top: 10px;
  background-color: #f2f2f2;
}

#profileDivider {
  height: 12px;
  background-color: #f2f2f2;
}

#content-center {
  max-width: 100% !important;
  min-width: 50% !important;

  .overlay-container {
    width: 100%;
    height: 100%;
    position: relative;

    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 900;
      background-image: linear-gradient(rgba(255, 255, 255, 0.1), white);
    }

    .auth-overlay {
      top: 430px;
      left: 17%;
      width: 66%;
    }
  }
}

#content-start,
#content-end {
  min-width: 23% !important;
  width: 23% !important;
}

#content-end {
  #authButtons {
    padding: 35px !important;

    h2 {
      margin-bottom: 15px !important;
    }

    h3 {
      margin-bottom: 10px !important;
    }

    button {
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      margin-bottom: 10px;
      width: 100%;
      font-size: 16px;
      height: 50px;
      border: 1px solid #1ca9e3 !important;
    }
  }

  .beratungRight {
    width: 100%;
    padding: 35px;
    background-color: var(--edecy-red);
    margin-top: 25px;

    h2 {
      margin-bottom: 15px !important;
      color: white;
      line-height: 32px !important;
    }

    a {
      width: 100%;

      button {
        width: 100%;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        padding: 18px 0 18px 0;
        font-size: 16px !important;
      }

      .mat-raised-button {
        line-height: 20px;
      }
    }
  }
}

@media (max-width: 959px) {
  #content-center {
    min-width: 100% !important;
  }

  .auth-overlay {
    top: 300px !important;
    left: 6% !important;
    width: 88% !important;
  }
}

.morePartnersInfo {
  padding: 10px;

  p {
    margin-bottom: 0px !important;
    padding-right: 20px !important;
    text-align: left;
  }

  a {
    padding: 10px;
    min-width: 30%;
    text-decoration: none !important;
  }

  ::ng-deep .mat-button-wrapper {
    text-decoration: none !important;
  }

  button:hover {
    cursor: pointer !important;
  }

  a:visited {
    text-decoration: none !important;
  }
}
