<div class="not-found mat-typography" fxLayout="column" fxLayoutAlign="center center">
    <div class="content" fxLayout="column">
        <img src="../../../../assets/images/404.png" />
        <h1>Ooooooops!!!!</h1>
        <h3>Da haben Sie’s mit dem Entdeckergeist wohl etwas zu weit getrieben. Der Blick unserer Forscher-Eule sagt
            eigentlich schon alles! </h3>
        <button mat-raised-button color="primary" [routerLink]="['/cards/list']">Zurück zur Startseite</button>
        <div class="beratung" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="start center"
            fxLayoutAlign.lt-md="center center" fxLayoutGap="8%">
            <h2 fxFlex.gt-sm="46">Weitere Fragen? <br fxHide.gt-sm><span fxHide.lt-md>-</span> Wir beraten Sie gerne!
            </h2>
            <a href="https://www.edecy.de/beratung" target="_blank" fxFlex.gt-sm="46">
                <button mat-raised-button color="primary">Jetzt unverbindliches<br>Beratungsgespräch
                    buchen!</button>
            </a>
        </div>
    </div>

</div>