<div class="dialog__container mat-typography">
  <div mat-dialog-content>
    <h2 [innerHTML]="data.content"></h2>
  </div>
  <div fxLayout fxLayoutAlign="space-between center" mat-dialog-actions>
    <button
      mat-stroked-button
      fxFlex="45"
      color="primary"
      class="authButton"
      [mat-dialog-close]="true"
      cdkFocusInitial>
        Ja
    </button>
    <button
      mat-stroked-button
      fxFlex="45"
      (click)="onNoClick()"
      color="primary"
      class="authButton"
      [mat-dialog-close]="true"
      cdkFocusInitial>
        Nein
    </button>
  </div>
</div>
