::ng-deep .mat-tab-label {
  font-weight: bold !important;
  color: var(--edecy-darkblue) !important;
  opacity: 1 !important;
}

::ng-deep .mat-tab-label-active {
  color: var(--edecy-blue) !important;
}

::ng-deep .listHeader .mat-tab-label {
  font-size: 16px !important;
}

::ng-deep .subTabs .mat-tab-labels {
  max-width: 80% !important;
}

.subTabGroup {
  position: relative;
  z-index: 90;
  
}

.viewButton {
  width: 14%;
}

.list-item:nth-child(2) {
  background-color: white;
}

#noMessages {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

#tabButtons {
  width: 100%;
}

.tabButton {
  background-color: white;
  width: 50%;
  font-weight: bold;
  color: black;
  height: 50px;

}

.tabButton:hover {
  cursor: pointer;
}

.tabActive {
  color: var(--edecy-blue);
  border-top: 2px solid var(--edecy-blue) !important;
}

.subTabActive {
  color: var(--edecy-blue);
  border-top: 2px solid var(--edecy-blue) !important;
}

.subTabButton {
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(244, 244, 248) !important;
}

@media screen and (min-width: 960px) {
  #content-start,
  #content-end {
    min-width: 23%;
    width: 23%;
  }

  .tabButton {
    border-bottom: none;
  }

  .tabActive {
    border-top: 2px solid var(--edecy-blue);
  }

  #searchForm {
    display: none;
  }

  .listHeader {
    padding-top: 0px;

    .tabActive {
      border: none;
      text-decoration: underline;
      color: black;
    }
  }

  .subTabContainer {
    border-top: none;
    background-color: rgb(244, 244, 248);

    .subTabButton {
      border-top: none;
      height: auto;
    }
  }

  app-card-list-item {
    width: 100%;
    min-width: 100%;
  }

  #create-profile-button {
    margin: 0px !important;
    margin-top: 7px !important;

    mat-icon {
      margin-right: 20px;
      margin-bottom: 20px !important;
    }

    p {
      font-size: 20px !important;
      margin-top: 5px;
    }
  }
}

#create-profile-button {
  background-color: white;
  margin: 7px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  position: relative;

  h2 {
    margin: 0 !important;
    margin-bottom: 10px !important;
  }

  mat-icon {
    font-size: 38px;
    margin-bottom: 10px;
  }
}

.listHeader {
  background-color: #f7f7f7;
}