h1 {
    margin: 0px !important;
}

img {
    width: 125px;
    margin: 50px 0 0 calc(50% - 62px);
}

  

.inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    
    max-width: 800px;
}

.inputfile + label {
    width: 100%;
    border: 0.5px solid #979797;
    height: 150px;
    padding-top: 20px;
}

.inputfile + label mat-icon {
    font-size: 35px !important;
    margin-bottom: 10px;
}

#croppedImage {
    margin: 0;
    margin-left: calc(50% - 75px);
    width: 150px;
    margin-top: 30px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

#addedPicture {
    margin: 0;
    margin-left: calc(50% - 75px);
    width: 150px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
}

.searchError {
    margin-left: 0 !important;
}

a.blue {
    color: rgb(28, 169, 227);
    cursor: pointer;
}

span.checkbox-label {
    margin: 10px;
}

::ng-deep .mat-checkbox-layout { 
    white-space: normal !important; 
}

.register-block {
    margin-bottom: 75px;

    .phone {
        margin-top: 25px;
    }
}

#close-button {
    float: right;
}

.mat-dialog-content {
    max-height: none;
}

@media screen and (min-width: 960px) {
    .app-container {
        padding-bottom: 0px;
    }
}