#createCard {
    background-color: white;
    height: 100px;
    padding-top: 10px;
    cursor: pointer;
}

h3 {
    font-weight: 500 !important;
}

mat-icon {
    font-size: 38px;
    margin-bottom: 20px;
}

@media screen and (min-width: 960px) {
    #createCard {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 60px;
    }

    h3 {
        margin-top: 9px !important;
    }

    mat-icon {
        margin-right: 20px;
        font-size: 30px;
        margin-top: 10px;
    }
}