.footer {
    width: 100%;
    background-color: var(--edecy-darkblue);
    color: white;
    position: relative;

    span {
        line-height: 30px;
        height: 30px;
        display: inline-flex;
    }

    mat-icon {
        color: white;
        font-size: 30px;
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }

    p {
        color: white !important;
    }

    a {
        color: white;
    }

    .footer-data {

        a {
            text-decoration: none;

            &:visited {
                text-decoration: none;
            }
        }

        .social-icons {
            margin-top: 30px;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .footer-links {
        width: 240px; 
        position: relative;
        margin-bottom: 100px;

        .bmwi {
            margin-bottom: 20px;
        }

        a {
            text-decoration: underline;

            &:visited {
                text-decoration: underline;
            }
        }
    }
}

#footer-desktop { 
    
    .footer-links {
        a {
            text-align: right;
        }
    }
}

#footer-mobile {
    padding-top: 45px;
    padding-bottom: 30px;
    position: relative;
    z-index: 990;

    p {
        text-align: center !important;
    }
}