body {
  margin: 0px;
  height: 100%;
  background-color: lightgrey;
}

html {
  height: 100%;
}

/* FONT SIZES */
@media screen and (min-width: 960px) and (max-width: 1439px) {
  h1 {
    font-size: 20px !important;
    line-height: 1.3 !important;
    font-weight: 500 !important;
  }

  h2 {
    font-size: 16px !important;
    line-height: 1.3 !important;
    font-weight: 500 !important;
  }

  h3 {
    font-size: 16px !important;
    line-height: 1.3 !important;
    font-weight: 400 !important;
  }

  h4 {
    font-size: 12px !important;
    line-height: 1.3 !important;
    font-weight: 300 !important;
  }

  p {
    font-size: 16px !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 25px !important;
    line-height: 1.3 !important;
    font-weight: 500 !important;
  }

  h2 {
    font-size: 20px !important;
    line-height: 1.3 !important;
    font-weight: 500 !important;
  }

  h3 {
    font-size: 16px !important;
    line-height: 1.3 !important;
    font-weight: 400 !important;
  }

  h4 {
    font-size: 12px !important;
    line-height: 1.3 !important;
    font-weight: 300 !important;
  }

  p {
    font-size: 16px !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;
  }
}

h1 {
  color: var(--edecy-darkblue);
  margin-bottom: 40px !important;
}

h2 {
  color: var(--edecy-darkblue);
  margin-bottom: 40px !important;
}

h3 {
  color: var(--edecy-darkblue);
}

/* Colors */

:root {
  --edecy-blue: #00aadd;
  --edecy-darkblue: #1b223e;
  --edecy-red: #ea504b;
  --edecy-gold: #f8b133;
}

.current-page {
  width: 100vw;
  height: 50px;
  border-bottom: 2px solid #979797;
  position: fixed;
  z-index: 999;
  background-color: white;

  h1 {
    font-weight: 500 !important;
    margin: 0px !important;
    background-color: white !important;
    max-height: 40px;
    word-break: break-all;
    overflow-y: hidden;
  }

  mat-icon {
    font-size: 25px;
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

p {
  color: var(--edecy-darkblue);
  margin-bottom: 18px;
}

a:hover {
  cursor: pointer;
}

@media (max-width: 959px) {
  .app-container {
    padding: 0px 25px 120px 25px;
    position: relative;
    top: 90px;
  }

  #content-center {
    min-width: 100% !important;
  }

  .half-screen-container {
    padding: 0 0;
    position: relative;
    top: 50px;
  }

  .editPage {
    .editForm {
      margin-top: 30px;
    }
  }

  .beratung {
    height: 200px !important;

    h2 {
      text-align: center;
      margin-bottom: 15px !important;
      line-height: 30px;
    }

    a {
      max-width: 100%;
      margin-top: 10px;
    }

    button {
      font-size: 16px !important;
      height: 75px !important;

      ::ng-deep .mat-button-wrapper {
        max-width: 100% !important;
      }
    }
  }
}

@media (min-width: 960px) {
  .app-container {
    padding: 25px 25px 120px 25px;
  }

  .half-screen-container {
    padding: 0 0;
    margin: auto;
  }

  .max-width-container {
    max-width: 65%;
    margin: auto;
  }

  .cardDetails {
    padding-left: 4%;
    padding-right: 4%;
  }

  .singleCardContainer {
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  .singleCardContainer:nth-of-type(odd) {
    margin-right: 20px;
  }

  .singleMyCardContainer {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 20px;
  }

  #blog-container {
    height: 400px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
    margin-bottom: 20px;
  }

  #user-infos {
    margin-bottom: 20px;

    #basic-infos {
      padding: 32px;
    }

    #user-basics {
      width: calc(100% - 30px);
      min-width: calc(100% - 30px);

      h3 {
        margin-block-end: 0;
        margin-block-start: 0;
        margin-right: 4px;
        font-size: 19px;
        line-height: 19px;
      }
    }

    .organisationLogo {
      width: 96px !important;
      height: 96px !important;
      margin-left: calc(50% - 48px);
      margin-bottom: 10px;
    }
  }

  .cardImage {
    height: 125px !important;
  }

  #content-start {
    padding-left: 1% !important;
    padding-right: 1% !important;
  }

  #content-end {
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5px;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }

  #content-end::-webkit-scrollbar {
    width: 0 !important;
  }

  mat-sidenav {
    width: 300px;
  }

  .limited-characters {
    p {
      max-width: 75ch;
      margin-left: calc(50% - 37.5ch);
      text-align: center;
    }
  }
}

.container-full-width {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.card-container {
  padding: 64px 25px 48px 25px;
}

.authButton {
  margin-bottom: 14px;
  width: 100%;
  font-size: 16px;
  height: 50px;
  border: 1px solid #1ca9e3 !important;
}

mat-form-field {
  width: 100%;
  margin-bottom: 40px;
}

.listHeader {
  background-color: #f2f2f2;
  padding-top: 10px;

  .mat-form-field {
    width: 90%;
    margin-left: 5%;
  }

  .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  .tuneIcon {
    color: var(--edecy-darkblue);
    font-size: 30px;
    margin: 15px;
    cursor: pointer;
  }
}

.cardImage {
  width: 100%;
  height: calc((100vw - 14px) * 0.33);
  max-height: 150px;
  background-size: cover;
  background-position: center;
}

.cardDetails {
  padding: 15px;
}

.searchError {
  color: red;
  margin-left: 5% !important;
  font-style: italic;
}

.searchBar {
  .mat-form-field-suffix {
    display: inline-flex;
    align-items: center;
  }

  mat-form-field {
    margin-bottom: 0px !important;
  }
}

mat-drawer-container,
mat-sidenav-container {
  width: 100% !important;
}

#categoryButtons {
  width: 100%;
}

.categoryButton {
  width: 33.33%;
  font-size: 15px;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

.categoryActive {
  font-weight: bold;
  border-bottom: 2px solid var(--edecy-blue) !important;
}

#filters {
  background-color: white;
  padding: 20px 25px 0px 25px;

  .mat-select {
    font-size: 16px;
    border: 1px solid #cccccc;
    line-height: 20px;
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 15px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
  }

  h4 {
    font-size: 12px;
    color: var(--edecy-blue);
    width: 100%;
    border-bottom: 1px solid var(--edecy-blue);
  }
}

button {
  &:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }
  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  }
}

mat-sidenav {
  max-width: 800px;
}

app-single-card {
  cursor: pointer;
}

.singleCardContainer {
  width: calc(100% - 14px);
  margin-bottom: 25px;
}

mat-expansion-panel-header {
  font-size: 16px !important;
  line-height: 20px !important;
  min-height: 72px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;

  @media screen and (min-width: 960px) {
    font-size: 20px !important;
    line-height: 24px !important;
  }

  .mat-content {
    padding-right: 12px !important;
    font-weight: bold;
  }
}

.tabButton {
  text-align: center !important;
}

.mat-expansion-indicator::after {
  height: 15px !important;
  width: 15px !important;
}

::ng-deep mat-expansion-panel {
  background: transparent !important;
}

.dialog-close-button {
  float: right;
  right: 0px;
  margin-bottom: 15px;
}

.mat-dialog-container {
  max-height: 400px !important;
}

.organisationLogo {
  width: 100%;
  max-width: 200px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  cursor: pointer;
}

.filter-card {
  padding: 10px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  text-align: left;
  margin-top: 10px;

  h4 {
    border-bottom: 1px solid #1a2132;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
  }

  mat-select {
    margin-bottom: 10px;
  }

  selected-subject {
    color: #1a2132;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 10px;
  }
}

.remove-filter {
  text-align: center;
  padding: 10px;

  p {
    cursor: pointer;
    color: var(--edecy-blue);
    margin-top: 10px;
  }
}

mat-sidenav-content {
  background-color: #f7f7f7 !important;
}

.edecy-card {
  @media screen and (min-width: 960px) {
    background-color: white;
  }
}

mat-card,
.mat-card {
  border-radius: 0 !important;
}

#content-container {
  min-height: calc(100vh - 190px);
}

/* Bitrix */
.bx-crm-widget-form-config-sidebar.open-sidebar {
  left: 0 !important;
}

.bx-crm-widget-form-config-sidebar {
  width: 700px !important;
}

.crm-webform-bottom-logo-container {
  display: none !important;
}

.bx-livechat-copyright {
  display: none !important;
}

.bx-livechat-head {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

.bx-crm-widget-form-config-sidebar-logo {
  display: none !important;
}

.bx-crm-widget-form-config-sidebar-info {
  height: 100% !important;
}

.b24-widget-button-popup {
  max-width: 250px !important;
  min-width: 250px !important;

  .b24-widget-button-popup-content {
    width: unset !important;
  }
}

@media screen and (max-width: 959px) {
  .singleCardContainer {
    width: calc(100% - 10px);
    margin-left: 5px;

    &:first-of-type {
      margin-top: 20px;
    }
  }
  .b24-widget-button-position-bottom-left {
    left: 25px !important;
    bottom: 25px !important;
  }

  .b24-widget-button-block {
    width: 50px !important;
    height: 50px !important;
  }

  .bx-crm-widget-form-config-sidebar {
    width: 100% !important;
  }

  .b24-widget-button-inner-mask {
    top: -3px !important;
    left: -4px !important;
    height: 56px !important;
    min-width: 50px !important;
    width: calc(100% + 8px) !important;
  }

  .b24-widget-button-inner-item {
    top: 3px !important;
    height: 75% !important;
    width: 75% !important;
    left: calc(25% / 2) !important;
  }

  .bx-livechat-position-bottom-left {
    width: 100% !important;
    bottom: 0 !important;
    left: 0 !important;
  }

  .b24-widget-button-popup {
    max-width: 180px !important;
    min-width: unset !important;
    text-align: center !important;

    .b24-widget-button-popup-image {
      margin-left: calc(50% - 21px) !important;
    }
  }
}

.beratung {
  height: 100px;
  background-color: var(--edecy-red);
  padding: 0 30px 0 30px;
  margin: 50px 0 50px 0;

  h2 {
    color: white !important;
    margin-bottom: 0 !important;
    text-align: center;
  }

  button {
    font-size: 16px !important;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    height: 50px;
    width: 100%;
    line-height: 1.5;
  }
}

.shadowed-short {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

.shadowed-long {
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35) !important;
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35) !important;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35) !important;
}

.border-round {
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
}
