<app-currentpage [currentPage]="currentPage" fxHide.gt-sm></app-currentpage>

<div class="mat-typography app-container max-width-container">
    <div *ngIf="!emailSent">
        <p>Wenn Sie ihr Passwort ändern möchten, geben Sie bitte unten die E-Mail-Adresse Ihres Accounts ein.<br>
            Nach einem Klick auf "Senden" erhalten Sie eine E-Mail mit einem Link zum Ändern Ihres Passworts.
        </p>

        <form [formGroup]="emailForm" (ngSubmit)="sendPasswordMail()">
            <mat-form-field>
                <input matInput placeholder="E-Mail" formControlName="email" required>
            </mat-form-field>
            <p class="mailError" *ngIf="emailForm.value.email !== userMail && emailForm.value.email !== ''">Die eingegebene E-Mail stimmt nicht mit der E-Mail Ihres Kontos überein.</p>

            <button mat-stroked-button color="primary" type="submit" class="authButton" [disabled]="emailForm.value.email !== userMail">
                Senden
            </button>
        </form>
    </div>

    <div *ngIf="emailSent" fxLayout="column" fxLayoutAlign="center center">
        <h2>Vielen Dank, eine E-Mail wurde an {{userMail}} gesendet.</h2>
    </div>


</div>