<mat-dialog-content>
    <app-currentpage *ngIf="!desktopDialog" [currentPage]="currentPage"></app-currentpage>

    <mat-dialog-actions id="close-button">
        <button mat-mini-fab class="mat-elevation-z0" color="basic" id="close-button" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </mat-dialog-actions>
    <div class="mat-typography app-container">
        <div *ngIf="!editLogo" id="userLogo" fxLayout="column">
            <img [src]="orgLogo" alt="Organisationslogo" class="shadowed-short" />
            <button mat-icon-button (click)="editLogo = true" matTooltip="Bearbeiten" class="shadowed-short">
                <mat-icon color="secondary">edit</mat-icon>
            </button>
        </div>

        <div *ngIf="editLogo">
            <input type="file" name="picture" id="pictureInput" class="inputfile" (change)="fileChangeEvent($event)"
                accept="image/*" />
            <label for="pictureInput" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon color="secondary">add_circle</mat-icon>
                <h2>Bild hinzufügen</h2>
            </label>

            <image-cropper *ngIf="editLogo" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                [aspectRatio]="1 / 1" [resizeToWidth]="300" format="png" (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
            </image-cropper>

            <h3 *ngIf="editLogo && croppedImage !== ''">Vorschau: </h3>
            <img *ngIf="editLogo" [src]="croppedImage" id="croppedImage" alt="Vorschaubild" class="shadowed-short" />


            <button mat-stroked-button color="primary" class="authButton" [disabled]="croppedImage === ''"
                (click)="uploadPicture()" style="margin-bottom: 5px">
                Hochladen
            </button>
            <button mat-stroked-button color="primary" class="authButton" (click)="editLogo = false"
                style="margin-bottom: 20px">
                Abbrechen
            </button>
        </div>

        <button mat-stroked-button *ngIf="orgLogo === ''" color="primary" class="authButton"
            [disabled]="croppedImage === ''" (click)="editLogo = true" style="margin-bottom: 20px">
            Logo hochladen
        </button>

        <form [formGroup]="userDataForm" class="userDataForm" (ngSubmit)="updateProfile()">
            <h2>Zugangsdaten</h2>
            <mat-form-field>
                <input matInput placeholder="E-Mail" formControlName="email">
            </mat-form-field>

            <h2 style="margin-top: 10px">Nutzerinformationen</h2>
            <mat-form-field>
                <input matInput placeholder="Anrede" formControlName="gender">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Titel" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Vorname" formControlName="firstName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nachname" formControlName="lastName">
            </mat-form-field>
            <div class="phone">
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="15px">
                    <mat-form-field>
                        <input matInput placeholder="Telefon" formControlName="telephone">
                        <mat-error>Bitte verwenden Sie nur Zahlen und "+".</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Wunschzeit" formControlName="phoneAvailable">
                    </mat-form-field>
                </div>
            </div>

            <h2 style="margin-top: 10px">Organisationsdaten</h2>
            <mat-form-field>
                <input matInput placeholder="Ihre Organisation" formControlName="organisation">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Straße und Hausnummer" formControlName="orgStreetNo">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Postleitzahl" formControlName="orgPlz">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Stadt" formControlName="orgCity">
            </mat-form-field>

            <button mat-stroked-button color="primary" type="submit" class="authButton submit-button"
                [disabled]="userDataForm.invalid">
                speichern
            </button>
        </form>
        <a class="delete-account" (click)="deleteUserDialog()">Nutzerkonto löschen</a>
    </div>
</mat-dialog-content>