<div class="mat-typography create-success-view">
    <mat-card fxLayout="column" class="shadowed-long border-round">
        <h1 *ngIf="successStatus === 'published'">Ihre Anzeige wurde erfolgreich hochgeladen</h1>
        <h1 *ngIf="successStatus === 'saved'">Ihre Anzeige wurde erfolgreich gespeichert</h1>
        
        <div class="link-button" (click)="refresh()">
            <mat-icon class="" color="secondary">add_circle</mat-icon>
            <h2>Weitere Anzeige schalten</h2>
        </div>
        <div class="link-button" (click)="openMyCards()">
            <mat-icon color="secondary">arrow_forward</mat-icon>
            <h2>Weiter zu meinen Anzeigen</h2>
        </div>
        <div class="link-button" (click)="openEdecyPrices()">
            <mat-icon color="secondary">emoji_people</mat-icon>
            <h2>Aktive Suchunterstützung</h2>
        </div>
    </mat-card>
</div>