<div *ngIf="(selectedCard$ | async); else loading" fxHide.gt-sm>
    <app-currentpage [isChatPage]="true" [cardToDisplayId]="(selectedCard$ | async).objectId"
        [currentPage]="(selectedCard$ | async).title"></app-currentpage>
</div>

<div *ngIf="(selectedCard$ | async); else loading" fxHide.lt-md id="topBar" fxLayout="row" fxLayoutAlign="start center">
    <img *ngIf="(selectedCard$ | async).logoURL !== ''" class="chatLogo" width="32px" height="32px"
        src="{{(selectedCard$ | async).logoURL}}" alt="Profilbild des Chatpartners" />
    <h2>{{ (selectedCard$ | async).title }}</h2>
</div>

<ng-template #loading>
    <app-currentpage [currentPage]="currentPage"></app-currentpage>
</ng-template>

<div class="app-container mat-typography" fxLayout="column" id="chatContainer">
    <div #messageDiv id="messages" fxLayout="column" fxFlex="50" fxFlex.gt-md="65" fxFlex.lt-md="65">
        <div *ngIf="(selectedChat$ | async) && (chatLoaded$ | async); else loadingMessages">
            <div *ngFor="let message of (selectedChat$ | async).messages; let i = index">

                <div *ngIf="(selectedChat$ | async).messages.length > 1 && i === 0 " class="messageDate">
                    {{ message.date }}
                </div>
                <div *ngIf="(selectedChat$ | async).messages.length > 1 && i > 0" class="messageDate">
                    <div class="date" *ngIf="message.date !== (selectedChat$ | async).messages[i - 1].date">
                        {{ message.date }}
                    </div>
                </div>
                <div *ngIf="(selectedChat$ | async).messages.length === 1" class="messageDate">
                    {{ message.date }}
                </div>


                <div *ngIf="message.authorId === (currentUser$ | async).id; else chatleft" class="chatMessage chatRight"
                    fxLayout.gt-sm="column">
                    <span class="messageAuthor"
                        *ngIf="(selectedChat$ | async).partner1.uid === (currentUser$ | async).id; else otherPartner"
                        fxHide.lt-md>
                        <span class="messageTime"> {{ message.time }} · </span>
                        {{ (selectedChat$ | async).partner1.firstName }}
                        {{ (selectedChat$ | async).partner1.lastName }}
                    </span>
                    <ng-template #otherPartner>
                        <span class="messageAuthor" fxHide.lt-md>
                            <span class="messageTime"> {{ message.time }} · </span>
                            {{ (selectedChat$ | async).partner2.firstName }}
                            {{ (selectedChat$ | async).partner2.lastName }}
                        </span>
                    </ng-template>
                    <span class="messageTimeRight messageTime" fxHide.gt-sm>{{ message.time }}</span>
                    <div class="messageContent" [froalaView]="message.message"></div>
                </div>

                <ng-template #chatleft>
                    <div class="chatMessage chatLeft" fxLayout.gt-sm="column">
                        <span class="messageAuthor"
                            *ngIf="(selectedChat$ | async).partner1.uid === (currentUser$ | async).id; else otherPartnerLeft"
                            fxHide.lt-md>
                            {{ (selectedChat$ | async).partner2.firstName }}
                            {{ (selectedChat$ | async).partner2.lastName }}
                            <span class="messageTime"> · {{ message.time }}</span>
                        </span>
                        <ng-template #otherPartnerLeft>
                            <span class="messageAuthor" fxHide.lt-md>
                                {{ (selectedChat$ | async).partner1.firstName }}
                                {{ (selectedChat$ | async).partner1.lastName }}
                                <span class="messageTime"> · {{ message.time | deletehtml }}</span>
                            </span>
                        </ng-template>
                        <span class="messageTimeLeft messageTime" fxHide.gt-sm>{{ message.time }}</span>
                        <div class="messageContent" [froalaView]="message.message"></div>
                    </div>
                </ng-template>
            </div>
        </div>

        <ng-template #loadingMessages>
            <mat-spinner></mat-spinner>
        </ng-template>

    </div>

    <div id="newMessage" fxFlex="50" fxFlex.gt-md="35" fxFlex.lt-md="35" fxLayoutAlign="center center">
        <textarea [froalaEditor]="froalaOptions" fxFlex="90" [(froalaModel)]="messageTyped"
            placeholder="Ihre Nachricht..." class="froalaMessage" (froalaInit)="initFroala($event)"></textarea>

        <button mat-icon-button (click)="sendMessage()" fxFlex="10" color="secondary" [disabled]="messageTyped === ''">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>