p {
  margin-bottom: 0 !important;
}

.chatDate p {
  font-size: 10px;
  color: #a8a9a8;
  text-align: right;
}

.singleChat {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 13px 15px 13px 25px;
  cursor: pointer;
}

.searchBar {
  padding: 20px 15px 0px 15px !important;
  background-color: #f2f2f2 !important;
}

.mat-form-field {
  margin-bottom: 0 !important;
}

::ng-deep .mat-form-field-outline {
  background-color: white;
}

h3 {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
}

.searchBar {
  height: 100px;
}

.app-container {
  top: 50px !important;
}

#content-center {
  max-width: 100%;
  min-width: 100%;
}

@media screen and (min-width: 960px) {
  #content-center {
    max-width: 50%;
    min-width: 50%;
    min-height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);

    #desktopChat {
      h2 {
        margin-top: 15px !important;
        margin-left: 15px !important;
      }
    }
  }

  #content-start,
  #content-end {
    min-width: 23%;
    width: 23%;
    min-height: calc(100vh - 200px);
  }

  #conversation-container {
    min-height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);

    #topBar {
      height: 50px;
      padding: 10px;

      h1 {
        margin-top: 10px !important;
        margin-bottom: 0px !important;
      }
    }

    .searchBar {
      background-color: white !important;
      padding: 2px 15px 2px 15px !important;
      height: auto !important;

      ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
        padding: 0.5em 0px !important;
      }
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
        margin-top: -15px;
      }

      mat-form-field {
        height: 50px !important;
      }
    }

    #conversations {
      border-top: 0.2px solid rgba(0, 0, 0, 0.9) !important;
      max-height: calc(100vh - 304px);
      overflow-y: scroll;

      .chatTitle {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .singleChat {
      padding: 13px 4% 13px 8%;
      .chatLogo {
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
      }

      .chatDetails {
        text-align: left;
        padding-top: 5px;
        margin-left: 5px;
        max-width: calc(77% - 45px);

        p {
          font-size: 12px !important;
          font-weight: 300 !important;

          strong {
            font-size: 12px !important;
            font-weight: 500 !important;
          }
        }
      }

      .lastMessage {
        color: #9b9b9b;
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}


.partnerLogo {
  .chatLogo:nth-of-type(n + 2) {
    display: none;
  }
}