#mainContainer {
    width: 100vw;
    height: 100vh;
    max-height: calc(100vh - 55px);
    min-height: calc(100vh - 55px);
}

@media screen and (min-width: 960px) {
    #mainContainer {
       width: auto;
    }
}

