<app-currentpage [currentPage]="currentPage" *ngIf="router.url.indexOf('feedback') > -1"></app-currentpage>

<mat-dialog-content>
    <button id="close-button" *ngIf="data.inDialog" mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-content>
<mat-dialog-content>
    <div class="mat-typography" [ngClass]="{'app-container' : router.url.indexOf('feedback') > -1}">
        <h2 style="margin-bottom: 40px" *ngIf="router.url.indexOf('feedback') > -1">Wir freuen uns über Ihr Feedback!
        </h2>
        <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
            <div fxLayout="row" fxLayoutGap="15px">
                <mat-form-field>
                    <input matInput placeholder="Vorname" formControlName="firstName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Nachname" formControlName="lastName">
                </mat-form-field>
            </div>
            <mat-form-field>
                <input matInput placeholder="E-Mail" formControlName="email">
            </mat-form-field>

            <mat-form-field class="lastField">
                <textarea matInput placeholder="Feedback" formControlName="feedback" rows="10"></textarea>
            </mat-form-field>

            <button mat-stroked-button color="primary" type="submit" class="authButton"
                [disabled]="feedbackForm.invalid">
                Senden
            </button>
        </form>
    </div>
</mat-dialog-content>