mat-action-list {
  padding-top: 0;

  mat-icon {
  font-size: 18px;

  &.arrow {
    color: rgb(204, 204, 204);
  }
}
}

.menuButton {
  font-size: 20px;
}

.subMenuButton {
  font-size: 16px !important;
  padding-left: 10% !important;
}

.buttonOpened mat-divider {
  display: none !important;
}