<app-currentpage [currentPage]="currentPage"></app-currentpage>
<div class="app-container mat-typography">
  <div *ngIf="!showSuccess">
    <h2>Bitte tragen Sie Ihre E-Mail-Adresse ein. Wir schicken Ihnen dann einen Link zur Passwortänderung per E-Mail zu.</h2>
    <form [formGroup]="emailForm" class="emailForm" (ngSubmit)="sendPasswordMail()">
      <mat-form-field>
        <input matInput placeholder="E-Mail" formControlName="email" required>
        <mat-error>Bitte geben Sie Ihre E-Mail-Adresse ein.</mat-error>
      </mat-form-field>

      <p class="searchError" *ngIf="notRegistered">Es gibt keinen Nutzer mit dieser E-Mail-Adresse</p>

      <p>Bitte geben Sie Ihre bei Edecy hinterlegte E-Mail-Adresse ein.</p>
      

      <button
        mat-stroked-button
        color="primary"
        type="submit"
        class="authButton submit-button"
        [disabled]="emailForm.invalid">
          Senden
      </button>
    </form>
  </div>

  <div *ngIf="showSuccess">
    <h2>Sie haben es fast geschafft! <br><br>
        Wir haben gerade eine E-Mail an {{ userMail }} geschickt. <br>
        Rufen Sie den Link in der E-Mail auf, um Ihr Passwort zurückzusetzen.</h2>
    <img src="../../../assets/logo/edecy_logo.svg" alt="Edecy Logo" />
  </div>
</div>
