.formHeading {
  font-size: 16px;
  font-weight: bold;
}

.checkBoxes {
  font-size: 17px;
  margin-top: 15px;
}

.checkBoxes:last-of-type {
  margin-bottom: 40px;
}

#imageInput mat-icon {
  font-size: 30px;
}

#addedPicture {
  width: 80%;
  margin-left: 10%;
  border: 1px solid rgba(1, 1, 1, 0.25);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  margin-bottom: 20px;
}

mat-chip {
  color: white !important;
  background-color: var(--edecy-darkblue) !important;
  border-radius: 5px 5px 5px 5px !important;
  -moz-border-radius: 5px 5px 5px 5px !important;
  -webkit-border-radius: 5px 5px 5px 5px !important;
  border: 0px solid #000000;
}

.mat-chip-remove.mat-icon {
  color: white;
}

.mat-standard-chip {
  min-height: 25px !important;
  line-height: 30px !important;
}

.mat-select {
  font-size: 16px;
  border: 1px solid #cccccc;
  line-height: 20px;
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 15px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

mat-slide-toggle {
  margin-bottom: 20px;
}

mat-form-field {
  margin-bottom: 10px !important;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  max-width: 800px;
}

.inputfile + label {
  width: 100%;
  border: 0.5px solid #979797;
  height: 150px;

  padding-top: 20px;
}

.inputfile + label mat-icon {
  font-size: 35px !important;
  margin-bottom: 10px;
}

#croppedImage {
  width: 100%;
}

#addedPicture {
  width: 90%;
  margin-left: 5%;
  border: 1px solid rgba(1, 1, 1, 0.25);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  margin-top: 10px;
}

#actionButtons button {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: white;
}

#actionButtons .mat-icon {
  font-size: 25px;
  margin-bottom: 3px;
}

.checkBoxes {
  font-size: 17px;
  margin-top: 15px;
}

.checkBoxes:last-of-type {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px !important;
}

h1 {
  text-align: center;
}

p {
  margin-bottom: 25px;
}

#footer-container {
  bottom: 0px;
  width: 100%;
  text-align: center;
  margin-top: 45px;
}

@media screen and (min-width: 960px) {
  #content-center {
    max-width: 50%;
    min-width: 50%;
  }

  .cardDetailsContainer {
    position: relative;
  }

  #content-start,
  #content-end {
    min-width: 23%;
    width: 23%;
  }
}

@media (max-width: 959px) {
  #content-center {
    min-width: 100% !important;
  }
}

.slideContainer {
  ::ng-deep .mat-slide-toggle-bar {
    background-color: rgba(234,80,75, 0.5) !important;
  }

  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #2d9900 !important;
  }

  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(45,153,0, 0.5) !important;
  }

  ::ng-deep .mat-slide-toggle-thumb {
    background-color: var(--edecy-red) !important;
  }
}
