<app-currentpage [currentPage]="currentPage" fxHide.gt-sm></app-currentpage>


<div #mainContainer class="mat-typography" id="cardHeader">
    <div id="content-container" fxLayout.gt-md="row">
        <div fxHide.lt-md id="content-start">
            <app-blog></app-blog>

        </div>
        <div id="content-center">
            <div class="app-container cardDetailsContainer edecy-card shadowed-short">
                <h1 fxHide.lt-md>Anzeige bearbeiten</h1>
                <form [formGroup]="editForm" class="editForm">
                    <mat-form-field class="formHeading">
                        <input matInput placeholder="Titel*" formControlName="title">
                    </mat-form-field>

                    <h2 style="margin-top: 20px">Beschreibung:</h2>
                    <ng-container *ngIf="isBrowser">
                        <textarea [froalaEditor]="froalaOptions" [(froalaModel)]="cardDescription" id="froalaEditor"></textarea>
                    </ng-container>

                    <br>

                    <div fxLayout="column" class="slideContainer">
                        <mat-slide-toggle formControlName="showUserName">Meinen Nutzernamen anzeigen</mat-slide-toggle>
                        <mat-slide-toggle formControlName="loginRequired">Die Anzeige nur eingeloggten Nutzern anzeigen
                        </mat-slide-toggle>
                        <mat-slide-toggle formControlName="showOrganisation">Meine Organisation anzeigen
                        </mat-slide-toggle>
                        <mat-slide-toggle formControlName="showProjectPlz">Die PLZ des Projektstandorts anzeigen
                        </mat-slide-toggle>
                        <mat-slide-toggle formControlName="showPlz">Die PLZ meiner Organisation anzeigen
                        </mat-slide-toggle>
                        <mat-slide-toggle formControlName="mailAlert">Ich möchte via E-Mail über Updates <br>
                            benachrichtigt werden
                        </mat-slide-toggle>
                    </div>

                    <h2 style="margin-top: 20px">Kategorie</h2>
                    <div fxLayout="column" *ngFor="let item of categories; let i = index" class="checkBoxes">
                        <mat-checkbox [checked]="category.indexOf(item) > -1" (change)="changeCategory($event)"
                            [value]="item">
                            {{ item }}</mat-checkbox>
                    </div>

                    <h2 style="margin-top: 20px">Auftraggeber</h2>
                    <mat-form-field>
                        <input matInput placeholder="Ihre Organisation" formControlName="organisation">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Straße und Hausnummer" formControlName="clientStreetNo">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Postleitzahl" formControlName="clientPLZ">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Stadt" formControlName="clientCity">
                    </mat-form-field>
                    <h3 style="margin-top: 20px; margin-bottom: 5px !important">Größe Ihrer Organisation</h3>
                    <mat-form-field class="orgSizeField">
                        <mat-select formControlName="orgSize">
                            <mat-option *ngFor="let size of orgSizes" [value]="size">
                                {{size}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <h2>Projektstandort (optional)</h2>
                    <mat-form-field>
                        <input matInput placeholder="Straße und Hausnummer" formControlName="projectStreetNo">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Postleitzahl" formControlName="projectPLZ">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Stadt" formControlName="projectCity">
                    </mat-form-field>

                    <h2 style="margin-top: 20px">Schlagworte</h2>
                    <mat-form-field class="lastField">
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let tag of tags; let i = index;" [selectable]="selectable"
                                [removable]="removable" (removed)="removeTag(tag)">
                                {{tag}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Schlagworte" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="addTag($event)">
                        </mat-chip-list>
                    </mat-form-field>


                </form>
                <h2>Fachrichtung</h2>
                <mat-select [(ngModel)]="selectedSubject" (selectionChange)="showDisciplines()"
                    placeholder="Wählen Sie Ihre Fachrichtung">
                    <mat-option *ngFor="let subject of specialties;" [value]="subject.title">
                        {{ subject.title }}
                    </mat-option>
                </mat-select>
                <br>
                <mat-select [(ngModel)]="selectedDiscipline" (selectionChange)="showSpecialties()"
                    placeholder="Wählen Sie Ihre Disziplin">
                    <mat-option *ngFor="let discipline of disciplineToShow;" [value]="discipline.index">
                        {{ discipline.disciplineTitle }}
                    </mat-option>
                </mat-select>
                <br>
                <mat-select [(ngModel)]="selectedSpecialty" (selectionChange)="selectSpecialty()"
                    placeholder="Wählen Sie Ihre Spezialisierung">
                    <mat-option *ngFor="let specialty of specialtiesToShow;" [value]="specialty">
                        {{ specialty }}
                    </mat-option>
                </mat-select>

                <h2 style="margin-top: 20px">Anzeigenbild</h2>
                <div id="imageInput" *ngIf="pictureUrl === ''">

                    <input type="file" name="picture" id="pictureInput" class="inputfile"
                        (change)="fileChangeEvent($event)" accept="image/*" />
                    <label for="pictureInput" fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon color="secondary">add_circle</mat-icon>
                        <h2 *ngIf="croppedImage === ''">Bild hinzufügen</h2>
                        <h2 *ngIf="croppedImage !== ''">Bild ändern</h2>
                    </label>

                    <image-cropper *ngIf="pictureUrl === ''" [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true" [aspectRatio]="3 / 1" [resizeToWidth]="375" format="png"
                        (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                    </image-cropper>

                    <h2 *ngIf="pictureUrl === ''">Vorschau:</h2>
                    URL: {{ pictureUrl }}

                    <img *ngIf="pictureUrl === ''" [src]="croppedImage" id="croppedImage"
                        alt="Vorschaubild Edit-Card" />


                    <button mat-stroked-button color="primary" class="authButton" [disabled]="croppedImage === ''"
                        (click)="uploadPicture()" style="margin-bottom: 20px">
                        Hochladen
                    </button>
                </div>

                <div *ngIf="pictureUrl !== ''">
                    <img id="addedPicture" src="{{pictureUrl}}" alt="hinzugefügtes Bild" />
                    <button mat-stroked-button color="primary" class="authButton" (click)="changePicture()"
                        style="margin-bottom: 20px">
                        Bild ändern
                    </button>
                </div>

                <div *ngIf="selectedCard$ | async">
                    <div id="actionButtons" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center start"
                        *ngIf="(selectedCard$ | async).status === 'published'">
                        <button mat-icon-button (click)="dePublishCard()" matTooltip="Veröffentlichung zurücknehmen" class="shadowed-short">
                            <mat-icon color="accent">stop_screen_share</mat-icon>
                        </button>
                        <button mat-icon-button (click)="saveCard()" matTooltip="Speichern" class="shadowed-short">
                            <mat-icon color="accent">save</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteCard()" matTooltip="Löschen" class="shadowed-short">
                            <mat-icon color="accent">delete</mat-icon>
                        </button>
                    </div>

                    <div id="actionButtons" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center start"
                        *ngIf="(selectedCard$ | async).status === 'saved'">
                        <button mat-icon-button (click)="publishCard()" matTooltip="Veröffentlichen" class="shadowed-short">
                            <mat-icon color="accent">publish</mat-icon>
                        </button>
                        <button mat-icon-button (click)="saveCard()" matTooltip="Speichern" class="shadowed-short">
                            <mat-icon color="accent">save</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteCard()" matTooltip="Löschen" class="shadowed-short">
                            <mat-icon color="accent">delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div id="content-end" fxHide.lt-md>
            <app-profile-overview></app-profile-overview>
            <app-my-cards [embeddedMode]="true" *ngIf="(currentUser$ | async) !== null"></app-my-cards>
        </div>
    </div>
    <div id="footer-container">
        <button id="feedback-button" mat-button (click)="openFeedbackDialog()" matTooltip="Feedback" fxHide.lt-md>
            <h2>Haben Sie Feedback für uns?</h2>
        </button>
    </div>
</div>