#blog-container {
  overflow-y: hidden;
  position: relative;

  a {
    max-height: 100%;
  }

  #image-container {
    width: 100%;
    max-height: 100%;
  }

  .blogPost {
    width: 100%;
    height: 100%;

    a {
      text-decoration: none;
    }

    a:hover {
      cursor: pointer;
      text-decoration: none;
    }

    .blogPostPicture {
      width: 100%;
      height: 60%;
      background-position: center;
      background-size: cover;
    }

    .postData {
      width: calc(100% - 100px);
      margin-left: 50px;
      height: 40%;
      color: var(--edecy-darkblue);

      h2 {
        max-width: 100%;
        max-height: calc(100% - 10px);
        word-break: break-word;
        text-overflow: ellipsis;
        overflow-y: hidden;
        margin: auto;
      }
    }
  }

  mat-icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: var(--edecy-blue);
  }

  mat-icon:hover {
    cursor: pointer;
  }

  .arrowLeft {
    position: absolute;
    bottom: 15%;
    left: 5px;
  }

  .arrowRight {
    position: absolute;
    bottom: 15%;
    right: 5px;
  }
}
