<div id="blog-container" fxLayout="column" fxLayoutAlign="start start" class="edecy-card">
    <ng-container *ngFor="let blogPost of (blogPosts$ | async)" class="postContainer">
        <div class="blogPost" *ngIf="blogPost.order === postShown">
            <a href="{{blogPost.url}}" target="_blank">
                <div class="blogPostPicture" [style.background-image]="'url(' + blogPost.pictureURL + ')'"></div>
            </a>
            <a href="{{blogPost.url}}" target="_blank">
                <div fxLayout="row" class="postData" fxxLayoutAlign="center center">
                    <h2 fxLayout="column" fxLayoutAlign="start center">{{ blogPost.title }}</h2>
                </div>
            </a>
        </div>

    </ng-container>

    <div class="arrowLeft" (click)="previousPost()">
        <mat-icon>arrow_back_ios</mat-icon>
    </div>

    <div class="arrowRight" (click)="nextPost()">
        <mat-icon>arrow_forward_ios</mat-icon>
    </div>
</div>