<div class="optout" fxLayout="column" fxLayout="center center">
    <p>
        Edecy verwendet Cookies, um Ihr Nutzererlebnis auf unserer Plattform fortlaufend zu verbessern. Cookies
        ermöglichen
        uns hierbei die Erstellung persönlicher Empfehlungen und die Optimierung von Inhalten und Funktionen. Um Cookies
        zu
        aktivieren, klicken Sie bitte auf "Akzeptieren". Ihre Einwilligung können Sie jederzeit in den
        Cookie-Einstellungen in der Fußzeile widerrufen. Weitere Informationen entnehmen Sie bitte unserer
        <a [routerLink]="['/legal/privacy-policy']" target="_blank">Datenschutzerklärung</a>.
    </p>

    <div fxLayout="row">
        <button mat-raised-button color="primary" (click)="closeBanner(true)" class="acceptButton">
            Akzeptieren
        </button>
        <button mat-stroked-button color="primary" (click)="closeBanner(false)" class="acceptButton">
            Ablehnen
        </button>
    </div>
</div>