<div class="mat-typography" fxLayout="column" fxLayoutAlign="center center">
    <h2 *ngIf="data.source === ''">Der volle Funktionsumfang von Edecy steht nur
        eingeloggten Nutzern zur Verfügung.
        Registrieren Sie sich jetzt auf unserer Plattform und finden Sie optimale Forschungspartner:</h2>

    <h2 *ngIf="data.source === 'profile'">Um ein Profil anlegen zu können und für weitere spannende Funktionen,
        registrieren Sie sich jetzt auf unserer Plattform und finden Sie optimale Forschungspartner:</h2>

    <h2 *ngIf="data.source === 'detail'">Um alle Details dieser Anzeige sehen zu können und für weitere spannende
        Funktionen,
        registrieren Sie sich jetzt auf unserer Plattform und finden Sie optimale Forschungspartner:</h2>

    <h2 *ngIf="data.source === 'create'">Um eigene Anzeigen erstellen zu können und für weitere spannende
        Funktionen,
        registrieren Sie sich jetzt auf unserer Plattform und finden Sie optimale Forschungspartner:</h2>

    <button mat-stroked-button color="primary" (click)="goToRegister()" class="authButton"
        style="margin-bottom: 10px">Registrieren
    </button>
    <button mat-stroked-button color="primary" (click)="goToLogin()" class="authButton">Einloggen
    </button>

    <button mat-icon-button  mat-dialog-close (click)="closeTeaser()" id="closeButton">
        <mat-icon>close</mat-icon>
    </button>
</div>