.auth-overlay {
    position: absolute;
    z-index: 999;
    padding: 35px;
    top: 430px;
    left: 17%;
    width: 66%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);

    h1,
    h2 {
        text-align: center;
    }

    h2 {
        margin-bottom: 20px !important;
        margin-top: 25px !important;
    }

    button {
        width: 100%;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        height: 50px;
    }

    .login-button {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .forget-password {
        text-decoration: none;

        p {
            color: var(--edecy-blue);

            &:hover {
                color: var(--edecy-darkblue);
                cursor: pointer;
            }
        }
    }
}

.request-detail {
    top: 200px !important;
    left: 17%;
    width: 66%;
}

.profile-detail {
    top: 0 !important;
    left: 17%;
    width: 66%;
}
@media (max-width: 959px) {
    .auth-overlay {
        top: 300px !important;
        left: 6% !important;
        width: 88% !important;
    }

    .request-detail {
        top: 150px !important;
        left: 5% !important;
        width: 90% !important;
    }

    .profile-detail {
        top: 100px !important;
    }
}
