<div class="auth-overlay mat-typography shadowed-short" fxLayout="column"
    [ngClass]="{'request-detail': overlayPlacedAt === 'Detailansicht', 'profile-detail': overlayPlacedAt === 'Profildetails'}">
    <h1>Bitte melden Sie sich an:</h1>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="loginForm">
        <mat-form-field>
            <input matInput placeholder="E-Mail" formControlName="email" required>
            <mat-error>Bitte geben Sie Ihre E-Mail-Adresse ein.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Passwort" formControlName="password" autocomplete="current-password"
                [type]="hide ? 'password' : 'text'" required>
            <mat-error>Bitte geben Sie Ihr Passwort ein.</mat-error>
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <div class="errorMessage" *ngIf="(error$ | async) === 'Invalid username/password.'">
            <p class="searchError">Falscher Nutzername oder falsches Passwort. Bitte probieren Sie es erneut.</p>
        </div>

        <button mat-raised-button color="primary" type="submit" class="login-button submit-button">
            Anmelden
        </button>
        <a class="forget-password" [routerLink]="['/forgot-password']">
            <p>Passwort vergessen?</p>
        </a>
    </form>
    <h2>Noch nicht registriert?</h2>
    <button mat-raised-button color="primary" [routerLink]="['/prices']">
        Unsere Angebote
    </button>
</div>