<div #mainContainer class="mat-typography" id="cardHeader">

    <div class="tab-nav" *ngIf="!inMyProfileView && !embedded">
        <app-tab-navigation fxHide.lt-md></app-tab-navigation>
    </div>

    <div *ngIf="(currentProfile$ | async)">
        <app-currentpage [currentPage]="(currentProfile$ | async).title" fxHide.gt-sm *ngIf="!inMyProfileView && !embedded">
        </app-currentpage>
    </div>


    <div id="content-container" fxLayout="row">

        <div id="content-start" fxHide.lt-md *ngIf="!embedded">
            <div class="business-card shadowed-long" *ngIf="(currentProfile$ | async)">
                <div class="profilePic" *ngIf="(currentProfile$ | async).logoURL !== ''">
                    <img src="{{(currentProfile$ | async).logoURL}}" alt="Logo der Organisation oder Einrichtung" />
                </div>
                <div class="profilePic" *ngIf="(currentProfile$ | async).logoURL === ''">
                    <img src="../../../../../assets/images/crawled_profile.png"
                        alt="Logo der Organisation oder Einrichtung" class="dummypic" />
                </div>

                <h3>{{ (currentProfile$ | async).title }}</h3>
                <h3 class="organization">{{ (currentProfile$ | async).organisation }}</h3>
                <div class="specialtyImage">
                    <mat-icon svgIcon="interdiz" *ngIf="(currentProfile$ | async).specialty1 === 'Interdisziplinäres'">
                    </mat-icon>
                    <mat-icon svgIcon="rechtswissenschaften"
                        *ngIf="(currentProfile$ | async).specialty1 === 'Rechtswissenschaften, Jurisprudenz'">
                    </mat-icon>
                    <mat-icon svgIcon="wirtschaft"
                        *ngIf="(currentProfile$ | async).specialty1 === 'Wirtschaftswissenschaften'">
                    </mat-icon>
                    <mat-icon svgIcon="naturwissenschaften"
                        *ngIf="(currentProfile$ | async).specialty1 === 'Naturwissenschaften'">
                    </mat-icon>
                    <mat-icon svgIcon="informationsw-mathe"
                        *ngIf="(currentProfile$ | async).specialty1 === 'Informationswissenschaften und Mathematik'">
                    </mat-icon>
                    <mat-icon svgIcon="medizintechnik"
                        *ngIf="(currentProfile$ | async).specialty1 === 'Medizintechnik'">
                    </mat-icon>
                    <mat-icon svgIcon="ingenieur"
                        *ngIf="(currentProfile$ | async).specialty1 === 'Ingenieurswissenschaften'">
                    </mat-icon>
                </div>
                <div class="specialtyTitle">
                    <h3 *ngIf="(currentProfile$ | async).specialty1 === 'Interdisziplinäres'">
                        Interdisziplinäres</h3>
                    <h3 *ngIf="(currentProfile$ | async).specialty1 === 'Rechtswissenschaften, Jurisprudenz'">
                        Rechtswissenschaften, Jurisprudenz</h3>
                    <h3 *ngIf="(currentProfile$ | async).specialty1 === 'Wirtschaftswissenschaften'">
                        Wirtschaftswissenschaften</h3>
                    <h3 *ngIf="(currentProfile$ | async).specialty1 === 'Naturwissenschaften'">
                        Naturwissenschaften</h3>
                    <h3 *ngIf="(currentProfile$ | async).specialty1 === 'Informationswissenschaften und Mathematik'">
                        Informationswissenschaften und Mathematik</h3>
                    <h3 *ngIf="(currentProfile$ | async).specialty1 === 'Medizintechnik'">
                        Medizintechnik
                    </h3>
                    <h3 *ngIf="(currentProfile$ | async).specialty1 === 'Ingenieurswissenschaften'">
                        Ingenieurswissenschaften</h3>
                </div>
                <div class="profileTagList">
                    <mat-chip-list fxLaoyut="column">
                        <ng-container *ngFor="let tag of (currentProfile$ | async).tags; let i=index">
                            <mat-chip *ngIf="i < 3">
                                {{ tag }}
                            </mat-chip>
                        </ng-container>

                    </mat-chip-list>
                </div>

                <div class="metaInfos" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="5px">
                    <div *ngIf="(currentProfile$ | async).public === true">
                        <mat-icon svgIcon="school"></mat-icon>
                    </div>
                    <div *ngIf="(currentProfile$ | async).public === false">
                        <mat-icon svgIcon="domain"></mat-icon>
                    </div>
                    <div *ngIf="(currentProfile$ | async).orgSize !== ''" fxLayout="column"
                        fxLayoutAlign="center center">
                        <h3>{{ (currentProfile$ | async).orgSize }}</h3>
                    </div>
                </div>
                <div class="profileType">
                    <div *ngIf="(currentProfile$ | async).companyType !== ''" fxLayout="column"
                        fxLayoutAlign="center center">
                        <h3>{{ (currentProfile$ | async).companyType }}</h3>
                    </div>
                    <div *ngIf="(currentProfile$ | async).instituteType !== ''" fxLayout="column"
                        fxLayoutAlign="center center">
                        <h3>{{ (currentProfile$ | async).instituteType }}</h3>
                    </div>
                </div>

                <div class="cardCounter">
                    <div *ngIf="(profileRequests$ | async).length > 0" fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon svgIcon="gesuch"></mat-icon>
                        <h3>{{ (profileRequests$ | async).length }} Gesuch<span
                                *ngIf="(profileRequests$ | async).length > 1">e</span></h3>
                    </div>
                </div>
                <div class="profileCity">
                    <h3 *ngIf="(currentProfile$ | async).city !== ''">Standort:
                        {{ (currentProfile$ | async).city }}</h3>
                </div>
            </div>
        </div>

        <div id="content-center" [ngClass]="{'full-width-content': embedded === true}">
            <div class="business-card-mobile" fxLayout="column" fxLayoutAlign="center center" fxHide.gt-sm
                *ngIf="(currentProfile$ | async)" [ngClass]="{'my-profile': inMyProfileView === true}">
                <div class="profilePic" *ngIf="(currentProfile$ | async).logoURL !== ''">
                    <img src="{{(currentProfile$ | async).logoURL}}" alt="Logo der Organisation oder Einrichtung" />
                </div>
                <div class="profilePic" *ngIf="(currentProfile$ | async).logoURL === ''">
                    <img src="../../../../../assets/images/crawled_profile.png"
                        alt="Logo der Organisation oder Einrichtung" class="dummypic" />
                </div>
                <h3>{{ (currentProfile$ | async).title }}</h3>
                <h3 class="organization">{{ (currentProfile$ | async).organisation }}</h3>
            </div>
            <div class="profile-container shadowed-short" fxLayout="column" *ngIf="(currentProfile$ | async)">
                <div class="top-bar">
                    <button class="back-button" mat-icon-button color="primary" [routerLink]="['/cards/list']"
                        fxHide.lt-md *ngIf="!embedded">
                        <mat-icon>arrow_back_ios</mat-icon>
                        <span>zurück</span>
                    </button>
                    <div *ngIf="(currentProfile$ | async)" id="profileVisible" fxLayout="row"
                        fxLayoutAlign="center center" fxLayoutGap="15px">
                        <p [style.font-size]="onlineStateFontSize" *ngIf="(currentProfile$ | async).status === 'saved'">
                            Profil online</p>
                        <p [style.font-size]="onlineStateFontSize"
                            *ngIf="(currentProfile$ | async).status === 'published'" style="color: #2d9900">Profil
                            online
                        </p>
                        <mat-slide-toggle [checked]="(currentProfile$ | async).status === 'saved'"
                            (change)="changePublic()">
                        </mat-slide-toggle>
                        <p [style.font-size]="onlineStateFontSize"
                            *ngIf="(currentProfile$ | async).status === 'published'">Profil offline</p>
                        <p [style.font-size]="onlineStateFontSize" *ngIf="(currentProfile$ | async).status === 'saved'"
                            style="color: #ea5753">Profil
                            offline
                        </p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" class="edit-profile-container">
                        <a [routerLink]="['/profiles/edit-profile']">Profil bearbeiten</a>

                        <button matTooltip="Bearbeiten" [routerLink]="['/profiles/edit-profile']"
                            class="edit-button main-edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>

                </div>

                <div id="profile-navigation" fxLayout="row" fxLayoutAlign="start center" #profileNavigation
                    [ngClass]="{'sidebar-nav': inSideBar}" *ngIf="!inSideBar">
                    <a (click)="showSection('Allgemein')" [ngClass]="{'active': sectionShown === 'Allgemein'}"
                        #allgemein>
                        <h3>Allgemein</h3>
                    </a>
                    <a (click)="showSection('Gesuche')" [ngClass]="{'active': sectionShown === 'Gesuche'}"
                        *ngIf="(profileRequests$ | async)" class="requests" fxHide.lt-md>
                        <h3>{{ (profileRequests$ | async).length }} Gesuche</h3>
                    </a>
                    <a (click)="showSection('Gesuche')" [ngClass]="{'active': sectionShown === 'Gesuche'}"
                        *ngIf="(profileRequests$ | async)" class="requests" fxHide.gt-sm #gesuche>
                        <h3 [style.width.px]="requestsNavLength">{{ (profileRequests$ | async).length }} Gesuche
                        </h3>
                    </a>
                    <a (click)="showSection('Forschungsschwerpunkte')"
                        [ngClass]="{'active': sectionShown === 'Forschungsschwerpunkte'}" #schwerpunkte>
                        <h3>Forschungsschwerpunkte</h3>
                    </a>
                    <a (click)="showSection('Projektreferenzen')"
                        [ngClass]="{'active': sectionShown === 'Projektreferenzen'}" #projekte>
                        <h3>Projektreferenzen</h3>
                    </a>
                    <a (click)="showSection('Publikationen')" [ngClass]="{'active': sectionShown === 'Publikationen'}"
                        #publikationen>
                        <h3>Publikationen</h3>
                    </a>
                </div>

                <div class="profile-content main-content" *ngIf="sectionShown === 'Allgemein'">
                    <div class="basic-infos" fxLayout="row" fxLayoutGap="50px"
                        [ngClass]="{'col-reverse': inSideBar === true}">
                        <div class="basics-container" [ngClass]="{'no-minheight': inSideBar === true}">
                            <h2>Über uns</h2>
                            <div class="description">
                                <div [froalaView]="(currentProfile$ | async).description"
                                    class="profile-description-short" [style.-webkit-line-clamp]="linesShown"
                                    [ngClass]="{'long-description': !shortDescription}"></div>

                                <span (click)="showMoreText()" class="showMoreButton" *ngIf="shortDescription">mehr
                                    anzeigen</span>
                            </div>

                        </div>
                        <div *ngIf="(currentProfile$ | async).logoURL !== ''" class="logo-container" fxHide.lt-md
                            (click)="openProfile()">
                            <img src="{{ (currentProfile$ | async).logoURL }}" class="organisation-logo"
                                alt="Logo der Organisation oder Einrichtung" />
                        </div>
                        <div *ngIf="(currentProfile$ | async).logoURL === ''" class="logo-container" fxHide.lt-md
                            (click)="openProfile()">
                            <img src="../../../assets/images/crawled_profile.png" class="organisation-logo dummyPic"
                                alt="Logo der Organisation oder Einrichtung" />
                        </div>

                    </div>

                    <div class="content-card shadowed-long border-round" fxLayout="column"
                        [ngClass]="{'sidebar-content': inSideBar === true}">
                        <div class="icon-container border-round" fxLayout="column" fxLayoutAlign="center center"
                            [ngClass]="{'sidebar-icon': inSideBar === true}">
                            <mat-icon svgIcon="interdizwhite"
                                *ngIf="(currentProfile$ | async).specialty1 === 'Interdisziplinäres'">
                            </mat-icon>
                            <mat-icon svgIcon="rechtswissenschaftenwhite"
                                *ngIf="(currentProfile$ | async).specialty1 === 'Rechtswissenschaften, Jurisprudenz'">
                            </mat-icon>
                            <mat-icon svgIcon="wirtschaftwhite"
                                *ngIf="(currentProfile$ | async).specialty1 === 'Wirtschaftswissenschaften'">
                            </mat-icon>
                            <mat-icon svgIcon="naturwissenschaftenwhite"
                                *ngIf="(currentProfile$ | async).specialty1 === 'Naturwissenschaften'">
                            </mat-icon>
                            <mat-icon svgIcon="informationsw-mathewhite"
                                *ngIf="(currentProfile$ | async).specialty1 === 'Informationswissenschaften und Mathematik'">
                            </mat-icon>
                            <mat-icon svgIcon="medizintechnikwhite"
                                *ngIf="(currentProfile$ | async).specialty1 === 'Medizintechnik'">
                            </mat-icon>
                            <mat-icon svgIcon="ingenieurwhite"
                                *ngIf="(currentProfile$ | async).specialty1 === 'Ingenieurswissenschaften'">
                            </mat-icon>
                        </div>

                        <h2>Fachgebiet</h2>

                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px"
                            class="wrapped">
                            <div fxLayout="column" class="specialties single-property">
                                <h3>Forschungsschwerpunkt</h3>
                                <h3>{{ (currentProfile$ | async).specialty1 }}</h3>
                            </div>
                            <div fxLayout="column" class="specialties single-property">
                                <h3>Disziplin</h3>
                                <h3>{{ (currentProfile$ | async).specialty2 }}
                                </h3>
                            </div>
                        </div>

                        <div class="subject-areas">
                            <h3>Spezialisierung</h3>
                            <div fxLayout="row">
                                <ng-container *ngFor="let area of (currentProfile$ | async).specialty3; last as isLast">
                                    <h3>{{ area }}<span *ngIf="!isLast">,</span></h3>
                                </ng-container>
                            </div>
                        </div>

                        <div class="tags" *ngIf="(currentProfile$ | async).tags.length > 0">
                            <h3>Schlagworte</h3>
                            <mat-chip-list>
                                <div *ngFor="let tag of (currentProfile$ | async).tags; let i = index">
                                    <mat-chip style="margin-right: 5px" *ngIf="i < 11" [ngClass]="{'darkblue': i < 3}">
                                        {{ tag }}
                                    </mat-chip>
                                </div>
                            </mat-chip-list>
                        </div>
                    </div>

                    <div class="content-card shadowed-long border-round" fxLayout="column"
                        [ngClass]="{'sidebar-content': inSideBar === true}">
                        <div class="icon-container border-round" fxLayout="column" fxLayoutAlign="center center"
                            [ngClass]="{'sidebar-icon': inSideBar === true}">
                            <mat-icon svgIcon="domain" *ngIf="(currentProfile$ | async).public === false">
                            </mat-icon>
                            <mat-icon svgIcon="school" *ngIf="(currentProfile$ | async).public === true">
                            </mat-icon>
                            <h3 *ngIf="(currentProfile$ | async).public === false">
                                Privat</h3>
                            <h3 *ngIf="(currentProfile$ | async).public === true">
                                Öffentlich</h3>

                        </div>
                        <h2>Organisation</h2>
                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px"
                            class="wrapped">
                            <div fxLayout="column" class="single-property">
                                <h3>Form</h3>
                                <h3>
                                    <span *ngIf="(currentProfile$ | async).public === true">Öffentlich</span>
                                    <span *ngIf="(currentProfile$ | async).public === false">Privat</span>
                                    <span *ngIf="(currentProfile$ | async).companyType !== ''">,
                                        {{ (currentProfile$ | async).companyType }}</span>
                                    <span *ngIf="(currentProfile$ | async).instituteType !== ''">,
                                        {{ (currentProfile$ | async).instituteType }}</span>
                                </h3>
                            </div>
                            <div fxLayout="column" class="single-property"
                                *ngIf="(currentProfile$ | async).plz !== '' || (currentProfile$ | async).city !== ''">
                                <h3>Standort</h3>
                                <h3>
                                    <span *ngIf="(currentProfile$ | async).plz !== ''">
                                        {{ (currentProfile$ | async).plz }}
                                    </span>
                                    <span *ngIf="(currentProfile$ | async).city !== ''">
                                        {{ (currentProfile$ | async).city }}
                                    </span>
                                </h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px"
                            class="wrapped">
                            <div fxLayout="column" class="single-property"
                                *ngIf="(currentProfile$ | async).orgSize !== ''">
                                <h3>Größe</h3>
                                <h3>
                                    {{ (currentProfile$ | async).orgSize }} Beschäftigte
                                </h3>
                            </div>
                            <div fxLayout="column" class="single-property">
                                <h3>Projektleitung</h3>
                                <h3>
                                    <span *ngIf="(currentProfile$ | async).projectLeadershipPossible === true">
                                        möglich
                                    </span>
                                    <span *ngIf="(currentProfile$ | async).projectLeadershipPossible === true">
                                        nicht möglich
                                    </span>
                                </h3>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px"
                            *ngIf="(currentProfile$ | async).interest.length > 0" class="wrapped">
                            <div fxLayout="column" class="single-property full-space">
                                <h3>Interesse</h3>
                                <div fxLayout="row" fxLayoutGap="5px" class="interests">
                                    <ng-container *ngFor="let interest of (currentProfile$ | async).interest">
                                        <h3 class="list-heading">{{ interest }},</h3>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-card shadowed-long border-round projects-card" fxLayout="column"
                        *ngIf="(profileRequests$ | async).length > 0 || (currentProfile$ | async).projects.length > 0"
                        [ngClass]="{'sidebar-content': inSideBar === true}">
                        <div class="icon-container border-round big-icon" fxLayout="column"
                            fxLayoutAlign="center center" [ngClass]="{'sidebar-icon': inSideBar === true}">
                            <mat-icon svgIcon="projektbegleitungwhite"></mat-icon>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout.lt-lg="column"
                            [ngClass]="{'projects-column': inSideBar === true || smallView === true}">
                            <div class="project-items" fxLayout="column">
                                <h2>Projekte</h2>
                                <p>
                                    {{ (profileRequests$ | async).length + (currentProfile$ | async).projects.length }}
                                </p>
                            </div>
                            <div class="project-items" fxLayout="column">
                                <h2>Offen</h2>
                                <p>{{ (profileRequests$ | async).length }}</p>
                                <a *ngIf="(profileRequests$ | async).length > 0"
                                    (click)="showSection('Gesuche')">Gesuche anzeigen</a>
                            </div>
                            <div class="project-items" fxLayout="column"
                                *ngIf="(currentProfile$ | async).projects.length > 0">
                                <h2>Abgeschlossen</h2>
                                <p>{{ (currentProfile$ | async).projects.length }}</p>
                                <a (click)=" showSection('Projektreferenzen')">alle ansehen</a>
                            </div>
                        </div>
                    </div>

                    <div class="content-card shadowed-long border-round publications-card" fxLayout="column"
                        *ngIf="(currentProfile$ | async).publications.length > 0"
                        [ngClass]="{'sidebar-content': inSideBar === true}">
                        <div class="icon-container border-round big-icon" fxLayout="column"
                            fxLayoutAlign="center center" [ngClass]="{'sidebar-icon': inSideBar === true}">
                            <mat-icon svgIcon="publikationen"></mat-icon>
                        </div>
                        <h2>Publikationen</h2>
                        <p *ngFor="let publication of (currentProfile$ | async).publications"
                            class="single-publication">
                            {{ publication.title }} <mat-icon svgIcon="arrowright"
                                (click)="openPublication(publication)"></mat-icon>
                        </p>

                        <a (click)="showSection('Publikationen')">alle ansehen</a>
                    </div>

                </div>

                <div class="profile-content research-content" *ngIf="sectionShown === 'Gesuche'">
                    <ng-container *ngFor="let item of (profileRequests$ | async); let i = index">
                        <app-profile-card [cardToDisplay]="item" class="singleCardContainer">
                        </app-profile-card>
                    </ng-container>
                </div>

                <div class="profile-content research-content" *ngIf="sectionShown === 'Forschungsschwerpunkte'">
                    <div class="add-button-small" fxLayout="column" fxLayoutAlign="start end">
                        <a (click)="editFocus(newFocus, focusesLength)">Forschungsschwerpunkt hinzufügen</a>
                    </div>
                    <div class="content-card shadowed-short border-round" fxLayout="column"
                        *ngFor="let focus of (currentProfile$ | async).researchFocus; let i = index">
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <h2 [ngClass]="{'border-bottom': focusOpen === focus}">{{ focus.title }}</h2>
                            <div fxLayout="row" class="action-buttons">
                                <button class="edit-button" (click)="editFocus(focus, i)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button class="edit-button" (click)="deleteFocus(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <div class="open-button" fxLayout="column" fxLayoutAlign="center center">
                                    <mat-icon *ngIf="focusOpen === focus" (click)="closeFocus()">
                                        keyboard_arrow_up
                                    </mat-icon>
                                    <mat-icon *ngIf="focusOpen !== focus" (click)="openFocus(focus)">
                                        keyboard_arrow_down
                                    </mat-icon>
                                </div>
                            </div>
                        </div>

                        <div [froalaView]="focus.description" *ngIf="focusOpen === focus"></div>
                    </div>

                    <div class="add-button shadowed-short border-round" (click)="editFocus(newFocus, focusesLength)"
                        fxLayout="row" fxLayoutAlign="center center">
                        <h2>
                            Forschungsschwerpunkt hinzufügen
                        </h2>
                        <mat-icon>
                            add_circle
                        </mat-icon>
                    </div>
                </div>

                <div class="profile-content research-content" *ngIf="sectionShown === 'Publikationen'">
                    <div class="add-button-small" fxLayout="column" fxLayoutAlign="start end">
                        <a (click)="editPublication(newPublication, publicationsLength)">Publikation hinzufügen</a>
                    </div>
                    <div class="content-card shadowed-short border-round" fxLayout="column"
                        *ngFor="let publication of (currentProfile$ | async).publications; let i = index">
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <h2 [ngClass]="{'border-bottom': publicationOpen === publication}">{{ publication.title }}
                            </h2>
                            <div fxLayout="row" class="action-buttons">
                                <button class="edit-button" (click)="editPublication(publication, i)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button class="edit-button" (click)="deletePublication(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <div class="open-button" fxLayout="column" fxLayoutAlign="center center">
                                    <mat-icon *ngIf="publicationOpen === publication" (click)="closePublication()">
                                        keyboard_arrow_up
                                    </mat-icon>
                                    <mat-icon *ngIf="publicationOpen !== publication"
                                        (click)="openPublication(publication)">
                                        keyboard_arrow_down
                                    </mat-icon>
                                </div>
                            </div>
                        </div>


                        <div [froalaView]="publication.description" *ngIf="publicationOpen === publication"></div>
                    </div>

                    <div class="add-button shadowed-short border-round"
                        (click)="editPublication(newPublication, publicationsLength)" fxLayout="row"
                        fxLayoutAlign="center center">
                        <h2>
                            Publikation hinzufügen
                        </h2>
                        <mat-icon>
                            add_circle
                        </mat-icon>
                    </div>
                </div>

                <div class="profile-content research-content" *ngIf="sectionShown === 'Projektreferenzen'">
                    <div class="add-button-small" fxLayout="column" fxLayoutAlign="start end">
                        <a (click)="editProject(newProject, projectsLength)">Projektreferenz hinzufügen</a>
                    </div>
                    <div class="content-card shadowed-short border-round" fxLayout="column"
                        *ngFor="let project of (currentProfile$ | async).projects; let i = index">
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <h2 [ngClass]="{'border-bottom': projectOpen === project}">{{ project.title }}</h2>
                            <div fxLayout="row" class="action-buttons">
                                <button class="edit-button" (click)="editProject(project, i)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button class="edit-button" (click)="deleteProject(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <div class="open-button" fxLayout="column" fxLayoutAlign="center center">
                                    <mat-icon *ngIf="projectOpen === project" (click)="closeProject()">keyboard_arrow_up
                                    </mat-icon>
                                    <mat-icon *ngIf="projectOpen !== project" (click)="openProject(project)">
                                        keyboard_arrow_down
                                    </mat-icon>
                                </div>
                            </div>
                        </div>
                        <div [froalaView]="project.description" *ngIf="projectOpen === project"></div>
                    </div>

                    <div class="add-button shadowed-short border-round"
                        (click)="editProject(newProject, projectsLength)" fxLayout="row" fxLayoutAlign="center center">
                        <h2>
                            Projektreferenz hinzufügen
                        </h2>
                        <mat-icon>
                            add_circle
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>