<app-currentpage *ngIf="!isDialog" [currentPage]="currentPage"></app-currentpage>

<div class="mat-typography" [ngClass]="{'app-container': !isDialog}">
    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            I. Präambel
        </mat-expansion-panel-header>
        <p> Eine vertrauensvolle Zusammenarbeit beginnt für uns bereits im Kleinen. Das beinhaltet für uns auch
            den Schutz Ihrer Daten von Anfang an. Mit dieser Datenschutzerklärung möchten wir Sie daher über
            Art, Umfang und Zweck der Verarbeitung Ihrer personenbezogenen Daten aufklären, die durch den Besuch
            unserer Website vorgenommen wird.<br>
            Die nachfolgenden Informationen basieren auf den Vorgaben der Datenschutzgrundverordnung der
            Europäischen Union (im Folgenden: DSGVO).
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>II. Allgemeines</mat-expansion-panel-header>
        <p> a. Verantwortlicher<br>
            Verantwortlicher im Sinne der DSGVO ist die:<br><br>
            Edecy UG (haftungsbeschränkt)<br>
            vertreten durch die Geschäftsführer: Florian Otto & Fabian Schmidt-Skipiol<br>
            Chausseestr. 88<br>
            10115 Berlin<br>
            <br><br>
            Tel.: +49 (0)30 8632151 80<br>
            E-Mail: info@edecy.de<br><br>

            b. Datenschutzbeauftragter<br><br>
            Bei Fragen zum Datenschutz wenden Sie sich gern direkt an uns.<br><br>
            c. Datenarten<br>
            <br>Auf unserer Website verarbeiten wir regelmäßig folgende Datenarten:
            <br>- Bestandsdaten (Daten, die für die Begründung, inhaltliche Ausgestaltung, Änderung oder
            Beendigung eines Vertragsverhältnisses notwendig sind; bspw. Name und Adresse)
            <br>- Kontaktdaten (Daten, unter denen man Sie oder Ihr Unternehmen bzw. Ihre Hochschule erreichen
            kann; bspw. E-Mail-Adresse oder Telefonnummer)
            <br>- Inhaltsdaten (Inhalte von übertragenen Nachrichten und Ihrer Gesuche; bspw. Texte, die Sie
            eingeben, Bilder, Videos)
            <br>- Nutzungsdaten (technische Informationen über bspw. Zugriffszeiten und besuchte Websites)
            <br>- Kommunikationsdaten (Daten, die uns Informationen über den Kommunikationsweg geben, bspw. der
            von Ihnen verwendete Browser, Geräte-Informationen aber auch IP-Adressen)
            <br>Im Rahmen von geschäftsbezogenen Verarbeitungen fallen zusätzlich folgende Datenarten an:
            <br>- Vertragsdaten (Vertragstext und -gegenstand, Laufzeit, etc.)
            <br>- Zahlungsdaten (bspw. Bankverbindungen und Buchungshistorie)<br><br>
            d. Betroffene Personengruppen & allg. Zweck der Verarbeitung<br><br>
            Personenbezogene Daten werden von den Nutzern dieser Website erhoben. Die von Ihnen erhobenen Daten
            werden zur Verfügungstellung dieser Website und zur Beantwortung von Kontaktanfragen verarbeitet.
            Darüber hinaus erfassen wir einige Daten zum Zwecke der Reichweitenmessung und um unser Angebot noch
            attraktiver für unsere Kunden zu gestalten. Welche Daten konkret erfasst werden, auf welche
            Rechtsgrundlage dies geschieht und wie wir diese verarbeiten entnehmen Sie bitte den speziellen
            Erläuterungen im Verlauf dieser Datenschutzerklärung.<br><br>
            e. Widerrufsrecht<br><br>
            Sie haben das Recht jederzeit ohne Angaben von Gründen eine etwa erteilte Einwilligung gem. Art. 7
            Abs. 3 DSGVO mit Wirkung für die Zukunft zu widerrufen. Der Widerruf ist nicht an eine bestimmte
            Form gebunden und wird unabhängig von dem benutzen Medium mit Zugang wirksam und von uns beachtet.
            Zu Ihrer und unserer Arbeitserleichterung bitten wir den Widerruf jedoch an folgende E-Mail-Adresse
            zu senden: info@edecy.de.<br><br>
            f. Cookies<br><br>
            Wir verwenden auf unserer Website sogenannte „Cookies“. Wir weisen darauf zu Beginn der Website in
            einer entsprechenden Einblendung hin. Dies sind kleine Textdateien, welche lokal auf Ihrem Endgerät
            gespeichert werden und grundsätzlich auch Daten über den Besuch auf der jeweiligen Website hinaus
            bei Ihnen hinterlegen können. „Cookies“ dienen im Allgemeinen dazu, einen Nutzer auf einer Website
            wieder zu erkennen und Ihm so beispielsweise die erneute Eingabe von Informationen oder
            Einstellungen zu ersparen. Sie können jedoch auch als sogenannter „Sessions-Cookie“ lediglich für
            die Dauer des Besuchs auf einer Website bei Ihnen hinterlegt werden und beispielsweise zur korrekten
            Funktionalität des Warenkorbs eines Webshops dienen. Ein solcher „Session-Cookie“ wird mit dem
            Beenden Ihres Browsers automatisch entfernt. Welche Cookies verwendet werden, welche Daten
            hinterlegt werden und zu welchem Zweck diese verwendet werden, entnehmen Sie bitte den nachfolgenden
            Ausführungen.<br>
            Sollten Sie generell auf die Nutzung von Cookies verzichten wollen, so bieten die gängigen Browser
            auch diese Option an. Wir weisen jedoch darauf hin, dass dies unter Umständen die Funktionalität
            dieser und anderer Websites beeinträchtigen kann.<br>
            Daneben haben Sie auch die Möglichkeit, dem Setzen eines Cookies von einigen größeren Anbietern zu
            Zwecken des Online-Marketings und des Trackings präventiv zu widersprechen. Diese Möglichkeit bieten
            zum einen die europäische Website <a href="http://www.youronlinechoices.com"
                target="_blank">http://www.youronlinechoices.com</a> oder die US-amerikanische Website
            <a href="http://www.aboutads.info/choices/" target="_blank">http://www.aboutads.info/choices/</a>
            .<br><br>
            g. Genereller (Werbe-) Widerspruch<br><br>
            Sie haben gem. Art. 21 Abs. 1 DSGVO jederzeit das Recht, der Verarbeitung Ihrer personenbezogenen
            Daten die aufgrund von Art. 6 Abs. 1 S. 1 e) oder f) erfolgt, aus Gründen zu widersprechen, die sich
            aus ihrer besonderen Situation ergeben.<br>
            Sie haben zudem gem. Art. 21 Abs. 2 DSGVO jederzeit das Recht, der Verarbeitung Ihrer
            personenbezogenen Daten zum Zwecke der Direktwerbung zu widersprechen.<br>
            Auch der Widerspruch ist nicht an eine bestimmte Form gebunden und wird unabhängig von dem benutzen
            Medium mit Zugang wirksam und von uns beachtet. Zu Ihrer und unserer Arbeitserleichterung bitten wir
            den Widerruf jedoch an folgende E-Mail-Adresse zu senden: info@edecy.de.<br><br>
            h. Generelle Lösch- und Sperrvorgabe<br><br>
            Ihre personenbezogenen Daten löschen bzw. sperren wir gem. Art. 17 und 18 DSGVO. Die Daten werden
            von uns insbesondere gelöscht, sobald der Zweck, für den wir die Daten ursprünglich erhoben haben,
            weggefallen ist, es sei denn, dass wir nach Artikel 6 Abs. 1 S. 1 c) DSGVO aufgrund von steuer- und
            handelsrechtlichen Aufbewahrungs- und Dokumentationspflichten zu einer längeren Speicherung
            verpflichtet sind. Im Falle von gesetzlichen Aufbewahrungspflichten sperren wir die Daten, sodass
            wir diese ausschließlich zu dem gesetzlich vorgeschriebenen Zweck verarbeiten werden.<br><br>
            i. Datensicherheit<br><br>
            Um die Sicherheit Ihrer Daten zu gewährleisten, verwenden wir zur Übertragung der Website-Inhalte
            als auch der von Ihnen eingegebenen Daten das verbreitete Secure-Socket-Layer-Verfahren
            (SSL-Verfahren). Die zwischen Ihnen und unserem Hostinganbieter übertragenen Daten werden mit einer
            256-bit Verschlüsselung codiert. Falls Ihr Browser keine 256-bit Verschlüsselung unterstützt,
            greifen wir stattdessen auf 128-bit v3 Technologie zurück.

        </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>III. Ihre Rechte</mat-expansion-panel-header>
        <p>
            Sinn und Zweck unserer Bemühungen um den Schutz Ihrer Daten ist stets Ihre vollständige Herrschaft
            über die von Ihnen gelieferten Angaben sicherzustellen. Sie haben daher, neben den bereits oben
            dargestellten Rechten, auch darüber hinausgehende Rechte in Bezug auf die bei uns hinterlegten
            personenbezogenen Daten, die wir im Folgenden gern einzeln beschreiben.<br><br>
            a. Recht auf Bestätigung der Verarbeitung<br><br>
            Sie haben gem. Art 15 DSGVO das Recht, von uns eine Bestätigung über die Verarbeitung Ihrer
            personenbezogenen Daten zu bekommen.<br><br>
            b. Recht auf Auskunft<br><br>
            Sollten wir personenbezogene Daten von Ihnen verarbeiten, haben Sie gem. Art. 15 DSGVO zudem das
            Recht zu erfahren, welche Daten uns vorliegen. Wir werden Ihnen gem. den Vorgaben des Art. 15 DSGVO
            die Informationen zur Verfügung stellen.<br><br>
            c. Recht auf Vervollständigung & Berichtigung<br><br>
            Sie haben gem. Art. 16 DSGVO das Recht, von uns unverzüglich die Korrektur der Sie betreffenden
            unrichtigen personenbezogenen Daten zu verlangen. Darüber hinaus haben Sie das Recht, die bei uns
            hinterlegten unvollständigen Daten zu vervollständigen.<br><br>
            d. Recht auf Löschung<br><br>
            Sie haben unter den Voraussetzungen des Art. 17 DSGVO das Recht, von uns unverzüglich die Löschung
            Ihrer personenbezogenen Daten zu verlangen.<br><br>
            e. Recht auf Einschränkung der Verarbeitung<br><br>
            Sie haben unter den Voraussetzungen des Art. 18 DSGVO das Recht, von uns unverzüglich die
            Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.<br><br>
            f. Recht auf Datenübertragbarkeit<br><br>
            Sie haben gem. Art. 20 DSGVO das Recht, die Sie betreffenden personenbezogenen Daten von uns in
            einem strukturierten, gängigen und maschinenlesbaren Format bereitgestellt zu bekommen und zu
            verlangen, dass diese einem Dritten ohne Behinderung bereitgestellt werden. Einschränkungen dieses
            Rechts können sich aus Art. 20 DSGVO ergeben.<br><br>
            g. Beschwerderecht<br><br>
            Sie haben gem. Art. 77 DSGVO das Recht, Beschwerde bei der zuständigen Aufsichtsbehörde
            einzureichen. Die zuständige Behörde erreichen Sie unter folgender Adresse: Berliner Beauftragte für
            Datenschutz und Informationsfreiheit, Friedrichstr. 219, 10969 Berlin, Tel.: +49 (0) 30 138890,
            E-Mail: mailbox@datenschutz-berlin.de.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>IV. Verarbeitung zum Zwecke der technischen Funktionalität
        </mat-expansion-panel-header>
        <p>
            a. Hosting der Website<br><br>
            Um Ihnen diese Website zur Verfügung stellen zu können, arbeiten wir mit dem Hostinganbieter Wix.com
            Inc. (Wix.com Inc. , 500 Terry A. Francois Boulevard, 6th Floor, San Francisco, CA, 94158)
            zusammen.<br>
            Dieser liefert die Infrastruktur für den störungsfreien Betrieb dieser Website und stellt mit
            regelmäßigen Wartungen sicher, dass Ihre Daten nicht verloren gehen. Um den Schutz Ihrer Daten und
            die Einhaltung von Datenschutzstandards zu gewährleisten, hat sich unser Hostinganbieter u.a. dem
            Privacy-Shield Abkommen unterworfen und sich freiwillig zur Einhaltung der europäischen
            Datenschutzrichtlinien verpflichtet. Der aktuelle Status der Mitgliedschaft kann hier eingesehen
            werden: <a href="https://www.privacyshield.gov/participant?id=a2zt0000000GnbGAAS&status=Active"
                target="_blank">https://www.privacyshield.gov/participant?id=a2zt0000000GnbGAAS&status=Active</a>
            . Nähere
            Informationen zum Thema Datenschutz bei unserem Hostinganbieter erhalten Sie unter folgender
            Website: <a href="https://de.wix.com/about/privacy" target="_blank">https://de.wix.com/about/privacy</a>
            .<br>
            Dieser verarbeitet auf der Grundlage unseres berechtigten Interesses gem. Art. 6 Abs. 1 f) DSGVO an
            der Aufrechterhaltung und des Betriebs, sowie der Sicherheit dieser Website in unserem Auftrag
            Bestands-, Kontakt-, Inhalts-, Vertrags-, Nutzungs- und Kommunikationsdaten der Nutzer dieser
            Website.<br>
            Daneben entstehen bei jedem Besuch unserer Website Nutzungsdaten. Diese beinhalten insb. den Namen
            der aufgerufenen Website, heruntergeladene Dateien, Datum und Uhrzeit des Abrufs, jeweils
            übertragene Datenmengen, Meldungen über den erfolgreichen Aufruf der Website, verwendeter Browsertyp
            & Betriebssystem, die zuvor besuchte Seite, die IP-Adresse und den benutzten Provider. Diese
            verarbeiten wir bzw. unser Hostinganbieter in unserem Auftrag und auf der Grundlage unseres
            berechtigten Interesses gem. Art. 6 AbS. 1 f) DSGVO an dem Schutz vor Missbrauch und aus
            Sicherheitsgründen. Die personenbezogenen Daten werden, mit Ausnahme von solchen, deren weitere
            Speicherung zu Beweissicherungszwecken erforderlich sind, für die Dauer von 7 Tagen gespeichert und
            sodann automatisch gelöscht.<br><br>
            b. Profil- und Nutzerdaten<br><br>
            Bei der Registrierung auf unserer Website sind verschiedene Daten zur eindeutigen Erkennbarkeit und
            Kommunikation mit unseren Kunden notwendig. Ohne diese ist eine Kommunikation auf unserer Plattform
            auch mit anderen Kunden nicht möglich. Die personenbezogenen Daten (bspw. Anzeigename,
            E-Mail-Adresse, laufende Kommunikation) werden von uns für die Dauer der Mitgliedschaft gespeichert.
            Entscheidet sich ein Kunde für das Verlassen unserer Plattform, so wird sein Konto zunächst inaktiv
            geschaltet und geschaltet Gesuche sind nicht länger sichtbar. Nach dem Ablauf von 3 Monaten löschen
            wir die vorhandenen Daten auf der Webplattform. Lediglich Daten, die zur Abrechnung notwendig sind,
            halten wir für 10 Jahre seit dem letzten Geschäftsvorfall vor. Diese sind jedoch nicht öffentlich
            einsehbar.<br><br>
            c. Kontaktaufnahme<br><br>
            Wenn Sie mit uns in Kontakt treten möchten, so steht Ihnen hierfür unser Kontaktformular zur
            Verfügung. Die dort erhobenen Daten verarbeiten wir zum Zwecke der Bearbeitung Ihrer Kontaktanfrage
            gem. Art. 6 Abs. 1 S. 1 b) DSGVO. Sollten wir darüber hinaus in geschäftlichem Kontakt bleiben,
            können Ihre personenbezogenen Daten auch im Rahmen des Customer Relationship Managments in einem
            entsprechenden System verarbeitet werden. Sofern die Daten nach Beantwortung Ihrer Anfrage nicht
            mehr erforderlich sind, werden wir diese löschen, sofern keine gesetzliche Archivierungspflichten
            bestehen.<br><br>
            d. Newsletter<br><br>
            Sollten Sie wünschen, über aktuelle Produkte und Informationen auf dem Laufenden zu bleiben, so
            bieten wir Ihnen die Möglichkeit zur Anmeldung zu unserem E-Mail-Newsletter.
            Um sicherzustellen, dass sich kein Dritter mit Ihrer E-Mail-Adresse anmeldet, ist das
            Anmeldeverfahren als sogenanntes „Double-Opt-In“-Verfahren ausgestaltet. Nachdem Sie Ihre
            E-Mail-Adresse in das dafür vorgesehene Feld eingegeben haben und den entsprechenden Button zur
            Anmeldung betätigt haben, erhalten Sie von uns eine E-Mail, die einen Link zur Bestätigung Ihrer
            Anmeldung erhält. Mit der Bestätigung des Links erteilen Sie zugleich Ihre Einwilligung zur weiteren
            Nutzung Ihrer für den Versand notwendigen personenbezogenen Daten. Zum Zwecke der Nachweisbarkeit
            protokollieren wir diese Anmeldung und verarbeiten Anmelde- und Bestätigungszeitpunkt, IP-Adresse
            und die angegebene E-Mail-Adresse auf Grundlage unseres berechtigten Interesses an der
            Nachweisbarkeit einer Anmeldung gem. Art. 6 Abs. 1 S. 1 f) DSGVO. Die von Ihnen angegebene E-Mail
            Adresse, sowie Ihren Namen verwenden wir zum Versand der Newsletter und der persönlichen Anrede Wir
            verarbeiten diese auf Grundlage Ihrer Einwilligung gem. Art. 6 Abs. 1 S. 1 a), Art. 7 DSGVO in
            Verbindung mit § 7 Abs. 2 Nr. 3 UWG, sowie auf Grundlage der gesetzlichen Erlaubnis gem. § 7 Abs. 3
            UWG.<br>
            Sollten Sie die Zusendung des Newsletters in Zukunft nicht mehr wünschen, können Sie das Abonnement
            jederzeit kündigen. Einen entsprechenden Link zur Abmeldung finden Sie jeweils am Ende eines jeden
            Newsletters. Natürlich können Sie uns auch einfach eine E-Mail an folgende Adresse zukommen lassen:
            info@edecy.de.<br>
            Nach der Kündigung können wir Ihren Namen und Ihre E-Mail-Adresse auf Grundlage unseres berechtigten
            Interesses an der Nachweisbarkeit der ehemals gegeben Einwilligung gem. Art. 6 Abs. 1 S. 1 f) DSGVO
            bis zu 3 Jahre speichern. Die Daten werden ausschließlich zu diesem Zweck vorgehalten und sind zur
            Nutzung für andere Zwecke gesperrt.<br>

        </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>V. Verwendung von Diensten Dritter – technische Funktionalität und Information
        </mat-expansion-panel-header>
        <p>
            a. Matomo (Piwik)<br><br>
            Wir setzen auf unserer Website das Open-Source-Tool Matomo (ehemals Piwik) zur Analyse und
            statischen Auswertung der Nutzung unserer Website ein. Die Informationen werden von uns auf
            Grundlage unseres berechtigten Interesses gem. Art. 6 Abs. 1 S. 1 f) DSGVO verwendet, um mehr über
            die Nutzung unserer Website zu erfahren und eine bedarfsgerechte Gestaltung unserer Website zu
            ermöglichen. Dazu wird bei dem Besuch unserer Website ein Cookie gesetzt, welches Informationen über
            die Websitenutzung sammelt und in pseudonymisierter Form an unseren Server überträgt. Ihre
            IP-Adresse wird dabei lediglich anonymisiert erfasst (IP Masking). Die gesammelten Informationen
            werden auf unserem Server zu pseudonymen Nutzungsprofilen zusammengefasst.<br>
            Sollten Sie trotz der Anonym.- bzw. Pseudonymisierung eine Erfassung durch den Cookie nicht
            wünschen, haben Sie zu Beginn der Nutzung unserer Dienste die Möglichkeit der Erfassung gänzlich zu
            widersprechen. Wenn Sie die getroffene Einstellung nachträglich ändern möchten, löschen Sie bitte
            das entsprechende Cookie auf Ihrem Endgerät und laden unsere Seite neu.<br><br>
            Weitere Informationen zum Thema Datenschutz von Matomo finden Sie unter:<br>
            <a href="https://matomo.org/docs/privacy/" target="_blank">https://matomo.org/docs/privacy/</a>
            .<br><br>
            b. Google Analytics<br><br>
            Wir setzen auf unserer Website den Dienst „Google Analytics“ von Google auf der Grundlage unseres
            berechtigten Interesses gem. Art. 6 Abs. 1 S. 1 f) DSGVO ein. Dies ermöglicht uns zu erfahren, was
            für die Besucher unserer Website besonders relevant ist, einen Überblick über unsere Besucherzahlen
            zu erhalten und unser Angebot noch attraktiver zu gestalten. Dieser wird von der Google Inc. (1600
            Amphitheatre Parkway Mountain View, CA 94043 USA; im Folgenden: Google) betrieben. Auch dieser
            Dienst funktioniert nicht ohne den Einsatz von Cookies. Verarbeitet wird die regionale Herkunft des
            Besuchers, dessen Betriebssystem und die Art des Endgeräts. Des Weiteren speichert das Cookie
            Hinweise darauf, wie Sie zu uns gefunden haben, die sog. verweisenden Websites, sowie Zielseiten,
            Klickpfade, Absprungraten und die Verweildauer auf einzelnen Unterseiten.<br>
            Die durch das Cookie erzeugten Informationen werden an einen Server von Google in den USA übertragen
            und dort verarbeitet. Unsere Website ist so konfiguriert, dass Ihre personenbezogenen Daten vor der
            Übertragung in einen Bereich außerhalb des Regelungsbereichs der Europäischen Union oder in anderen
            Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt und damit
            anonymisiert werden (IP-Masking). Die im Rahmen von Google Analytics von Ihrem Browser übermittelte
            IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.<br>
            Google hat zudem das sogenannte Privacy-Shield-Abkommen ratifiziert und sich zur Einhaltung des
            europäischen Datenschutzrechts verpflichtet. Ein entsprechender Nachweis des Status ist unter
            <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active"
                target="_blank">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active</a>
            verfügbar. Wir haben
            zudem mit Google einen Auftragsverarbeitungsvertrag geschlossen, der der Vorlage unter folgendem URL
            entspricht: <a href="http://www.google.com/analytics/terms/de.pdf"
                target="_blank">http://www.google.com/analytics/terms/de.pdf</a>
            .<br>
            Sie können die Erfassung der Daten verhindern, indem Sie das unter dem folgenden Link
            <a href="http://tools.google.com/dlpage/gaoptout?hl=de"
                target="_blank">http://tools.google.com/dlpage/gaoptout?hl=de</a>
            verfügbare Browser-Plugin herunterladen und
            installieren. In diesem Fall wird ein Browser-Cookie gesetzt, dass die Erfassung auf dieser und
            anderen Websites durch Google verhindert.<br>
            Weitere Informationen zu Nutzungsbedingungen und Datenschutz von Google finden Sie unter
            <a href="http://www.google.com/analytics/terms/de.html"
                target="_blank">http://www.google.com/analytics/terms/de.html</a>
            bzw. <a href="https://www.google.de/intl/de/policies/"
                target="_blank">https://www.google.de/intl/de/policies/</a>
            .<br><br>
            c. Google – Content Delivery Network (CDN)<br><br>
            Wir setzen auf unserer Website Ajax- und jQuery-Technologie auf der Grundlage unseres berechtigten
            Interesses an der Optimierung der Ladegeschwindigkeit der Website gem. Art. 6 Abs. S. 1 f) DSGVO
            ein. Die Programmbibliotheken werden hier hierzu unter Nutzung des Google-CDNs von Servern in den
            USA abgerufen, sofern diese nicht bereits zuvor heruntergeladen worden sind. Bei jedem Aufruf
            kontrolliert Ihr Browser ob es Änderungen an den Bibliotheken gibt. Dabei wird Ihre IP-Adresse,
            sowie die besuchte Website an Server von Google in den USA übertragen.<br>
            Weitere Informationen zu Nutzungsbedingungen und Datenschutz von Google finden Sie unter
            <a href="http://www.google.com/analytics/terms/de.html"
                target="_blank">http://www.google.com/analytics/terms/de.html</a>
            bzw. <a href="https://www.google.de/intl/de/policies/"
                target="_blank">https://www.google.de/intl/de/policies/</a>
            .
            d. Google Fonts<br>
            Wir setzen auf unserer Website den Dienst „Google Fonts“ von Google auf der Grundlage unseres
            berechtigten Interesses an einem ansprechenden und kundenfreundlichen Erscheinungsbild der Website
            gem. Art. 6 Abs. 1 S. 1 f) DSGVO ein. Die Einbindung dieser Schriftarten ermöglicht uns, Ihnen eine
            optisch ansprechendere Gestaltung anbieten zu können, als dies mit Standard-Schriftarten möglich
            wäre. Bei jedem Aufruf der Website kontrolliert Ihr Browser ob es Änderungen an den Schriften oder
            der dahinterstehenden CSS-Datei gibt. Dabei wird Ihre IP-Adresse, sowie die besuchte Website an
            Server von Google in den USA übertragen.<br>
            Weitere Informationen zu Nutzungsbedingungen und Datenschutz von Google finden Sie unter
            <a href="http://www.google.com/analytics/terms/de.html"
                target="_blank">http://www.google.com/analytics/terms/de.html</a> bzw. <a
                href="https://www.google.de/intl/de/policies/"
                target="_blank">https://www.google.de/intl/de/policies/</a>.<br><br>
            e. Google Analytics Remarketing<br><br>
            Wir nutzen auf unserer Website zudem den Dienst Google Analytics Remarketing von Google auf der
            Grundlage unseres berechtigten Interesses an einer individuellen und zielgruppenorientierten
            Bewerbung unseres Angebots gem. Art. 6 Abs.1 S. 1 f) DSGVO ein. Dabei können Daten von Google
            Analytics und AdWords zusammengeführt werden. Dies erlaubt uns, Ihnen Werbung anzuzeigen, von der
            wir glauben, dass diese für Sie relevantere Angebote enthält.<br>
            Weitere Informationen zu Nutzungsbedingungen und Datenschutz von Google finden Sie unter
            <a href="http://www.google.com/analytics/terms/de.html"
                target="_blank">http://www.google.com/analytics/terms/de.html</a> bzw. <a
                href="https://www.google.de/intl/de/policies/"
                target="_blank">https://www.google.de/intl/de/policies/</a>.
            Spezielle Informationen zu der Funktionsweise von Google Analytics Remarketing finden Sie unter:
            <a href="https://www.google.de/intl/de/analytics/features/remarketing.html"
                target="_blank">https://www.google.de/intl/de/analytics/features/remarketing.html</a>
            .<br><br>
            f. Schrifttypen von maxcdn – Stackpath<br><br>
            Wir binden auf unserer Website Schrifttypen des Anbieters Fonts Awesome über den Hoster StackPath
            LLC, 2021 McKinney Avenue, Suite 1100, Dallas, Texas 75201, USA (im Folgenden StackPath) auf der
            Grundlage unseres berechtigten Interesses an einem ansprechenden und kundenfreundlichen
            Erscheinungsbild der Website gem. Art. 6 Abs. 1 S. 1 f) DSGVO ein. Die Einbindung dieser
            Schrifttypen ermöglicht uns, Ihnen eine optisch ansprechendere Gestaltung anbieten zu können, als
            dies mit Standard-Schriftarten möglich wäre. Bei jedem Aufruf der Website kontrolliert Ihr Browser
            ob es Änderungen an den Schriften oder der dahinterstehenden CSS-Datei gibt. Dabei kann Ihre
            IP-Adresse, sowie die besuchte Website an Server von Stackpath u.a. in den USA übertragen werden.
            Stackpath hat das sogenannte Privacy-Shield-Abkommen ratifiziert und sich zur Einhaltung des
            europäischen Datenschutzrechts verpflichtet. Ein entsprechender Nachweis des Status ist unter
            <a href="https://www.privacyshield.gov/participant?id=a2zt0000000CbahAAC&status=Active"
                target="_blank">https://www.privacyshield.gov/participant?id=a2zt0000000CbahAAC&status=Active</a>
            verfügbar.<br>
            Weitere Informationen zu Nutzungsbedingungen und Datenschutz von StackPath bzw. dessen Dienst maxcdn
            finden Sie unter <a href="https://www.maxcdn.com/one/faq/"
                target="_blank">https://www.maxcdn.com/one/faq/</a>
            .<br>
            Weitere Informationen zum Datenschutz von HubSpot finden Sie unter <a
                href="https://legal.hubspot.com/de/privacy-policy?__hstc=185665590.e1d52fdea57e4566547d61285db74d3f.1564090221245.1564090221245.1564090221245.1&__hssc=185665590.1.1564090221246&__hsfp=1219487062&_ga=2.245096965.1885501989.1564090222-333952527.1564090222&_gac=1.241829558.1564090222.EAIaIQobChMInoGcjILR4wIVD9-yCh0b8gz6EAAYASAAEgJoBPD_BwE"
                target="_blank">https://legal.hubspot.com/de/privacy-policy?__hstc=185665590.e1d<br>52fdea57e4566547d61285db74d3f.1564090221245.1564090221245.1564090221245.1&__hssc=185665590.1.1564090221246&__hsfp=1219487062&_ga=2.245096965.1885501989.1564090222-333952527.1564090222&_gac=1.241829558.1564090222.EAIaIQobChMInoGcjILR4wIVD9-yCh0b8gz6EAAYASAAEgJoBPD_BwE</a>.
            <br>
            <br><br>g. Facebook-Pixel (Facebook Custom Audiences)<br><br>
            Wir nutzen auf unserer Website Facebook Custom Audiences der Facebook Inc., 1601 South California
            Avenue, Palo Alto, CA 94304, USA (im Folgenden: Facebook). Wir setzen das als Plugin verbaute
            Element auf der Grundlage unseres berechtigten Interesses an der Steigerung der Bekanntheit und der
            Reichweite unserer Website und unseres Unternehmens gem. Art 6 Abs. 1 S. 1 f) DSGVO ein. Bei dem
            Aufruf unserer Website mit dem von uns eingesetzten Plugin wird ein Cookie auf Ihrem Rechner
            gesetzt, durch das Facebook nach dem Einloggen mit Ihrem Account nachvollziehen kann, welche
            Internetseiten sie mit diesem Cookie besucht haben.<br>
            Facebook hat das sogenannte Privacy-Shield-Abkommen ratifiziert und sich zur Einhaltung des
            europäischen Datenschutzrechts verpflichtet. Ein entsprechender Nachweis des Status ist unter
            <a href="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active"
                target="_blank">https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active</a>
            verfügbar.<br>
            Weitere Informationen dem Datenschutz von Facebook finden Sie unter
            <a href="https://de-de.facebook.com/policy.php" target="_blank">https://de-de.facebook.com/policy.php</a>
            .<br><br>
            h. Facebook-Connect<br><br>
            Wir nutzen auf unserer Website den Dienst Facebook Connect. Wir setzen den Service auf der Grundlage
            unseres berechtigten Interesses an der möglichst kundenfreundlichen Bedienbarkeit unserer Website
            gem. Art 6 Abs. 1 S. 1 f) DSGVO ein. Der Dienst erlaubt die einfache und unkomplizierte Anmeldung
            von Facebook-Kunden auch auf unserer Website ohne zusätzliche Anmeldung. Bei der Anmeldung durch
            Facebook Connect werden die IP-Adresse des Kunden, der Zeitpunkt und die Ziel-Seite an Facebook
            übertragen.<br>
            Weitere Informationen dem Datenschutz von Facebook finden Sie unter<br>
            <a href="https://de-de.facebook.com/policy.php" target="_blank">https://de-de.facebook.com/policy.php</a>
            .<br><br>
            i. New Relic<br><br>
            Wir setzen auf unserer Website den NewRelic-Dienst des Anbieters New Relic, Inc., 188 Spear Street,
            Suite 1200, San Francisco, California 94105 (im Folgenden: NewRelic) auf der Grundlage unseres
            berechtigten Interesses gem. Art. 6 Abs. 1 S. 1 f) DSGVO ein. Dies ermöglicht uns zu erfahren, was
            für die Besucher unserer Website besonders relevant ist, einen Überblick über unsere Besucherzahlen
            zu erhalten und unser Angebot noch attraktiver zu gestalten. Auch dieser Dienst funktioniert nicht
            ohne den Einsatz von Cookies. Verarbeitet wird die regionale Herkunft des Besuchers, dessen
            Betriebssystem und die Art des Endgeräts. Des Weiteren speichert das Cookie Hinweise darauf, wie Sie
            zu uns gefunden haben, die sog. verweisenden Websites, sowie Zielseiten, Klickpfade, Absprungraten
            und die Verweildauer auf einzelnen Unterseiten.<br>
            Die von dem Dienst erzeugten Informationen werden an einen Server von NewRelic in den USA übertragen
            und dort verarbeitet. Unsere Website ist so konfiguriert, dass Ihre personenbezogenen Daten vor der
            Übertragung in einen Bereich außerhalb des Regelungsbereichs der Europäischen Union oder in anderen
            Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt und damit
            anonymisiert werden (IP-Masking).<br>
            NewRelic hat zudem das sogenannte Privacy-Shield-Abkommen ratifiziert und sich zur Einhaltung des
            europäischen Datenschutzrechts verpflichtet. Ein entsprechender Nachweis des Status ist unter
            <a href="https://www.privacyshield.gov/participant?id=a2zt0000000TNPiAAO&status=Active"
                target="_blank">https://www.privacyshield.gov/participant?id=a2zt0000000TNPiAAO&status=Active</a>
            verfügbar.
            Weitere Informationen zum Datenschutz von NewRelic finden Sie unter
            <a href="https://newrelic.com/termsandconditions/privacy"
                target="_blank">https://newrelic.com/termsandconditions/privacy</a>
            .<br>
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>VI. Stand und Änderung dieser Datenschutzerklärung</mat-expansion-panel-header>
        <p>
            Diese Datenschutzerklärung hat den Stand März 2020 und ist die derzeit aktuelle Version. Aufgrund
            der Weiterentwicklung unserer Website und Angebote, sowie durch rechtliche Vorgaben kann es jedoch
            jederzeit notwendig werden, diese Datenschutzerklärung zu ändern. Die jeweils aktuelle
            Datenschutzerklärung kann jederzeit unter <a href="https://www.edecy.de/datenschutzerklaerung"
                target="_blank">https://www.edecy.de/datenschutzerklaerung</a>
            abgerufen
            werden.
        </p>
    </mat-expansion-panel>

</div>