<app-currentpage [currentPage]="currentPage" *ngIf="!isDialog"></app-currentpage>

<div class="mat-typography" [ngClass]="{'app-container': !isDialog}">
    <a href="../../../assets/tos/edecy_tos_march2020.pdf" target="_blank">
        <button mat-stroked-button color="primary" class="authButton" style="margin-bottom: 20px;">AGB herunterladen
        </button>
    </a>
    <h3>Edecy UG (haftungsbeschränkt)</h3>

    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            1. Allgemeines, Geltungsbereich
        </mat-expansion-panel-header>
        <p>
            1.1. Die Edecy UG (haftungsbeschränkt) ist eine Online-Plattform zur Vermittlung von
            Forschungskooperationen mit Sitz in Berlin. Sie bietet die Organisation und Durchführung von
            Forschungskooperationen, sowie die damit verbundenen Dienstleistungen an. Für Verträge zwischen der
            Edecy UG (haftungsbeschränkt) (nachfolgend wir, uns oder Edecy) und unseren Kunden über die
            Erbringung von Dienstleistungen, Vermittlung von Forschungskooperationen, sowie Erstellung und
            Überlassung von Unterlagen (nachfolgend: Leistungen) gelten ausschließlich diese Allgemeinen
            Geschäftsbedingungen (nachfolgend AGB).<br><br>
            1.2. Edecy bietet seinen Kunden eine Kontaktdienstleistung in verschiedenen Themenbereichen. Im
            Themenbereich Universität geht es um die Anbahnung von Kooperationen zwischen Universitäten und
            Unternehmen in der Lehre. Im Themenbereich Maschine geht es um die Vermittlung von Mitteln der
            technischen Infrastruktur, also das Vermieten von Maschinen o.ä.. Der Themenbereich Projekt
            beschäftigt sich mit der Vermittlung von Kunden für das Ausführen konkreter
            Forschungsprojekte.<br><br>
            1.3. Edecy erbringt seine Kontaktdienstleistung mit dem Ziel, Kunden untereinander oder Kunden mit
            Unternehmen, Hochschulen und öffentlichen Einrichtungen außerhalb von Edecy zusammenzubringen. Edecy
            stellt hierfür technische Applikationen zur Informationsvermittlung und zur generellen
            Kontaktaufnahme und Kontaktverwaltung auf seinen Webseiten bereit (nachfolgend: Online-Dienste).
            Edecy beteiligt sich inhaltlich nicht am Austausch der Kunden untereinander oder der Kunden mit
            Unternehmen, Hochschulen und öffentlichen Einrichtungen außerhalb von Edecy. Sofern Kunden
            untereinander oder Kunden mit Unternehmen, Hochschulen und öffentlichen Einrichtungen außerhalb von
            Edecy nach der Kontaktdienstleistung durch Edecy Verträge schließen, ist Edecy hieran ohne
            schriftliche Vereinbarung nicht beteiligt.<br><br>
            1.4. Allgemeine Geschäftsbedingungen des Kunden gelten nur insoweit als wir diesen ausdrücklich
            schriftlich zugestimmt haben. Diese AGB gelten insbesondere auch dann für Verträge mit unseren
            Kunden, wenn wir in Kenntnis entgegenstehender oder abweichender Allgemeiner Geschäftsbedingungen
            des Kunden Leistungen vorbehaltlos erbringen. Eine vorbehaltlose Leistungserbringung durch uns
            stellt in diesem Fall keine ausdrückliche Zustimmung zu Allgemeinen Geschäftsbedingungen des Kunden
            dar.

        </p>
    </mat-expansion-panel>


    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            2. Registrierung, Vertragsschluss, Rücktrittsrecht, allg. Leistungserbringung
        </mat-expansion-panel-header>
        <p>
            2.1. Die Nutzung unserer Online-Dienste setzt die Registrierung innerhalb des von Edecy betriebenen
            Online-Portals voraus. Die Registrierung und die Anlage des Nutzerprofils kann von dem Kunden selbst
            oder auf Wunsch durch Edecy für den Kunden vorgenommen werden.<br><br>
            2.2. Unsere Angebote an den Kunden sind freibleibend. Es handelt sich hierbei um unverbindliche
            Aufforderungen an den Kunden, seinerseits ein verbindliches Angebot abzugeben, indem er uns
            gegenüber eine Bestellung aufgibt.<br><br>
            2.3. Durch die Beauftragung gibt der Kunde uns gegenüber ein verbindliches Angebot zum
            Vertragsschluss ab, welches wir innerhalb einer Frist von 2 Wochen nach Eingang annehmen können. Die
            Annahme erfolgt durch Übersendung einer Auftragsbestätigung oder des unterschriebenen Vertrages an
            den Kunden oder durch Erbringung der Leistungen gegenüber dem Kunden.<br><br>
            2.4. Wir sind berechtigt, die zu erbringenden Leistungen selbst, durch verbundene Unternehmen (§§ 15
            ff. AktG) oder durch Unterauftragnehmer zu erbringen.<br><br>
            2.5. (Liefer-)Termine sind unverbindlich, wenn nicht etwas Abweichendes in Schriftform vereinbart
            ist.<br><br>
            2.6. Sind wir aufgrund der nicht richtigen und/oder nicht rechtzeitigen Belieferung durch unsere
            Zulieferer oder durch dauerhafte technische Störungen eines Unterauftragnehmers gehindert, die
            vertraglich geschuldeten Leistungen gegenüber dem Kunden zu erbringen, so sind wir berechtigt, vom
            Vertrag zurückzutreten, sofern ein solches Leistungshindernis nicht durch uns zu vertreten ist.
            Gleiches gilt in Fällen von unvorhersehbaren Betriebsstörungen etwa durch höhere Gewalt, Streik,
            Aussperrungen, Ausfall von Personal ohne Verschulden, behördlichem Eingreifen oder ähnlichen
            Ereignissen. Im Falle des Eintritts eines solchen Leistungshindernisses wird der Kunde unverzüglich
            von uns informiert. Soweit wir in diesem Fall vom Vertrag zurücktreten wollen, werden wir unser
            Rücktrittsrecht unverzüglich ausüben. Die bereits erbrachte Gegenleistung wird dem Kunden
            unverzüglich zurückerstattet.<br><br>
            2.7. Soweit wir uns in Verzug befinden, kann der Kunde nach einer erfolglos verstrichenen, in
            Schriftform gesetzten Nachfrist von mindestens fünfzehn (15) Werktagen den Vertrag ganz oder
            teilweise kündigen. Bereits erbrachte Leistungen werden jedoch gemäß den AGB (ggfs. in Verbindung
            mit einer bereits geschlossenen einzelvertraglichen Vereinbarungen) abgerechnet.

        </p>
    </mat-expansion-panel>


    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>3. Preise, Zahlungsbedingungen, Aufrechnung, Zurückbehaltung
        </mat-expansion-panel-header>
        <p>
            3.1. Es gelten die in unserem Angebot angegebenen Preise. Die Kosten entstehen einmalig und sind
            grds. fällig mit Angebotsannahme, sofern nichts anderes zwischen den Parteien vereinbart wurde. Eine
            abweichende Vereinbarung bedarf mind. der Textform.<br><br>
            3.2. Skonto wird nicht gewährt. Der Abzug von Skonto bedarf einer gesonderten Vereinbarung mit dem
            Kunden.<br><br>
            3.3. Bei gewährtem Bankeinzug (SEPA-Lastschrift) ist der Betrag zu dem von uns mitgeteilten Termin
            fällig. Zur Erleichterung des Zahlungsverkehrs, wird die grundsätzlich 14-tägige Frist für die
            Information vor Einzug einer fälligen Zahlung auf einen Tag vor Belastung verkürzt, sofern der Kunde
            kein Verbraucher ist. Wir sind in der Wahl der Art der Übermittlung der Vorabinformation im Rahmen
            der gesetzlichen Anforderungen frei; diese kann z. B. als Teil der Rechnung oder auch mit anderen
            Schriftstücken zusammen und für mehrere Lastschrifteinzüge im Voraus erfolgen. Der Kunde versichert,
            alle notwendigen Schritte zu unternehmen, um den pünktlichen Zahlungseingang bei uns
            sicherzustellen.<br><br>
            3.4. Für nicht fristgerecht bei uns eingegangene Zahlungen fällt pro angefangener Woche ein
            pauschalisierter Schadensersatz von null Komma fünf (0,5%) Prozent des in Verzug befindlichen
            Betrages an, maximal jedoch fünf (5%) Prozent des in Verzug befindlichen Betrages. Macht Edecy
            darüber hinausgehende Schadensersatzansprüche geltend, wird der pauschalierte Schadensersatz hierauf
            angerechnet. Der Nachweis eines niedrigeren Schadens bleibt dem Kunden unbenommen.<br><br>
            3.5. Der Kunde ist zur Aufrechnung nur berechtigt, soweit seine Gegenansprüche rechtskräftig
            festgestellt, unbestritten oder von uns anerkannt sind.<br><br>
            3.6. Zur Ausübung eines Zurückbehaltungsrechts ist der Kunde nur insoweit befugt, als sein
            Gegenanspruch auf dem gleichen Vertragsverhältnis beruht.
        </p>
    </mat-expansion-panel>


    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>4. Kostenlose Dienste – Edecy „Basic Free“-Modul</mat-expansion-panel-header>
        <p>
            4.1. Die Registrierung auf den Webportalen von Edecy ist kostenlos. Im Account wird ein Kompetenzprofil
            hinterlegt, das entweder von Edecy (kostenpflichtig) oder durch den Kunden erstellt wird. Die durch den
            Kunden zur Verfügung gestellten Informationen sind je nach Nutzereinstellungen öffentlich oder
            teilöffentlich oder nicht einsehbar. Die Angaben sowie die Privatsphäre-Einstellungen können vom Kunden
            jederzeit verändert werden. Der Account dient auch als Kontaktschnittstelle zu Edecy. Über den Account
            können die Partner direkte Lösungsanfragen an Edecy stellen. Im Account werden die Bewertungsergebnisse der
            Matches dokumentiert. Der Partner erhält von Edecy Zugangsdaten zur Nutzung der Edecy-Applikationen. Der
            Zugang zu jedem Partner-Account ist passwortgeschützt.<br><br>
            4.2. Der Kunde benutzt seinen Account bei Edecy, um potenzielle Kunden über das eigene Leistungsangebot zu
            informieren oder seinerseits Kontakt zu anderen Partnern aufzunehmen. Voraussetzung für die Kommunikation
            über die Edecy Plattform ist die Registrierung. Der Partner entscheidet selbst wie lange die Kommunikation
            über die Edecy Plattform abläuft und wann diese extern weitergeführt wird. Edecy stellt lediglich die
            technische Infrastruktur zur Verfügung und ist für das Zustandekommen einer Kooperation nicht
            verantwortlich.<br><br>
            4.3. Der Partner kann angeben über das Erscheinen neuer Anzeigen in bestimmten Themenbereichen informiert zu
            werden. Diese Information erfolgt automatisch über das Edecy-Webportal oder über die angegebene
            E-Mail-Adresse.

        </p>
    </mat-expansion-panel>


    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>5. Kostenpflichtige Dienste</mat-expansion-panel-header>
        <p>
            5.1. Edecy bietet seinen Kunden neben den unter Ziffer 4 beschriebenen Leistungen weitere, kostenpflichtige
            Zusatzprodukte an. Die kostenpflichtigen Module werden für einen Zeitraum von 12 Monaten ab Zahlungseingang
            freigeschaltet und danach nicht automatisch verlängert. Abweichende Regelungen bedürfen der
            Schriftform.<br><br>
            5.2. „Edecy Ramp up“ ist ein kostenpflichtiges Zusatzmodul. Es kann zu allen Angeboten hinzugebucht werden.
            Der Kunde erhält von Edecy innerhalb von 2 Wochen nach Zahlungseingang ein individuelles Profil auf dem
            Edecy Webportal. Die Individualisierung wird durch Edecy auf Basis der vom Kunden gelieferten Daten
            vorgenommen. Geeignet sind hierzu bspw. Beschreibungen des Kunden, Tätigkeitsprofile, sowie Projektbezogene
            Informationen, sowie Broschüren. Daten können Edecy im .docx, .pdf und/oder .jpg Format übersandt werden.
            Edecy ist nicht dazu verpflichtet eigenständige Recherche hinsichtlich des Kundenprofils zu leisten. Die vom
            Kunden gelieferten Daten müssen Edecy spätestens 3 Tage nach Annahme des Angebots zugegangen sein. Der Kunde
            hat kein Anspruch auf die Berücksichtigung von nach diesem Zeitpunkt übersandten Daten und
            Informationen.<br><br>
            5.3. „Edecy Premium“ ist ein kostenpflichtiges Zusatzmodul und enthält alle Leistungen des Basic-Free
            Moduls. Edecy wird das Profil des Kunden so einrichten, dass es durch eine Suche mittels der
            Google-Suchmaschine leichter gefunden werden kann und dadurch zu den höher zu positionierenden
            Suchergebnissen gehört (Suchmaschinenoptimierung). Edecy wird dem Kunden ab der Buchung der Premium Funktion
            regelmäßig Kontaktvorschläge zu den bei Edecy angelegten Gesuchen übermitteln (mind. ein Angebot je Monat,
            sofern ein solches gefunden werden kann; der Vorschlag kann auch aus anderen Netzwerken bzw. Quellen
            stammen, Edecy schuldet lediglich die gründliche Recherche mit einem maximalen Arbeitsaufwand von einer
            Stunde). Zudem wird Edecy maximal drei von dem Kunden geschalteten Gesuche mind. einmal
            monatlich mit Partnern von Edecy (bspw. Branchenverbände, IHKs, Transferstellen, Hochschulen etc.)
            inhaltlich abstimmen, um eine größere Reichweite zu generieren.<br><br>
            5.4. „Edecy Premium Plus“ ist ein kostenpflichtiges Zusatzmodul und enthält alle Leistungen des Basic-Free ,
            sowie des Edecy Premium-Moduls. Zusätzlich wird Edecy ein Exklusiv-Interview in Zusammenarbeit mit dem
            Kunden erstellen und dieses über das Edecy-Webportal publizieren. Die Gesuche des Kunden werden auch
            innerhalb der Edecy-Plattform priorisiert.<br><br>
            5.5. „Edecy Expertenworkshop“ ist eine einmalige kostenpflichtige Zusatzleistung, die sich an Unternehmen
            der Privatwirtschaft richtet. Edecy sucht dabei aktiv für den Kunden einen passenden Kooperationspartner in
            der öffentlichen Hochschullandschaft für ein spezifisches Projekt. Mit diesem Partner wird dann ein
            Expertenworkshop unter Moderation von Edecy organisiert, damit die beiden potentiellen Partnern sich
            kennenlernen und einen Fahrplan für eine Kooperation entwickeln können. Die Leistung von Edecy gilt als
            erbracht, wenn der Kunde dem Expertenworkshop mit einem bestimmten Partner zustimmt und diesen damit als
            qualifiziert für ein Gespräch einstuft.<br><br>
            5.6. „Edecy Kennenlerngespräch mit einem Partner“ ist eine kostenpflichtige Zusatzleistung, die sich an
            Hochschulen, Universitäten, andere öffentliche Einrichtungen und deren Angehörige richtet. Edecy sucht dabei
            aktiv für den Kunden einen passenden Kooperationspartner in der Privatwirtschaft für ein konkretes
            Forschungs- und Entwicklungsvorhaben. Mit diesem Partner wird dann ein Kennenlerngespräch unter Moderation
            von Edecy organisiert. Die Leistung von Edecy gilt als erbracht, wenn der Kunde dem Kennenlerngespräch mit
            einem bestimmten Partner zustimmt und diesen damit als qualifiziert für ein Gespräch einstuft.<br><br>
            5.7. Bei Pflichtverletzungen des Kunden, insbesondere bei Zahlungsverzug, sind wir auch ohne Fristsetzung
            berechtigt, die Leistung zurückzuhalten, einzelne Gesuche oder das Profil inaktiv zu schalten und/oder –
            erforderlichenfalls nach Fristsetzung – vom Vertrag zurückzutreten; der Kunde ist zur Herausgabe der bereits
            gelieferten Unterlagen verpflichtet. Im Herausgabeverlangen der Unterlagen oder dem Inaktiv-Schalten des
            Profils oder einzelner Gesuche liegt keine Rücktrittserklärung unsererseits, es sei denn, dies wird von uns
            ausdrücklich erklärt.<br><br>
            5.8. Die Gefahr des zufälligen Untergangs und der zufälligen Verschlechterung geht im Zeitpunkt der Übergabe
            der Unterlagen an den Kunden oder dessen Erfüllungsgehilfen und bei vereinbarter Lieferung mit Übergabe der
            Unterlagen und Erzeugnisse an das beauftragte Transportunternehmen auf den Kunden über.<br><br>
            5.9. Durch die Anpassungen, Änderungen oder Erweiterungen unserer Online-Dienste können vorübergehende
            Unterbrechungen oder Beeinträchtigungen der Erreichbarkeit auftreten. Sofern möglich wird Edecy die
            technisch notwendigen Ausfallzeiten auf einen Zeitraum zwischen 22:00 und 06:00 Uhr begrenzen. Edecy wird
            dem Kunden etwaige Funktionsstörungen mitteilen, soweit wir davon Kenntnis erlangen.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>6. Änderungen der Leistungen</mat-expansion-panel-header>
        <p>
            6.1. Edecy behält sich das Recht vor, insb. den Leistungsumfang der nicht kostenpflichtigen Elemente
            technischen und wirtschaftlichen Gegebenheiten anzupassen und Dienste ggfs. um zusätzliche
            Funktionen zu erweitern. Insb. ist Edecy berechtigt, das kostenfreie „Edecy Basis-Free“-Modul auf
            ein kostenpflichtiges Model umzustellen. Edecy wird alle Kunden in diesem Fall rechtzeitig
            informieren. Eine Berechnung von bereits erbrachten Leistungen des „Edecy Basis-Free“-Moduls findet
            ebenso wie ein automatischer Wechsel in kostenpflichtige Module nicht statt. Ausschließlich
            kostenlose Profile und damit verbundene Angebote können gelöscht werden. Edecy ist nicht
            verpflichtet mit kostenfreien Profilen verbundene Daten vorzuhalten.<br><br>
            6.2. Sofern der Kunde über die unter Ziffer 5 beschriebene Leistung hinausgehende oder weniger
            Leistungen (insb. individuelle Anpassungen) bzw. Terminverschiebungen wünscht oder solche Mehr- oder
            Minderleistungen bzw. Terminverschiebungen notwendig werden, bedürfen diese eines schriftlichen
            Nachtrags.<br><br>
            6.3. Edecy wird vor Zustimmung zu individuellen Leistungen einen Kostenvoranschlag unterbreiten.
            Sofern von uns abgegebene Aufwandsentschädigungen für einen solchen Nachtrag nicht in Schriftform
            als verbindliche Vertragsgrundlage vereinbart sind, handelt es sich um unverbindliche
            Kostenvoranschläge.
        </p>
    </mat-expansion-panel>


    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>7. Rechte an Arbeitsergebnissen und von Edecy erstellten Unterlagen
        </mat-expansion-panel-header>
        <p>
            7.1. Die von uns erstellten Arbeitsergebnisse (Präsentationen, Kurzbeschreibungen, Interviews etc.)
            bleiben bis zur vollständigen Erbringung der Gegenleistung unser Eigentum.<br><br>
            7.2. An urheberrechtsfähige Arbeitsergebnissen, welche Edecy für Kunden eines kostenpflichtigen
            Modells erstellt hat, räumt Edecy dem Kunden zunächst das nicht ausschließliche und auf die Nutzung
            zum Vertragszweck beschränkte Nutzungsrecht für die Nutzung auf von Edecy betriebenen Plattformen
            ein. Ein darüber hinausgehendes Nutzungsrecht bedarf der schriftlichen Zustimmung durch Edecy.
        </p>
    </mat-expansion-panel>


    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>8. Gewährleistungsansprüche</mat-expansion-panel-header>
        <p>
            8.1. Ist der Kunde kein Verbraucher, können Gewährleistungsansprüche nur unter der Voraussetzung
            geltend gemacht werden, dass der Kunde uns gegenüber seinen Untersuchungs- und Rügeobliegenheiten
            gemäß § 377 HGB ordnungsgemäß nachgekommen ist. Bei der Lieferung und zur Verfügungstellung von
            Software ist der Kunde verpflichtet, diese unverzüglich im Anschluss an die Einräumung der
            Nutzungsmöglichkeit untersuchen zu lassen und erkannte Mängel in Textform unter genauer Beschreibung
            des Fehlers zu rügen. Unterlässt der Kunde die Anzeige, so gilt die Software als genehmigt, es sei
            denn, der Mangel war nicht erkennbar.<br><br>
            8.2. Soweit wir gegenüber dem Kunden zur Nacherfüllung oder Nachbesserung verpflichtet sind, sind
            wir nach unserer Wahl zur Nacherfüllung in Form einer Mangelbeseitigung oder zur Lieferung einer
            neuen mangelfreien Sache berechtigt.<br><br>
            8.3. Schlägt die von uns gewählte Art der Nacherfüllung oder Nachbesserung gegenüber dem Kunden
            fehl, so ist dieser nach seiner Wahl berechtigt, von dem Vertrag zurückzutreten oder Minderung des
            Kaufpreises zu verlangen. Ein Fehlschlag der gewählten Art der Nacherfüllung liegt erst nach dem
            erfolglosen zweiten Versuch vor.<br><br>
            8.4. Ist der Kunde kein Verbraucher, beträgt die Gewährleistungsfrist 12 Monate.<br><br>
            8.5. Ist der Kunde kein Verbraucher, ist Edecy im Rahmen der Nacherfüllung in keinem Fall zur
            erneuten Erbringung der Leistungen (Neuherstellung des Werkes) verpflichtet. Das Verlangen des
            Kunden auf Nacherfüllung bzw. Nachbesserung hat schriftlich zu erfolgen. Uns ist für die
            Nacherfüllung und Nachbesserung eine Frist von 2 Wochen einzuräumen. Schlägt die Nacherfüllung fehl
            bzw. gelingt die Nachbesserung nicht, so steht dem Kunden das Recht zu, zu mindern oder nach seiner
            Wahl vom Vertrag zurückzutreten. Unberührt bleibt das Recht des Kunden Schadensersatz zu
            verlangen.<br><br>
            8.6. Bei der Einräumung der Nutzungsmöglichkeit von Software, sowie des Datahostings der Profile und
            der eingebrachten Daten gelten die gesetzlichen Bestimmungen der §§ 535 ff. BGB. Der
            verschuldensunabhängige Schadensersatzanspruch gem. § 536a Abs. 1 Als. 1 BGB wird ausgeschlossen. Im
            Übrigen finden die Vorschriften der §§ 611 ff. BGB Anwendung.
        </p>
    </mat-expansion-panel>


    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>9. Haftungsbegrenzung</mat-expansion-panel-header>
        <p>
            9.1. Bei einfacher Fahrlässigkeit haftet Edecy – gleich aus welchem Rechtsgrund – nur, wenn eine
            wesentliche Vertragspflicht verletzt wurde (d.h. eine Pflicht, deren Erfüllung die ordnungsgemäße
            Durchführung des Vertrags überhaupt erst ermöglicht und auf deren Einhaltung der Kunde regelmäßig
            vertraut und vertrauen darf). In diesen Fällen ist die Haftung auf den vertragstypischen,
            vorhersehbaren Schaden begrenzt.<br><br>
            9.2. Gegenüber Unternehmern und sonstigen juristischen Personen ist unsere Haftung zudem beschränkt
            auf die maximal unter der jeweiligen Auftragsbestätigung pro Kalenderjahr zu bezahlende
            Vergütung.<br><br>
            9.3. Bei Datenverlust ist unsere Haftung auf den Ersatz des Schadens begrenzt, der bei Vorliegen
            einer ordnungsgemäßen Datensicherung durch den Kunden entstanden wäre.<br><br>
            9.4. Weitergehende Haftungsansprüche des Kunden auf Schaden- oder Aufwendungsersatz – gleich aus
            welchem Rechtsgrund – sind gegenüber Nicht-Verbrauchern ausgeschlossen. Dies gilt insbesondere für
            eine Haftung ohne Verschulden.<br><br>
            9.5. Die Verjährungsfrist für Ansprüche aus Pflichtverletzungen von Edecy beträgt zwölf (12) Monate.
            Ist der Kunde Verbraucher, so gelten die gesetzlichen Fristen.<br><br>
            9.6. Soweit unsere Haftung ausgeschlossen oder beschränkt ist, gilt dies auch für die persönliche
            Haftung von Angestellten, Arbeitnehmern, Mitarbeitern, Vertretern und Erfüllungsgehilfen (insb.
            Rechenzentren und Telekommunikationsdienstleister).<br><br>
            9.7. Die Regelungen gelten für alle Schadenersatzansprüche (insbesondere für Schadensersatz neben
            der Leistung und Schadensersatz statt der Leistung), und zwar gleich aus welchem Rechtsgrund,
            insbesondere wegen Mängeln, der Verletzung von Pflichten aus dem Schuldverhältnis oder aus
            unerlaubter Handlung. Sie gelten auch für den Anspruch auf Ersatz vergeblicher Aufwendungen.<br><br>
            9.8. Die vorgenannten Haftungsbeschränkungen gelten nicht bei Vorsatz, grober Fahrlässigkeit, für
            Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit, bei einer von Edecy
            abgegebenen Garantie sowie in anderen Fällen, in denen das anwendbare Recht eine
            Haftungsbeschränkung nicht zulässt (z.B. Produkthaftungsgesetz).<br><br>
            9.9. Eine Änderung der Beweislast zum Nachteil des Kunden ist mit den vorstehenden Regelungen nicht
            verbunden.

        </p>
    </mat-expansion-panel>


    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>10. Anwendbares Recht, Gerichtsstand, Sonstiges</mat-expansion-panel-header>
        <p>
            10.1. Wir behalten uns sämtliche Rechte an den von uns erstellten, dem Kunden übergebenen
            Abbildungen, Zeichnungen, Kalkulationen, technischen Dokumenten, Quellcodes und sonstigen Unterlagen
            vor. Deren Weitergabe durch den Kunden an Dritte bedarf unserer ausdrücklichen schriftlichen
            Einwilligung.<br><br>
            10.2. Auf das Rechtsverhältnis der Parteien findet ausschließlich das Recht der Bundesrepublik
            Deutschland Anwendung.<br><br>
            10.3. Diese Vereinbarung ist für die Parteien und ihre Rechtsnachfolger bindend. Keine Partei darf
            Rechte oder Pflichten aus dieser Vereinbarung ohne die vorherige schriftliche Zustimmung der anderen
            Partei abtreten oder übertragen.<br><br>
            10.4. Alleiniger Gerichtsstand für alle sich aus dem Vertragsverhältnis ergebenden Streitigkeiten
            ist der Sitz von Edecy in Berlin.

        </p>
    </mat-expansion-panel>
</div>