<div class="filter-card edecy-card">
    <h3>Fachliche Zuordnung</h3>
    <h4>Fachrichtung</h4>
    <mat-select [(ngModel)]="selectedSubject" (selectionChange)="showDisciplines()"
        placeholder="Wählen Sie Ihre Fachrichtung">
        <mat-option *ngFor="let subject of specialties;" [value]="subject.title">
            {{ subject.title }}
        </mat-option>
    </mat-select>

    <div *ngIf="showDisciplineOptions">
        <h4>Disziplin</h4>
        <mat-select [(ngModel)]="selectedDiscipline" (selectionChange)="showSpecialties()"
            placeholder="Wählen Sie Ihre Disziplin">
            <mat-option *ngFor="let discipline of disciplineToShow;" [value]="discipline.index">
                {{ discipline.disciplineTitle }}
            </mat-option>
        </mat-select>
    </div>

    <div *ngIf="showSpecialtyOptions">
        <h4>Spezialisierung</h4>
        <mat-select [(ngModel)]="selectedSpecialty" (selectionChange)="selectSpecialty()"
            placeholder="Wählen Sie Ihre Spezialisierung">
            <mat-option *ngFor="let specialty of specialtiesToShow;" [value]="specialty">
                {{ specialty }}
            </mat-option>
        </mat-select>
    </div>

</div>

<div class="remove-filter" *ngIf="showDisciplineOptions">
    <p (click)="resetFilter()" >Alle Filter entfernen</p>
</div>