h1 {
    margin-bottom: 40px;
}

.forget-password {
    position: absolute;
    left: 25px;
    bottom: 40px;
    text-decoration: none;

    p {
        color: var(--edecy-darkblue);

        &:hover {
            color: var(--edecy-darkblue);
            cursor: pointer;
        }
    }
}

#close-button {
    position: absolute;
    right: 20px;
}

.app-container {
    position: relative;
}

mat-dialog-content {
    position: relative;
}
