<mat-dialog-content>
  <app-currentpage *ngIf="!desktopDialog" [currentPage]="currentPage"></app-currentpage>

  <mat-dialog-actions>
    <button mat-mini-fab class="mat-elevation-z0" color="white" id="close-button" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
  <div class="app-container mat-typography">
    <div>
      <h1 *ngIf="!verifyPage">Melden Sie sich bei Edecy an!</h1>
      <h1 *ngIf="verifyPage">Ihre E-Mail-Adresse wurde bestätigt. Sie können sich nun anmelden.</h1>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="loginForm">
        <mat-form-field>
          <input matInput placeholder="E-Mail" formControlName="email" required>
          <mat-error>Bitte geben Sie Ihre E-Mail-Adresse ein.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Passwort" formControlName="password" autocomplete="current-password" [type]="hide ? 'password' : 'text'"
            required>
          <mat-error>Bitte geben Sie Ihr Passwort ein.</mat-error>
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <div class="errorMessage" *ngIf="(error$ | async) === 'Invalid username/password.'">
          <p class="searchError">Falscher Nutzername oder falsches Passwort. Bitte probieren Sie es erneut.</p>
        </div>

        <button mat-stroked-button color="primary" type="submit" class="authButton submit-button" [disabled]="loginForm.invalid">
          Anmelden
        </button>
      </form>
    </div>

    <a class="forget-password" [routerLink]="['/forgot-password']" (click)="closeDialog()">
      <p>Passwort vergessen?</p>
    </a>
  </div>
</mat-dialog-content>