h2 {
    margin-top: 18px !important;
    margin-bottom: 6px !important;
}

::ng-deep mat-expansion-panel {
    mat-expansion-panel-header { 
      font-size: 12pt!important;
      height: 80px!important;
      padding: 10px!important;
    }
    padding: 0px!important;
    margin: 0px!important;
}

.mat-dialog-container {
  max-height: 60vh !important;
}