.current-page {
  h1,
  button {
    margin: 0 !important;
    background-color: white;
  }
}

.mat-form-field {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.editPage {
  padding: 20px;
}

#close-button {
  float: right;
}

.authButton {
  margin-top: 20px;
}