<app-currentpage [currentPage]="currentPage" fxHide.gt-sm></app-currentpage>

<div class="mat-typography app-container max-width-container">
    <div fxHide.lt-md class="limited-characters">
        <h1 style="margin-top: 0px !important">
            Was machen wir?
        </h1>

        <p>
            Edecy verknüpft als Webplattform universitäre und außeruniversitäre Forschungsinstitute miteinander und mit
            der Privatwirtschaft,
            um eine schnelle und erfolgreiche Suche nach dem passenden Kooperationspartner für Forschungs- und
            Innvoationsprojekte zu ermöglichen.
        </p>

        <h1>
            Unsere Vision
        </h1>

        <p>
            Die Vision ist die umfangreiche Vernetzung aller Forschungstreibenden, um Forschung und Innovation für
            möglichst viele Teilnehmer effizient, schnell und einfach nutzbar zu machen.
        </p>

        <h1>
            Unsere Mission und Aufgabe
        </h1>

        <p>
            Forschung und Innovation sind die Schlüsselfaktoren für geschäftlichen Erfolg in Europa.
            Unternehmen müssen sich stetig verbessern, um hinsichtlich der technologischen Entwicklung immer am Puls der
            Zeit zu bleiben.
        </p>
        <p class="blue">
            Aufbauend auf dem Erreichten ist es das Ziel der Bundesregierung, die vorhandenen Stärken in
            Wissenschaft und Wirtschaft noch besser zu bündeln und dadurch neue Kräfte freizusetzen. (Bundesbericht
            Forschung und Innovation 2018)
        </p>
        <p>
            Angst vor dem Diebstahl geistigen Eigentums und mangelnde Vernetzung sorgen
            aber für kleinteilige Prozesse – viele Unternehmen forschen mit eigenen, oft beschränkten Kapazitäten an
            eigenen Konzepten für den eigenen Erfolg. Gleichzeitig sitzen in den Forschungsinstituten an unseren
            Universitäten schlaue Köpfe, die darauf brennen, ihr Können unter Beweis zu stellen. Kooperationsprojekte
            in Forschung und Entwicklung erhöhen hier die Innovationsfähigkeit und damit die Wettbewerbsfähigkeit
            der Unternehmen deutlich – und nutzen damit auch unserer gesamten Gesellschaft.
        </p>
        <p class="blue">
            Wir wollen ein one-stop-shop für Unternehmen sein, ressourceneffizient und mit wenig Aufwand Forschung und
            Innovation zu treiben und sich wissenschaftlichen Themen zu nähern. Die Forschungsplattform von Edecy dient
            als
            Zentrum, um das alle im Forschungsumfeld relevanten Services aufgespannt werden.
        </p>
        <p>
            Deshalb entwickeln wir eine Plattform mit Hilfe derer über ein System von Such- und Angebotsanzeigen alle
            Teilnehmer blitzschnell Kooperationen einfädelnkönnen. Projektbezogen können dabei im Freitext die
            relevanten
            Informationenaufbereitet, über unser Kategoriensystemeingeordnet und mit Hilfe von Schlagwörtern
            durchsucht
            werden.
        </p>

        <h1>
            Das sind wir
        </h1>
        <div id="das-sind-wir">
            <img src="../assets/images/florian.jpg" alt="Florian Otto, Geschäftsführer" />
            <h1>
                Florian Otto
            </h1>
            <h2>
                Geschäftsführer
            </h2>
            <p>
                Florian hat in vielen Jahren Praxiserfahrung aus der Unternehmenssicht miterlebt, wie schwierig die
                Suche
                nach einem passenden Partner in der Hochschullandschaft sein kann. Seine umfangreiche Erfahrung aus
                verschiedenen IT-Beratungsprojekten setzt er jetzt ein, um mit dieser Plattform dem Problem zu begegnen.
            </p>
            <img src="../assets/images/fabian.jpg" alt="Fabian Schmidt-Skipiol, Geschäftsführer" />
            <h1>
                Fabian Schmidt-Skipiol
            </h1>
            <h2>
                Geschäftsführer
            </h2>
            <p>
                Fabian konnte in der Fördermittelberatung hautnah verfolgen, wie kompliziert die Strukturierung und
                Platzierung von innovativen Projekten und auch die Suche
                nach passenden Projektpartnern ist.
                Mit diesem Projekt bemüht er sich, die volkswirtschaftlichen FuE-Kosten zu reduzieren, um die
                gesellschaftliche Innovationskraft zu steigern.
            </p>
        </div>
    </div>

    <mat-expansion-panel class="mat-elevation-z0" fxHide.gt-sm>
        <mat-expansion-panel-header>
            Was machen wir?
        </mat-expansion-panel-header>

        <p>
            Edecy verknüpft als Webplattform universitäre und außeruniversitäre Forschungsinstitute miteinander und mit
            der Privatwirtschaft,
            um eine schnelle und erfolgreiche Suche nach dem passenden Kooperationspartner für Forschungs- und
            Innvoationsprojekte zu ermöglichen.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0" fxHide.gt-sm>
        <mat-expansion-panel-header>
            Unsere Vision
        </mat-expansion-panel-header>

        <p>
            Die Vision ist die umfangreiche Vernetzung aller Forschungstreibenden, um Forschung und Innovation für
            möglichst viele Teilnehmer effizient, schnell und einfach nutzbar zu machen.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0" fxHide.gt-sm>
        <mat-expansion-panel-header>
            Unsere Mission und Aufgabe
        </mat-expansion-panel-header>

        <p>
            Forschung und Innovation sind die Schlüsselfaktoren für geschäftlichen Erfolg in Europa.
            Unternehmen müssen sich stetig verbessern, um hinsichtlich der technologischen Entwicklung immer am Puls der
            Zeit zu bleiben.
        </p>
        <p class="blue">
            Aufbauend auf dem Erreichten ist es das Ziel der Bundesregierung, die vorhandenen Stärken in
            Wissenschaft und Wirtschaft noch besser zu bündeln und dadurch neue Kräfte freizusetzen. (Bundesbericht
            Forschung und Innovation 2018)
        </p>
        <p>
            Angst vor dem Diebstahl geistigen Eigentums und mangelnde Vernetzung sorgen
            aber für kleinteilige Prozesse – viele Unternehmen forschen mit eigenen, oft beschränkten Kapazitäten an
            eigenen Konzepten für den eigenen Erfolg. Gleichzeitig sitzen in den Forschungsinstituten an unseren
            Universitäten schlaue Köpfe, die darauf brennen, ihr Können unter Beweis zu stellen. Kooperationsprojekte
            in Forschung und Entwicklung erhöhen hier die Innovationsfähigkeit und damit die Wettbewerbsfähigkeit
            der Unternehmen deutlich – und nutzen damit auch unserer gesamten Gesellschaft.
        </p>
        <p class="blue">
            Wir wollen ein one-stop-shop für Unternehmen sein, ressourceneffizient und mit wenig Aufwand Forschung und
            Innovation zu treiben und sich wissenschaftlichen Themen zu nähern. Die Forschungsplattform von Edecy dient
            als
            Zentrum, um das alle im Forschungsumfeld relevanten Services aufgespannt werden.
        </p>
        <p>
            Deshalb entwickeln wir eine Plattform mit Hilfe derer über ein System von Such- und Angebotsanzeigen alle
            Teilnehmer blitzschnell Kooperationen einfädelnkönnen. Projektbezogen können dabei im Freitext die
            relevanten
            Informationenaufbereitet, über unser Kategoriensystemeingeordnet und mit Hilfe von Schlagwörtern
            durchsucht
            werden.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0" fxHide.gt-sm>
        <mat-expansion-panel-header>
            Das sind wir
        </mat-expansion-panel-header>
        <div id="das-sind-wir">
            <img src="../assets/images/florian.jpg" alt="Florian Otto, Geschäftsführer" />
            <h1>
                Florian Otto
            </h1>
            <h2>
                Geschäftsführer
            </h2>
            <p>
                Florian hat in vielen Jahren Praxiserfahrung aus der Unternehmenssicht miterlebt, wie schwierig die
                Suche
                nach einem passenden Partner in der Hochschullandschaft sein kann. Seine umfangreiche Erfahrung aus
                verschiedenen IT-Beratungsprojekten setzt er jetzt ein, um mit dieser Plattform dem Problem zu begegnen.
            </p>
            <img src="../assets/images/fabian.jpg" alt="Fabian Schmidt-Skipiol, Geschäftsführer" />
            <h1>
                Fabian Schmidt-Skipiol
            </h1>
            <h2>
                Geschäftsführer
            </h2>
            <p>
                Fabian konnte in der Fördermittelberatung hautnah verfolgen, wie kompliziert die Strukturierung und
                Platzierung von innovativen Projekten und auch die Suche
                nach passenden Projektpartnern ist.
                Mit diesem Projekt bemüht er sich, die volkswirtschaftlichen FuE-Kosten zu reduzieren, um die
                gesellschaftliche Innovationskraft zu steigern.
            </p>
        </div>
    </mat-expansion-panel>
</div>