<div mat-dialog-content class="mat-typography">
    <button mat-icon-button (click)="closeDialog()" id="closeButton">
        <mat-icon>close</mat-icon>
    </button>
    <div *ngIf="selectedCategory == 'Campus'" class="information">
        <h2>Campus</h2>
        <p>
            "Campus" zeigt alle Anzeigen, die bei Kooperationen mit Hochschulen die Studenten im Fokus haben. <br>
            Denkbar sind z.B. Gastvorträge, studentische Abschlussarbeiten am Unternehmen, gemeinsame Seminare, etc.
        </p>
    </div>
    <div *ngIf="selectedCategory == 'Maschine'" class="information" >
        <h2>Maschine</h2>
        <p>
            Der Reiter "Maschine" zeigt alle Anzeigen, in denen es um das Benutzen ganz bestimmter Mittel der
            technischen
            Infrastruktur geht - warum sollte man eine neue Testreihe in der eigenen Produktionsstätte durchführen, wenn
            Hochschulinstitute oder andere Partner viel besseres Gerät zur Verfügung stellen können?
        </p>
    </div>
    <div *ngIf="selectedCategory == 'Projekt'" class="information">
        <h2>Projekt</h2>
        <p>
            Unter "Projekt" sammeln wir alle Anzeigen in denen es um gemeinsame Forschungsprojekte geht. <br>
            Von Auftragsforschung
            bis zu Verbundprojekten dreht sich hier alles um kooperatives Forschen.
        </p>
    </div>
</div>