body {
    margin: 0px;
    height: 100%;
    background-color: lightgrey;
}

html {
    height: 100%;
}

/* FONT SIZES */
@media screen and (min-width: 960px) and (max-width: 1439px) {
    h1 {
        font-size: 20px !important;
        line-height: 1.3 !important;
        font-weight: 500 !important;
    }

    h2 {
        font-size: 16px !important;
        line-height: 1.3 !important;
        font-weight: 500 !important;
    }

    h3 {
        font-size: 16px !important;
        line-height: 1.3 !important;
        font-weight: 400 !important;
    }

    h4 {
        font-size: 12px !important;
        line-height: 1.3 !important;
        font-weight: 300 !important;
    }

    p {
        font-size: 16px !important;
        line-height: 1.5 !important;
        font-weight: 400 !important;
    }
}

@media screen and (min-width: 1440px) {
    h1 {
        font-size: 25px !important;
        line-height: 1.3 !important;
        font-weight: 500 !important;
    }

    h2 {
        font-size: 20px !important;
        line-height: 1.3 !important;
        font-weight: 500 !important;
    }

    h3 {
        font-size: 16px !important;
        line-height: 1.3 !important;
        font-weight: 400 !important;
    }

    h4 {
        font-size: 12px !important;
        line-height: 1.3 !important;
        font-weight: 300 !important;
    }

    p {
        font-size: 16px !important;
        line-height: 1.5 !important;
        font-weight: 400 !important;
    }
}

h1 {
    color: var(--edecy-darkblue);
}

h2 {
    color: var(--edecy-darkblue);
}

/* Colors */

:root {
    --edecy-blue: #00aadd;
    --edecy-darkblue: #1b223e;
    --edecy-red: #ea504b;
    --edecy-gold: #f8b133;
}

.main-container {
    margin: 20px;
    background-color: white;
    width: calc(100% - 60px);
    padding: 20px;
}

.shadowed-short {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.shadowed-long {
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
}

.border-round {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.story-card {
    background-color: white;
    width: calc(100% - 40px);
    padding: 20px 350px 20px 20px;
    position: relative;
    min-height: 150px;

    h2 {
        margin: 0px !important;
    }

    &:hover {
        -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35) !important;
        -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35) !important;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35) !important;
    }
    
    &.selected {
        height: fit-content;
    }
}
