@import "~@angular/material/theming";

$typographyMobile:  mat-typography-config(
  $font-family: "Ubuntu,Arial,sans-serif",
  $headline: mat-typography-level(20px, 1.3, 700),
  $title: mat-typography-level(18px, 1.3, 500),
  $subheading-2: mat-typography-level(16px, 1.3, 400),
  $subheading-1: mat-typography-level(12px, 1.3, 300),
  $body-2: mat-typography-level(14px, 1.5, 500),
  $body-1: mat-typography-level(14px, 1.5, 400)
);

$custom-background-color: white;

@include mat-core($typographyMobile);
@import "./assets/css/edecy-theme";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@include angular-material-theme($edecy-theme);

/* global styles without colors */
@import "./assets/css/edecy.scss";
