<mat-dialog-content class="mat-typography successMessage">
    <button class="mat-elevation-z0 dialog-close-button" mat-mini-fab color="Disabled" [mat-dialog-close]="true" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>

    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-icon class="checkIcon">
            check_circle
        </mat-icon>
        <h2>
            Vielen Dank für Ihre Bestellung. <br>
            Wir haben Ihre Daten erhalten <br>
            und werden uns in Kürze bei Ihnen melden! <br>
        </h2>
        <button mat-flat-button color="primary" [routerLink]="['/cards/list']" (click)="closeDialog()">Zur Startseite</button>
    </div>

</mat-dialog-content>