<div class="mat-typography main-container shadowed-short" fxLayout="column" fxLayoutGap="30px">
    <h1>User Story
        <span *ngIf="editMode">bearbeiten:</span>
        <span *ngIf="!editMode">anlegen:</span>
    </h1>
    <form [formGroup]="storyForm" fxLayout="column">
        <div class="form-section">
            <h2>Kontext:</h2>
            <p>Bitte wählen Sie den fachlichen Kontext der User Story:</p>
            <mat-select formControlName="mainContext" (selectionChange)="filterSubContexts()"
                placeholder="Wählen Sie den Kontext*">
                <mat-option *ngFor="let context of mainContexts;" [value]="context">
                    {{ context }}
                </mat-option>
            </mat-select>
            <h3>Subkontext:</h3>
            <p>Bitte spezifizieren Sie den Sub-Kontext der User Story:</p>
            <mat-select formControlName="subContext" placeholder="Wählen Sie den Sub-Kontext*"
                (selectionChange)="filterUserRoles()">
                <mat-option *ngFor="let subContext of subContexts;" [value]="subContext">
                    {{ subContext }}
                </mat-option>
            </mat-select>
        </div>

        <div class="form-section">
            <h2>Nutzerrolle</h2>
            <p>Bitte wählen Sie die passende Rolle des Nutzers:</p>
            <mat-select formControlName="userRole"
                placeholder="Nutzerrolle*">
                <mat-option *ngFor="let role of filteredUserRoles;" [value]="role.name">
                    {{ role.name }}
                </mat-option>
            </mat-select>
        </div>

        <div class="form-section">
            <h2>Ziel</h2>
            <p>Bitte geben Sie das Ziel des Nutzers ein:</p>
            <mat-form-field>
                <input matInput placeholder="Ziel des Nutzers*" formControlName="goal">
              </mat-form-field>
        </div>

        <div class="form-section">
            <h2>Grund für das Ziel</h2>
            <p>Bitte geben Sie den Grund für das Ziel ein:</p>
            <mat-form-field>
                <input matInput placeholder="Grund* (startet überlicherweise mit 'damit' oder 'um')"  formControlName="reason">
              </mat-form-field>
        </div>

        <div class="form-section">
            <h2>Akzeptanzkriterien</h2>
            <p>Bitte wählen Sie passende Akzeptanzkriterien oder fügen Sie selbst welche hinzu:</p>
        </div>

        <div class="form-section">
            <h2>Vorschau der Story</h2>
            <app-single-story [storyToDisplay]="storyForm.value" [preview]="true"></app-single-story>
        </div>

        <button mat-raised-button class="save-button" (click)="submitStoryForm()">Speichern</button>
    </form>
</div>